{% extends "layouts/main.html" %}

{% set pageName="What is the registered office address?" %}

{% block beforeContent %}
  {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link.html" %}
{% endblock %}





{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<form class="form" action="/limited-partnership-roa" method="post">
   

{% if (data['registrationOrTransition'] == "registration") %}
  <span class="govuk-caption-l">ACME LIMITED PARTNERSHIP</span>
{% else %}  
  <span class="govuk-caption-l">ACME LIMITED PARTNERSHIP (LP123456)</span>
{% endif %}


<h1 class="govuk-heading-xl">What is the registered office address?</h1>
    <p class="govuk-hint">This must be a physical UK address. For example, you cannot use a PO Box address.</p>
    <p class="govuk-hint">We'll send an authentication code to this address after you submit this statement. This code will be needed for all future filings.
    </p>


<fieldset class="govuk-fieldset">
  <legend class="govuk-visually-hidden">
      What is the registered office address?
  </legend>
  <div class="govuk-form-group">
    <label class="govuk-label" for="address-line-1">
      Property name or number (optional)
    </label>
    <input class="govuk-input" id="address-line-1" name="addressLine1" type="text" autocomplete="address-line1">
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="address-postcode">
      Postcode
    </label>
    <input class="govuk-input govuk-input--width-10" id="address-postcode" name="addressPostcode" type="text" autocomplete="postal-code">
  </div>

  <p><a href="javascript:void(0)">Enter address manually</a><p>

  {{ govukButton({
  text: "Find address"
}) }}
</fieldset>


<!--<div class="govuk-form-group">

<div class="govuk-form-group">
  <label class="govuk-label" for="addressOne">
    Address line 1
  </label>

<input class="govuk-input" id="addressOne" name="addressOne" type="text">

</div>
        
<div class="govuk-form-group">
  <label class="govuk-label" for="addressTwo">
    Address line 2 (optional)
  </label>

<input class="govuk-input" id="addressTwo" name="addressTwo" type="text">

</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="town">
    Town or city
  </label>

<input class="govuk-input" id="town" name="town" type="text">

</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="county">
    County (optional)
  </label>

<input class="govuk-input" id="county" name="county" type="text">

</div>
<div class="govuk-form-group">
  <label class="govuk-label" for="postcode">
    Postcode 
  </label>

<input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text">



{{ govukInsetText({
          html: "<h2 class='govuk-heading-m'>What information we'll show on the public online register</h2>
                <p>To be confirmed.</p>"
        }) }}

      
{{ govukButton({
  text: "Save and continue"
}) }}</div>-->
</form>
    </div>
  </div>

  
{% endblock %}
