{% extends "layouts/main.html" %}

{% set pageName="Test instructions" %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



<h1 class="govuk-heading-xl">Testing instructions</h1>

    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-9">
      <li>Different screens or parts of screens are shown, depending on choices you make and/or values you enter into the prototype.</li>
      <li>Use the <a href="registration-or-transition">test scenario screen</a> to choose a registration, post-registration, or transition journey</li>
      <li>Use the <a href="/manage-prototype/clear-data">Clear data</a> link in the footer to start a fresh journey.</li>
    </ul>



  <h2 class="govuk-heading-m">Sign in to Companies House</h2>

  <p>On the <a href="sign-in">Sign in screen</a>, enter the email address <span class="govuk-!-font-weight-bold">someone@test.com</span>  to see <a href="not-eligible">the screen shown to ineligible users (non-ACSPs)</a>.</p>

  <p><span id="cp-email" class="govuk-visually-hidden">someone@test.com</span> <button id="cp-btn" class="govuk-button govuk-button--secondary">Copy someone@test.com</button></p>


  <h2 class="govuk-heading-m">What is the limited partnership number?</h2>


  <p>Entering any limited partnership number starting with <span class="govuk-!-font-weight-bold">SL</span> or <span class="govuk-!-font-weight-bold">SG</span> will show any screens (or parts of screens) specific to Scottish LPs: this is some additional content around PSCs on the 'Do you have a Companies House personal codes?' screen, and a screen towards the end of the journey where the user is asked to enter the personal codes.</p>

  <p><s>Entering any limited partnership number starting with <span class="govuk-!-font-weight-bold">NL</span> will show any screens (or parts of screens) specific to Northern Irish LPs <span class="govuk-!-font-size-16">more detail to be added<span</s>></p>






  </div>
</div>

<script type="text/javascript">
document.getElementById("cp-btn").addEventListener("click", copy_password);

function copy_password() {
    var copyText = document.getElementById("cp-email");
    var textArea = document.createElement("textarea");
    textArea.value = copyText.textContent;
    document.body.appendChild(textArea);
    textArea.select();
    document.execCommand("Copy");
    textArea.remove();
}
</script>

<script type="text/javascript">
document.getElementById("cp-btn-2").addEventListener("click", copy_password);

function copy_password() {
    var copyText = document.getElementById("cp-lp");
    var textArea = document.createElement("textarea");
    textArea.value = copyText.textContent;
    document.body.appendChild(textArea);
    textArea.select();
    document.execCommand("Copy");
    textArea.remove();
}
</script>

{% endblock %}
