{% extends "layouts/main.html" %}

{% set pageName="Scottish private fund limited partnership name" %}


{% block beforeContent %}
  {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link.html" %}
{% endblock %}





{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/pflp-name" method="post">

        <h1 class="govuk-heading-xl">Scottish private fund limited partnership name</h1>{{ govukInput({
  label: {
    text: "What's the name of the partnership?",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  hint: {
    text: "Do not enter a name ending like Limited Partnership or LP. We'll add this for you."
  },
  id: "lpChooseName",
  name: "lpChooseName",
  suffix: {
    text: "Limited Partnership"
  }
}) }}

{{ govukInsetText({
  html: '<p>‘Same as’ rules now apply to limited partnerships.</p>
  <p>We’ll reject your registration if the name is the same as another registered partnership or company. To check if your preferred name is available, use the <a href="https://find-and-update.company-information.service.gov.uk/company-name-availability" target="_blank">company name availability checker (opens in a new tab)</a>. </p>
  <p>  Read our <a href="https://www.gov.uk/limited-company-formation/choose-company-name" target="_blank">guidance on rules for names (opens in a new tab)</a>. You should <a href="https://www.gov.uk/search-for-trademark" target="_blank">check that the name does not match a current trade mark (opens in a new tab)</a>. If the name you choose does not meet requirements or someone complains that it is ‘too like’ another company name, you may need to change it later.</p>
  '
}) }}






{{ govukRadios({
  name: "nameEnding",
  fieldset: {
    legend: {
      text: "Which private fund limited partnership name ending would you prefer to go on the public record?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "There's no difference between these name endings except how they look."
  },
  items: [
    {
      value: "Limited Partnership",
      text: "Limited Partnership"
    },
    {
      value: "LP",
      text: "LP"
    },   
    {
      value: "L.P.",
      text: "L.P."
    }
  ]
}) }}



    {{ govukButton({
  text: "Save and continue"
}) }}  



</form>
    </div>
  </div>

  <script src="/public/javascripts/lp-name.js"></script>

{% endblock %}
