{% extends "layouts/main.html" %}

{% set pageName="What are the terms of the limited partnership?" %}

{% block beforeContent %}
  {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link.html" %}
{% endblock %}





{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<form class="form" action="/limited-partnership-terms" method="post">
   

{% if (data['registrationOrTransition'] == "registration") %}
  <span class="govuk-caption-l">ACME LIMITED PARTNERSHIP</span>
{% else %}  
  <span class="govuk-caption-l">ACME LIMITED PARTNERSHIP (LP123456)</span>
{% endif %}





{% set specificReveal %}
{{ govukInput({
  label: {
    text: "How many years, from the date the partnership was registered?",
    classes: "govuk-label",
    isPageHeading: true
  },
  
  id: "specific",
  name: "specific",
  classes: "govuk-!-width-one-half"
}) }}
{% endset -%}

{% set endingReveal %}
{{ govukDateInput({
  id: "ending-date",
  namePrefix: "ending-date",
  fieldset: {
    legend: {
      text: "When will the limited partnership end?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    text: "For example, 27 3 2030"
  }
}) }}
{% endset -%}


{{ govukRadios({
  name: "term-of-partnership",
  fieldset: {
    legend: {
      text: "What are the terms of the limited partnership?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  hint: {
    text: "The length of time, if any, for which the limited partnership was entered into."
  },
  items: [
    {
      value: "specific",
      text: "A set term (in years)",
      conditional: {
              html: specificReveal
            }
    },
    {
      value: "ending",
      text: "Ending on a set date",
      conditional: {
              html: endingReveal
            }
    },
    {
      value: "unspecified",
      text: "No set term, at the discretion of general partner"
    }
  ]
}) }}





{{ govukInsetText({
          html: "<h2 class='govuk-heading-m'>What information we'll show on the public online register</h2>
                <p>To be confirmed.</p>"
        }) }}

      
{{ govukButton({
  text: "Save and continue"
}) }}

</form>
    </div>
  </div>

  
{% endblock %}
