{% extends "layouts/main.html" %}

{% block header %}
{{ govukHeader({
  homepageUrl: "/",
    classes: "govuk-header--full-width-border"
}) }}

{{ govukServiceNavigation({
}) }}
{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "Business and self-employed",
      href: "#"
    },
    {
      text: "Running a limited company",
      href: "#"
    }
  ]
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="chs/start" method="post">

      <h1 class="govuk-heading-xl">
        File for a limited partnership
      </h1>

      <p>Use this service to view or update information about a limited partnership, or to file a confirmation statement for a limited partnership.
        
        <p>If you're filing for a limited partnership that was registered before XX DATE, you must <a href="#/">provide new required information</a> first.</p></p>


<p>This service has replaced paper forms LP6, LP8 and SLP CS01. </p>



<h2 class="govuk-heading-m">You must be a Companies House authorised agent to file for a limited partnership </h2>
<p>Anyone can view information about limited partnerships, but only Authorised Corporate Service Providers (ACSPs) can file an updates and confirmation statements. ACSPs are also known as Companies House authorised agents.</p>

<p>
Authorised agents are businesses like accountants, solicitors or company formation agents, that have registered with Companies House to be able to file on behalf of clients. <a href="#/">Find out more about registering as an authorised agent</a>.</p>

<p>If you are someone else involved with the limited partnership, you'll need to find a Companies House authorised agent to file on your behalf.</p>  

<!--[hidden for now unless needed]<p>To find an authorised agent, you should contact agents to check:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>if they are registered as an authorised agent with Companies House, also known as an Authorised Corporate Service Provider (ACSP)</li>
                  <li>if they can offer the services you need</li>
                  <li>how much they charge for their services</li>
                </ul>-->


      <h2 class="govuk-heading-m">What you'll need</h2>

    
<p>You’ll need: </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>to sign in to your Companies House account <!--(it must be linked to an authorised agent account) [This is hidden for now, but could be included if there is  user need]--></li>
            <li>the limited partnership number </li>
           </ul>

<p>We charge a fee for:</p>
           <ul class="govuk-list govuk-list--bullet">
             <li>changing the name of the limited partnership</li>
              <li>designating as a private fund limited partnership (PFLP)</li>
             <li>filing a confirmation statement (unless you've already paid a fee during this payment period)</li>
             
            </ul>

<p>If you need to pay a fee, you'll need a credit or debit card.</p>
  



      {{ govukButton({
        text: "Start now",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">Adapt your device to meet your needs</h2>


      <p class="govuk-body "><a href="https://mcmw.abilitynet.org.uk/" class="govuk-link">Read advice from AbilityNet on how to adapt your device to meet your needs</a>. For example, changing the background colour or text size.</p>


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h3 class="govuk-heading-s">Explore the topic</h3>
<ul class="govuk-list">
  <li>
    <a class="govuk-link govuk-!-font-size-16" href="javascript:void(0)">Running a limited company
</a>
  </li>
</ul>

    </div>

        <div class="govuk-grid-column-one-third-from-desktop">
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h3 class="govuk-heading-s">Related content</h3>
<ul class="govuk-list">
  <li>
    <a class="govuk-link govuk-!-font-size-16" href="javascript:void(0)">Accounts and tax returns for private limited companies
</a>
  </li>
  <li>
    <a class="govuk-link govuk-!-font-size-16" href="javascript:void(0)">Running a limited company: your responsibilities
</a>
  </li>
</ul>

</div>
  </div>




{% endblock %}
