{% extends "layouts/main.html" %}

{% set pageName="Start" %}


{% block header %}
{{ govukHeader({
  homepageUrl: "/",
    classes: "govuk-header--full-width-border"
}) }}

{{ govukServiceNavigation({
}) }}
{% endblock %}


{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "Something",
      href: "#"
    },
    {
      text: "Something",
      href: "#"
    }
  ]
}) }}
{% endblock %}




{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="sign-in" method="post">

      <h1 class="govuk-heading-xl">
        Provide new required information about a limited partnership
      </h1>

     <p>Use this service to provide more information about a limited partnership to confirm it is still active, and to meet new requirements. </p>
     <p>All limited partnerships that were registered between XX DATE and XX DATE must do this. This is due to measures introduced by the Economic Crime and Corporate Transparency (ECCT) Act. </p> 
     
     <p>The transitional period to allow existing partnerships to meet the new requirements will end on XX DATE. If a limited partnership does not provide an update by this date, we will dissolve it and remove it from the register.    
     </p>




      <h2 class="govuk-heading-m">You must be a Companies House authorised agent to use this service</h2>

      <p> Only Authorised Corporate Service Providers (ACSPs) can provide this information about a limited partnership. ACSPs are also known as Companies House authorised agents.</p> 

    <p>
Authorised agents are businesses like accountants, solicitors or company formation agents, that have registered with Companies House to be able to file on behalf of clients. <a href="#/">Find out more about registering as an authorised agent.</a></p>

<p>If you are someone else involved with the limited partnership, you'll need to find a Companies House authorised agent to file on your behalf.</p>  
  


      <h2 class="govuk-heading-m">What you'll need</h2>


 <p>You'll need to provide:</p>
   <ul class="govuk-list govuk-list--bullet">
            <li>the limited partnership number</li>
            <li>a registered email address</li>
            <li>a registered office address - this must be in the jurisdiction where the partnership was formed</li>
            <li>information about all general and limited partners</li>
          </ul>



<!--
  <p><a href="JAVASCRIPT:VOID(0)">Read the transition update guidance</a> to check you have everything you need before you start.</p>
-->

  <p>You'll need to sign in to use this service.</p>
  <p>You can save your answers and resume your application later if you need to.</p>
         



   <!--   <p>Registering takes around 5 minutes.</p> -->

      {{ govukButton({
        text: "Start now",
        isStartButton: true
      }) }}





      <h2 class="govuk-heading-m">Adapt your device to meet your needs</h2>

      <p class="govuk-body "><a href="https://mcmw.abilitynet.org.uk/" class="govuk-link">Read advice from AbilityNet on how to make your device easier to use</a>. For example, learn how to change the background colour or text size.</p>






</form>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h3 class="govuk-heading-s">Explore the topic</h3>
<ul class="govuk-list">
  <li>
    <a class="govuk-link govuk-!-font-size-16" href="javascript:void(0)">Running a limited company
</a>
  </li>
</ul>

    </div>

        <div class="govuk-grid-column-one-third-from-desktop">
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h3 class="govuk-heading-s">Related content</h3>
<ul class="govuk-list">
  <li>
    <a class="govuk-link govuk-!-font-size-16" href="javascript:void(0)">Accounts and tax returns for private limited companies
</a>
  </li>
  <li>
    <a class="govuk-link govuk-!-font-size-16" href="javascript:void(0)">Running a limited company: your responsibilities
</a>
  </li>
</ul>

</div>
  </div>




{% endblock %}