{% extends "layouts/main.html" %}

{% set pageName="Information has already been provided for the limited partnership" %}

{% block header %}
   {% include "/includes/dynamic-service-name.html" %}
{% endblock %}


{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
 {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link-language-toggle.html" %}
{% endblock %}





{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">




      
    <h1 class="govuk-heading-xl">Information has already been provided for the limited partnership</h1> 

     <p class="govuk-body">We've already received a filing with the required information for ACME LIMITED PARTNERSHIP (LP123456). </p>

     <p class="govuk-body"> Once we have accepted this information, it will appear on the public register. You can then make any changes needed using our <a href="https://find-and-update.company-information.service.gov.uk/" class="govuk-link">Find and update company information service</a>.</p>
  
  


    </div>
  </div>
{% endblock %}
