{{ govukHeader({
  homepageUrl: "/",
    classes: "govuk-header--full-width-border"
}) }}

{% if (data['registrationOrTransition'] == "registration") %}

  {{ govukServiceNavigation({
  serviceName: "Register a limited partnership",
  serviceUrl: "/v7/registration/registration-start-page"
  }) }}

{% elif (data['registrationOrTransition'] == "transition") %}

  {{ govukServiceNavigation({
  serviceName: "Provide information about a limited partnership to meet new requirements",
  serviceUrl: "/v7/transition-start-page"
  }) }}

{% elif (data['registrationOrTransition'] == "post") %}
  {{ govukServiceNavigation({
  serviceName: "File for a limited partnership",
  serviceUrl: "/v7/post-transition-start-page"
  }) }}

{% else %}  

  {{ govukServiceNavigation({
    serviceName: "File for a limited partnership",
    serviceUrl: "/"
  }) }}

{% endif %}