{{ govukHeader({
  homepageUrl: "/",
    classes: "govuk-header--full-width-border"
}) }}

{% if (data['registrationOrTransition'] == "registration") %}

  {{ govukServiceNavigation({
  serviceName: "Register a limited partnership",
  serviceUrl: "/"
  }) }}

{% elif (data['registrationOrTransition'] == "transition") %}

  {{ govukServiceNavigation({
  serviceName: "File for a limited partnership",
  serviceUrl: "/"
  }) }}

{% elif (data['registrationOrTransition'] == "post") %}
  {{ govukServiceNavigation({
  serviceName: "File a limited partnership's transition update",
  serviceUrl: "/"
  }) }}

{% else %}  

  {{ govukServiceNavigation({
    serviceName: "File for a limited partnership",
    serviceUrl: "/"
  }) }}

{% endif %}