<div class="webfiling-footer">

        <a class="govuk-link" href="https://ewf-legacy.companieshouse.gov.uk/help/en/stdwf/faqHelp.html">Help</a>

        <a class="govuk-link" href="https://resources.companieshouse.gov.uk/serviceInformation.shtml">Policies</a>

        <a class="govuk-link" href="https://ewf.companieshouse.gov.uk/cookies">Cookies</a>
        
        <a class="govuk-link" href="https://www.gov.uk/contact-companies-house">Contact us</a>
        <a class="govuk-link" href="https://ewf.companieshouse.gov.uk/sframe?name=accessibilityStatement&lang=en">Accessibility statement</a>
        <a class="govuk-link" href="javascript:void(0)">Cymraeg</a>
 </div>
        

 <!-- Old footer -->
<!-- <div class="webfiling-footer">
        <a class="govuk-link" href="javascript:void(0)">Email Companies House</a>
        <a class="govuk-link" href="javascript:void(0)">Phone Companies House</a>
        <a class="govuk-link" href="javascript:void(0)">Help</a>
        <a class="govuk-link" href="javascript:void(0)">Accessibility</a>
        <a class="govuk-link" href="javascript:void(0)">Privacy &amp; policies</a>
        <a class="govuk-link" href="javascript:void(0)">Cookies</a>
        <a class="govuk-link" href="javascript:void(0)">Cymraeg</a>
 </div>
        
 -->