{% extends "layouts/main.html" %}

{% set pageName="You must be a Companies House authorised agent to use this service" %}

{% block header %}
   {% include "/includes/dynamic-service-name.html" %}
{% endblock %}


{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
  {% include "/includes/back-link-language-toggle.html" %}
{% endblock %}





{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="" method="post">



      
    <h1 class="govuk-heading-l">You must be an Authorised Corporate Service Provider (ACSP) to use this service</h1>

    <p class="govuk-body">You cannot use this service, because the email you have signed in with is not linked to an ACSP account.</p>

    <p class="govuk-body">Only ACSPs can file for limited partnerships.</p>

    <p class="govuk-body">ACSPs are individuals or businesses that are registered with a UK Anti-Money Laundering (AML) supervisory body. For example, accountants, solicitors or company formation agents. They have registered with Companies House to be able to file on behalf of clients.</p>

    <h2 class="govuk-heading-s">If you work for a business that is registered as an ACSP</h2>
     
    <p class="govuk-body">Sign in using an email address that is linked to your business's ACSP account. If you don't have one, you'll need to speak to someone in your organisation with 'administrator' or 'account owner' access to the ACSP account.</p>

    <h2 class="govuk-heading-s">If you're an agent, but have not yet registered as an ACSP</h2>

    <p>You or your business will need to <a href="">register as an ACSP</a> before you can file for a limited partnership.</p>

    <h3 class="govuk-heading-s">If you're someone else involved with the limited partnership</h3>

    <p class="govuk-body">You'll need to <a href="https://www.gov.uk/government/publications/list-of-authorised-corporate-service-providers-acsps">find an ACSP</a> to file on your behalf.</p>



<!--Hidden info about public list of authorised agents
  <p>Check the <a href="">public list of Companies House authorised agents</a> to find out if your business is already registered. </p>-->




      <!--
{{ govukButton({
  text: "Continue"
}) }} -->

</form>
    </div>
  </div>
{% endblock %}
