{% extends "layouts/main.html" %}

{% block pageTitle %}
  Service offline - File a confirmation statement
{% endblock %}
{% block signOut %}{% endblock %}
{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <form class="form" action="you-cannot-use-webFiling" method="post">

      <h1 class="govuk-heading-l">
        You can not use WebFiling to file for a Limited Partnership
      </h1>



      <p class="govuk-body">
        If you want to set up, update or dissolve a Limited partnership you need to use the services which can be found through the <a href="" class="govuk-link">Guidance for setting up and running a limited partnership</a>.
      </p>


    </form>
     

    </div>
  </div>
{% endblock %}
