{% extends "layouts/main.html" %}

{% block pageTitle %}
  You can not use WebFiling to file for a Limited Partnership - Companies House - WebFiling
{% endblock %}
{% block signOut %}{% endblock %}
{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <form class="form" action="you-cannot-use-webFiling" method="post">

      <h1 class="govuk-heading-l">
        You can not use WebFiling to file for a limited partnership
      </h1>



      <p class="govuk-body">
        Limited partnership filings are not available in WebFiling. You need to use one of our other services instead.</p>

      <p class="govuk-body">
        For information on how to file, <a href="" class="govuk-link">read the guidance on setting up and running a limited partnership</a>.</p>


    </form>
     

    </div>
  </div>
{% endblock %}
