{% extends "layouts/main.html" %}

{% set pageName=" What is the Standard Industrial Classification (SIC) code?" %}

{% block header %}
   {% include "/includes/dynamic-service-name.html" %}
{% endblock %}

{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
 {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link-language-toggle.html" %}
{% endblock %}





{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<form class="form" action="general-partner-section" method="post">
   

{% if (data['registrationOrTransition'] == "registration") %}
  <span class="govuk-caption-l uppercase"> {{ data['lpChooseName'] }} {{ data['nameEnding'] }}</span>
{% else %}  
  <span class="govuk-caption-l">ACME LIMITED PARTNERSHIP ({{ data['lpNumber'] }})   </span>
{% endif %}      
      

{% call govukFieldset({
  legend: {
    text: "What is the Standard Industrial Classification (SIC) code?",
    classes: "govuk-fieldset__legend--xl",
    isPageHeading: true
  }
}) %}

<p class="govuk-hint" id="sic-hint">You should use the SIC code that best describes the partnership’s nature of business. It does not have to be an exact match.</p>
<p class="govuk-hint govuk-!-margin-bottom-6"><a href="https://resources.companieshouse.gov.uk/sic/" class="govuk-link" rel="noreferrer noopener" target="_blank">Find your SIC code using our look up tool (opens in a new tab)</a>.</p>


{{ govukInput({
  label: {
   text: "Enter your first Standard Industrial Classification (SIC) code",
   classes: "govuk-visually-hidden",
   describedBy: "sic-hint"
  },
  classes: "govuk-input--width-5 govuk-input--extra-letter-spacing",
  id: "sic1",
  name: "sic1",
  inputmode: "numeric",
  type: "text",
  spellcheck: false
}) }}

<p class="govuk-body">You can add up to 3 additional SIC codes (optional)</p>


{{ govukInput({
  label: {
   text: "Enter a second Standard Industrial Classification (SIC) code (optional)",
   classes: "govuk-visually-hidden",
   describedBy: "sic-hint"
  },
  classes: "govuk-input--width-5 govuk-input--extra-letter-spacing",
  id: "sic2",
  name: "sic2",
  inputmode: "numeric",
  type: "text",
  spellcheck: false
}) }}

{{ govukInput({
  label: {
   text: "Enter a third Standard Industrial Classification (SIC) code (optional)",
   classes: "govuk-visually-hidden",
   describedBy: "sic-hint"
  },
  classes: "govuk-input--width-5 govuk-input--extra-letter-spacing",
  id: "sic3",
  name: "sic3",
  inputmode: "numeric",
  type: "text",
  spellcheck: false
}) }}

{{ govukInput({
  label: {
   text: "Enter a fourth Standard Industrial Classification (SIC) code (optional)",
   classes: "govuk-visually-hidden",
   describedBy: "sic-hint"
  },
  classes: "govuk-input--width-5 govuk-input--extra-letter-spacing",
  id: "sic4",
  name: "sic4",
  inputmode: "numeric",
  type: "text",
  spellcheck: false
}) }}

{% endcall %}
      
      
{{ govukInsetText({
          html: "<h2 class='govuk-heading-m'>What information we'll show on the public register</h2>
                <p>We'll show the SIC code (or codes) on the public register.</p>"
        }) }}

      
{{ govukButton({
  text: "Save and continue"
}) }}

</form>
    </div>
  </div>

  
{% endblock %}
