{% extends "layouts/main.html" %}

{% set pageName="What is the registered office address?" %}


{% block header %}
   {% include "/includes/dynamic-service-name.html" %}
{% endblock %}

{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
 {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link-language-toggle.html" %}
{% endblock %}





{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<form class="form" action="/limited-partnership-roa" method="post">
   

{% if (data['registrationOrTransition'] == "registration") %}
  <span class="govuk-caption-l uppercase"> {{ data['lpChooseName'] }} {{ data['nameEnding'] }}</span>
{% else %}  
  <span class="govuk-caption-l">ACME LIMITED PARTNERSHIP ({{ data['lpNumber'] }})   </span>
{% endif %}
<h1 class="govuk-heading-xl">What is the registered office address of the partnership?</h1>

{% if (data['registrationOrTransition'] == "post") %}
<p class="govuk-hint">We'll use this address to send official communications. </p>

<p class="govuk-hint">It must be a physical address in the jurisdiction where the partnership was formed. You cannot use a PO Box address.
</p>

{% elif (data['registrationOrTransition'] == "transition") %}
<p class="govuk-hint">We'll use this address to send official communications. </p>

<p class="govuk-hint">It must be a physical address in the jurisdiction where the partnership was formed. You cannot use a PO Box address.
</p>
{% else %}  

<p class="govuk-hint">We'll use this address to send official communications. </p>

<p class="govuk-hint">It must be a physical address in the jurisdiction where the partnership was formed. You cannot use a PO Box address.
</p>

<p class="govuk-hint">It is not the principal place of business. You'll need to provide this later.
</p>
{% endif %}

<fieldset class="govuk-fieldset">
  <legend class="govuk-visually-hidden">
      What is the registered office address?
  </legend>
  <div class="govuk-form-group">
    <label class="govuk-label govuk-!-margin-top-6" for="roaAddressLine1">
      Property name or number (optional)
    </label>
    <input class="govuk-input" id="roaAddressLine1" name="roaAddressLine1" type="text" autocomplete="address-line1">
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="roaPostcode">
      Postcode
    </label>
    <input class="govuk-input govuk-input--width-10" id="roaPostcode" name="roaPostcode" type="text" autocomplete="postal-code">
  </div>


  {{ govukButton({
  text: "Find address"
}) }}

  <p><a href="limited-partnership-roa-manual">Enter address manually</a><p>

</fieldset>


<!--<div class="govuk-form-group">

<div class="govuk-form-group">
  <label class="govuk-label" for="addressOne">
    Address line 1
  </label>

<input class="govuk-input" id="addressOne" name="addressOne" type="text">

</div>
        
<div class="govuk-form-group">
  <label class="govuk-label" for="addressTwo">
    Address line 2 (optional)
  </label>

<input class="govuk-input" id="addressTwo" name="addressTwo" type="text">

</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="town">
    Town or city
  </label>

<input class="govuk-input" id="town" name="town" type="text">

</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="county">
    County (optional)
  </label>

<input class="govuk-input" id="county" name="county" type="text">

</div>
<div class="govuk-form-group">
  <label class="govuk-label" for="postcode">
    Postcode 
  </label>

<input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text">

-->

{{ govukInsetText({
          html: "<h2 class='govuk-heading-m'>What information we'll show on the public register</h2>
                <p>We'll show the registered office address on the public register.</p>"
        }) }}

      <!--
{{ govukButton({
  text: "Save and continue"
}) }}
-->

</form>
    </div>
  </div>

  
{% endblock %}
