{% extends "layouts/main.html" %}

{% set pageName="Information has already been provided for the limited partnership" %}

{% block header %}
   {% include "/includes/dynamic-service-name.html" %}
{% endblock %}


{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
 {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link-language-toggle.html" %}
{% endblock %}





{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">




      
    <h1 class="govuk-heading-xl">Information has already been provided for the limited partnership</h1> 

     <p class="govuk-body">We already have the required information for ACME LIMITED PARTNERSHIP (LP123456). </p>

     <p class="govuk-body">If the information has changed, you'll need to use our service to <a href="company-number">update information about a limited partnership</a>.</p>
  


    </div>
  </div>
{% endblock %}
