//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

@import "accessible-autocomplete";



//Styles for user bar and language toggle

ul#navigation {
    font-size: 0.9em;
    margin-top: 15px;
    text-align: right;
    font-family: 'GDS Transport', Arial, Helvetica, sans-serif;
    display: block;  
    li {
      display: inline;
      font-size: 19px;
      overflow-wrap: break-word;
      a {margin-left: 0.9em;}
    }
  }

  ul#navigation.language-toggle {  
    display: inline-block;
    float: right;
    margin-bottom: 15px;
  }
ul.language-toggle li {
    font-size: 19px !important;
    span {
      margin-left: 0.5em;
      margin-right:-0.5em;
    }
}


  //Payment

.payment-summary {
  border-top: 2px solid #005ea5;
  padding: 15px;
  background-color: #f8f8f8;
}

.sticky {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0;
}

.card-images {
  position: relative;

  img {
    height: 35px;
  }

  .original-accepted {
    margin: 10px 0 0;
    max-width: 340px;
    position: relative;
    z-index: 1;
  }
}

img.card-image {
  margin: -5px 0 0 8px;
  max-height: 38px;
  padding-top: 2px;
  vertical-align: middle;
}

.ch-idv-accepted {
  padding:0.5em 0.7em;
  border: 5px solid #00703c;
}

.hidden-div {
  display: none;
}

// Making LP names uppercase
.uppercase {text-transform: uppercase;}
  


// UR shortcuts - not part of actual service

.ur-shortcuts {
  margin-top: 3em;
  p, ul, li, a {
  color: #b1b4b6  !important;
  }
}

// Second nationality

/* Hide the link by default */
#second-nationality-link {
  display: none;
}

/* Show the link only when JavaScript is enabled */
.js-enabled #second-nationality-link {
  display: inline;
}

/* Hide the div when JavaScript is enabled */
.js-enabled #second-nationality-div {
  display: none;
}

// Unstyling the GOV Suffix from a text inout (name ending)
.ch-unstyled-suffix {
  border: none;
  background: none;
}

// Styling for alternate name ending pattern
.ch-name-ending {
  border-left: 0;
}

// Styling for hidden (not currently in scope) links on index
.govuk-tabs__panel s, .govuk-tabs__panel s a:any-link {
  color:#727279	;
}