//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

@import "accessible-autocomplete";



//Styles for user bar

ul#navigation {
    font-size: 0.9em;
    margin-top: 15px;
    text-align: right;
    font-family: 'GDS Transport', Arial, Helvetica, sans-serif;
    display: block;    
    li {
      display: inline;
      font-size: 16px;
      overflow-wrap: break-word;
      a {margin-left: 0.9em;}
    }
  }


  //Payment

.payment-summary {
  border-top: 2px solid #005ea5;
  padding: 15px;
  background-color: #f8f8f8;
}

.sticky {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0;
}

.card-images {
  position: relative;

  img {
    height: 35px;
  }

  .original-accepted {
    margin: 10px 0 0;
    max-width: 340px;
    position: relative;
    z-index: 1;
  }
}

img.card-image {
  margin: -5px 0 0 8px;
  max-height: 38px;
  padding-top: 2px;
  vertical-align: middle;
}

.ch-idv-accepted {
  padding-left: 3.5em;
  background: left 1% / 10% 100% no-repeat url("/public/images/green-check-mark.png");
}

  