{% extends "layouts/main.html" %}

{% set pageName="Check your answers" %}

{% block header %}
   {% include "/includes/dynamic-service-name.html" %}
{% endblock %}

{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
 {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link-language-toggle.html" %}
{% endblock %}




{% set mainClasses = "govuk-main-wrapper--l" %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l"> GLOBALTECH</span>
     <h1 class="govuk-heading-l">Check your answers before submitting this update</h1>

     {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}


 {% set todayDate = "now" | govukDate %}
      {% set fallbackDate = "5 June 2025" %}
      {% set todayHtml =  (todayDate or fallbackDate) %}
      {{ govukSummaryList({
              classes: "govuk-!-margin-bottom-6",
              rows: [
                {
                  key: {
                    text: "Name"
                  },
                  value: {
                    text: "GlobalTech"
                  }
                },
                        {
                  key: {
                    text: "Legal form or corporate identity"
                  },
                  value: {
                    text: data['gp1LegalForm'] or "Private limited company"
                  }
                },
                {
                  key: {
                    text: "Governing law"
                  },
                  value: {
                    text: data['gp1GoverningLaw'] or "Companies Act 2006"
                  }
                },
                    {
                  key: {
                    text: "Register"
                  },
                  value: {
                    text: data['gp1Register'] or "Companies House public register"
                  }
                },
                    {
                  key: {
                    text: "Country registered in"
                  },
                  value: {
                    text: data['gp1CountryRegistered'] or "United Kingdom"
                  }
                },
                {
                  key: {
                    text: "Registration number"
                  },
                  value: {
                    text: data['gp1RegistrationNumber'] or "00223344"
                  }
                },
                {
                  key: {
                    text: "Principal office address"
                  },
                  value: {
                    text: "24 Candy Lane, London, W1 3EE, United Kingdom"
                  }
                },
                {
                  key: {
                    text: "Date of change"
                  },
                  value: {
                    html: todayHtml
                  }
                }
          
              ]
            }) }}




  

 <!--  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Correspondence address
    </dt>
    <dd class="govuk-summary-list__value">

     No change to usual residential address 
      {% if  (data['changeUCA']) === "no" %}
            
        Not updated

      {% else %}

      1 Squirrel Avenue, Leeds, LS1 2AB
       
      {% endif %}

    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Georgina Smith correspondence address</span></a>
    </dd>
  </div>
 -->
  

<p class="govuk-body">
  <a href="./../gp-person?from=general-partners-change" class="govuk-link govuk-link--no-visited-state">Delete this update and start again</a>
</p>


      <h2 class="govuk-heading-m govuk-!-padding-top-5">Print or save this page for your records</h2>


<p class="govuk-body">We will not send you or the partnership a copy of this information.
</p>

<!-- {{ govukWarningText({
  text: "If you've updated the general partner's usual residential address, this is the only time we'll show it to you. It's sensitive information, so we will not show it anywhere in our services.
",
  iconFallbackText: "Warning"
}) }} -->



 <!-- Removed December 2025 as the filing is hidden within your filings
  
 <div class="govuk-inset-text">
  If you leave this page, your answers will be saved. We'll give you the option to continue with this filing when you next sign in to this service.
</div> -->

  

<div class="govuk-button-group govuk-!-static-padding-top-5">


        {{ govukButton({
          text: "Submit update",
          href: "confirmation-change-lp-le"
        }) }}

          <button type="button" onclick="window.print()" class="govuk-button govuk-button--secondary">Print this page</button>

</div>



    </div>
  </div>
{% endblock %}
