{% extends "layouts/main.html" %}

{% set pageName="Do you need to update this partner's usual residential address?" %}



{% block header %}
   {% include "/includes/dynamic-service-name.html" %}
{% endblock %}



{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
 {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link-language-toggle.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="stop-screen-no-changes" method="post" class="form">
        

      <h1 class="govuk-heading-l">You need to make an update</h1>


      <p class="govuk-body">You must make an update to the partners details before you submit the update.</p>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Update partner details"
        }) }}

        <a class="govuk-link" href="#">Go back to the register</a>
      </div>


      </form>

    </div>



  </div>


</main>
</div>


{% endblock %}