{% extends "layouts/main.html" %}

{% set pageName="What is their total capital contribution?" %}

{% block header %}
   {% include "/includes/dynamic-service-name.html" %}
{% endblock %}

{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
 {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link.html" %}
{% endblock %}




{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


{{ govukTag({
  text: "Version A",
   classes: "govuk-!-margin-bottom-5"
}) }}

<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
    <h1 class="govuk-fieldset__heading">
      What is their total capital contribution?
    </h1>
  </legend>

{% set otherCurrencyHtml %}
{{ govukSelect({
  id: "otherCurrencySelector",
  name: "otherCurrencySelector",
  label: {
    text: "Select currency",
    classes: "govuk-visually-hidden"
  },
  items: [
    {
      value: "",
      text: "Select currency",
      selected: true
    },
    {
      value: "AED",
      text: "United Arab Emirates dirham (AED)"
    },
    {
      value: "AFN",
      text: "Afghan afghani (AFN)"
    },
    {
      value: "ALL",
      text: "Albanian lek (ALL)"
    },
    {
      value: "etc",
      text: "-- etc --"
    },
    {
      value: "ZWB",
      text: "Zimbabwean bonds (ZWB)"
    }
  ]
}) }}
{% endset -%}



{{ govukInput({
  id: "totalCapitalContribution",
  name: "totalCapitalContribution",
  label: {
    text: "What is their total capital contribution?",
    classes: "govuk-visually-hidden"
  },
  classes: "govuk-input--width-5",
  inputmode: "numeric",
  spellcheck: false
}) }}
      

{{ govukRadios({
  name: "totalCapitalContributionOtherCurrency",
  fieldset: {
    legend: {
      text: "Where do you live?",
      classes: "govuk-visually-hidden"
    }
  },
  items: [
    {
      value: "GBP",
      text: "£ (GBP)"
    },
    {
      value: "EUR",
      text: "€ (EUR)"
    },
    {
      value: "USD",
      text: "$ (USD)"
    },
    {
      value: "otherCurrency",
      text: "Other",
      conditional: {
        html: otherCurrencyHtml
      }
    }
  ]
}) }}

<details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        I need to report a non-monetary capital contribution
      </span>
    </summary>

    {{ govukTextarea({
      name: "moreDetail",
      id: "more-detail",
      label: {
        text: "Enter details of the non-monetary capital contribution",
        classes: "govuk-label--s govuk-!-margin-top-5",
        isPageHeading: true
      },
      hint: {
        text: "For example '6 pigs and 2 chickens'."
      }
    }) }}

</details>

</fieldset>
















{{ govukTag({
  text: "Version B",
   classes: "govuk-!-margin-bottom-5 govuk-!-margin-top-9"
}) }}




{% set GBPHtml %}
{{ govukInput({
  label: {
    text: "Enter the capital contribution amount",
    classes: "govuk-label--s"
  },
  classes: "govuk-input--width-10",
  id: "account-number",
  name: "accountNumber",
  inputmode: "numeric",
  spellcheck: false
}) }}
{% endset -%}

{% set DifferentHtml %}
{{ govukInput({
  label: {
    text: "Enter the capital contribution amount",
    classes: "govuk-label--s govuk-!-margin-top-5"
  },
  classes: "govuk-input--width-10",
  id: "account-number",
  name: "accountNumber",
  inputmode: "numeric",
  spellcheck: false
}) }}

{{ govukSelect({
  id: "otherCurrencySelectorAlt2",
  name: "otherCurrencySelectorAlt2",
  label: {
    text: "Select currency",
    classes: "govuk-visually-hidden"
  },
  items: [
    {
      value: "",
      text: "Select currency",
      selected: true
    },
    {
      value: "AED",
      text: "United Arab Emirates dirham (AED)"
    },
    {
      value: "AFN",
      text: "Afghan afghani (AFN)"
    },
    {
      value: "ALL",
      text: "Albanian lek (ALL)"
    },
    {
      value: "etc",
      text: "-- etc --"
    },
    {
      value: "ZWB",
      text: "Zimbabwean bonds (ZWB)"
    }
  ]
}) }}
{% endset -%}

{% set NonMonetaryHtml %}
    {{ govukTextarea({
      name: "moreDetail",
      id: "more-detail",
      label: {
        text: "Enter details of the non-monetary capital contribution",
        classes: "govuk-label--s govuk-!-margin-top-5",
        isPageHeading: true
      },
      hint: {
        text: "For example '6 pigs and 2 chickens'."
      }
    }) }}
{% endset -%}

{{ govukRadios({
  name: "totalCapitalContributionAlt2",
  fieldset: {
    legend: {
      text: "What is their total capital contribution?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "GBPalternate2",
      text: "A value in £ (GBP)",
      conditional: {
        html: GBPHtml
      }
    },
    {
      value: "different",
      text: "A value in a different currency",
      conditional: {
        html: DifferentHtml
      }
    },
    {
      value: "non",
      text: "A non-monetary value",
      conditional: {
        html: NonMonetaryHtml
      }
    }
  ]
}) }}

    </div>
  </div>
{% endblock %}
