{% extends "layouts/main.html" %}

{% set pageName="Confirmation" %}


{% block header %}
   {% include "/includes/dynamic-service-name.html" %}
{% endblock %}

{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
    {% include "/includes/user-bar.html" %}

  {% include "/includes/back-link-language-toggle.html" %}
{% endblock %}



{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Application complete",
        html: "Your reference number<br><strong>HDJ2123F</strong>"
      }) }}






      <p class="govuk-body">We've received your application to register. We've sent an email to <strong>{{ data['email'] }}</strong> and <strong>{{ data['registeredEmail'] }}</strong> to confirm.</p>


      <h2 class="govuk-heading-m">What happens next</h2>



 <p class="govuk-body">
        We'll process the application as soon as possible. We'll email <strong>{{ data['email'] }}</strong> and <strong>{{ data['registeredEmail'] }}</strong> to let you know if your application has been accepted or rejected.  
      </p>

      <p>This will usually take no more than 3 to 5 working days.</p>

      <!--<p class="govuk-body">
       We'll email <strong>lp@limited-partnership.com</strong> with instructions on how to request an authentication code. This will be needed for all future filings.
      </p>-->
      <!--<p class="govuk-body">
        We'll send an authentication code to the registered office address you've provided. This code will be needed for all future filings.
       </p>-->

       {% if data['registerType'] in ["registerSlp", "RegisterPflpSco", "registerSqp"] or data['lpNumber'].startsWith("SL") %}

       <p>To finish registering the Scottish limited partnership, you'll then need to tell us about any people with significant control (PSCs).</p>

           <h2 class="govuk-heading-m">How to tell us about PSCs</h2>

       
            <ol class="govuk-list govuk-list--number">
             
        
              <li>Find the forms you need at <a href="https://www.gov.uk/government/collections/companies-house-forms-for-scottish-limited-partnerships#people-with-significant-control-(psc)" target="_blank">Companies House forms for Scottish limited partnerships (opens in a new tab)</a>. </li>
              <li><a href="/v6/upload-a-doc/upload-start-page" target="_blank">Upload your forms online (opens in a new tab)</a>.</li>
              
            </ol>


{% else %}

{% endif %}
      <p class="govuk-body">
        <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
      </p>




     
       
      <div class="ur-shortcuts">
      <!-- Not part of ACTUAL screen: only for UR purposes -->
      <p class="govuk-body-s govuk-!-margin-bottom-1">UR shortcuts:</p>
        <ul class="govuk-list govuk-body-s govuk-!-margin-top-1">
          <li><a class="govuk-link" href="emails/application-received-slp">Email - application received</a></li>
          <li><a class="govuk-link" href="emails/application-accepted-slp"> Email - application accepted</a></li>
          <li><a class="govuk-link" href="emails/application-rejected"> Email - application rejected</a></li>
        </ul>
      </div>
      


    </div>
  </div>
{% endblock %}
