{% extends "layouts/main.html" %}

{% set pageName="Are you starting a new registration?" %}

{% block beforeContent %}
  {% include "/includes/back-link.html" %}
{% endblock %}







{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



      <form class="form" action="/starting-new" method="post">

      

{{ govukRadios({
  classes: "govuk-radios--inline",
  name: "changedName",
  fieldset: {
    legend: {
      text: "Are you starting a new registration?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}

{{ govukButton({
  text: "Continue"
}) }}

</form>
    </div>
  </div>

{% endblock %}
