{% extends "layouts/main.html" %}

{% set pageName="Start" %}


{% block header %}
   {% include "/includes/dynamic-service-name.html" %}
{% endblock %}




{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="starting-new" method="post">

      <h1 class="govuk-heading-xl">
        Transition start PLACEHOLDER page
      </h1>


   <p>It takes around XX minutes to use this service.</p>

      {{ govukButton({
        text: "Start now",
        isStartButton: true
      }) }}



      <p class="govuk-body "><a href="https://mcmw.abilitynet.org.uk/" class="govuk-link">Read advice from AbilityNet on how to adapt your device to meet your needs</a>. For example, changing the background colour or text size.</p>





    </div>

   
  </div>

{% endblock %}
