{% extends "layouts/main.html" %}

{% set pageName="Limited partnership name" %}


{% block beforeContent %}
  {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link.html" %}
{% endblock %}





{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/lp-name" method="post">

        <h1 class="govuk-heading-xl">Limited partnership name</h1>{{ govukInput({
  label: {
    text: "What will the name of the limited partnership be?",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  hint: {
    text: "Do not enter a name ending like Limited Partnership or LP. We will add this for you."
  },
  id: "lpChooseName",
  name: "lpChooseName",
  suffix: {
    text: "Limited Partnership"
  }
}) }}

{{ govukDetails({
  summaryText: "Check the limited partnership name against an existing trademark",
  html: 'Use the <a href="https://www.gov.uk/search-for-trademark" target="_blank">trademark search (link opens in a new tab)</a> to check if the limited partnership name matches an existing trademark. If it does, consider choosing a different name. Companies House won&lsquo;t carry out this check for you.'
}) }}



{% set otherHtml %}

{{ govukRadios({
  name: "nameEnding",
  fieldset: {
    legend: {
      text: "What other name ending would you prefer? ",
      isPageHeading: true,
      classes: "govuk-visually-hidden"
    }
  },
  items: [
    {
      value: "Partneriaeth Cyfyngedig",
      text: "Partneriaeth Cyfyngedig"
    },
    {
      value: "PC",
      text: "PC"
    },
    {
      value: "P.C.",
      text: "P.C."
    }
  ]
}) }}
{% endset -%}


{{ govukRadios({
  name: "nameEnding",
  fieldset: {
    legend: {
      text: "Which name ending would you like to go on the public record?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "There is no difference between these options except how they look."
  },
  items: [
    {
      value: "Limited Partnership",
      text: "Limited Partnership"
    },
    {
      value: "LP",
      text: "LP"
    },    {
      value: "L.P.",
      text: "L.P."
    },
    {
      value: "",
      text: "A Welsh name ending",
      conditional: {
        html: otherHtml
      }
    }
  ]
}) }}



    {{ govukButton({
  text: "Save and continue"
}) }}  



</form>
    </div>
  </div>

  <script src="/public/javascripts/lp-name.js"></script>

{% endblock %}
