{% extends "layouts/main.html" %}

{% set pageName="Scottish Limited Partnership name" %}


{% block beforeContent %}
  {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link.html" %}
{% endblock %}





{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/slp-name" method="post">

        <h1 class="govuk-heading-xl">Scottish Limited Partnership name</h1>{{ govukInput({
  label: {
    text: "What is the Scottish Limited Partnership name?",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  hint: {
    text: "Do not enter the Scottish Limited Partnership name ending, such as Limited Partnership, Scottish Limited Partnership, LP, or L.P. in this box. We will add it for you."
  },
  id: "lpChooseName",
  name: "lpChooseName",
  suffix: {
    text: "Limited Partnership"
  }
}) }}

{{ govukDetails({
  summaryText: "Check the Scottish Limited Partnership name against an existing trademark",
  html: 'Use the <a href="https://www.gov.uk/search-for-trademark" target="_blank">trademark search (link opens in a new tab)</a> to check if the Scottish Limited Partnership name matches an existing trademark. If it does, consider choosing a different name. Companies House won&lsquo;t carry out this check for you.'
}) }}






{{ govukRadios({
  name: "nameEnding",
  fieldset: {
    legend: {
      text: "Which Scottish Limited Partnership name ending would you prefer to go on the public record?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "There is no difference between the name ending 'Limited Partnership', 'Scottish Limited Partnership', 'LP', 'L.P.', 'S LP' or 'SLP LP', except for how they look."
  },
  items: [
    {
      value: "Limited Partnership",
      text: "Limited Partnership"
    },
        {
      value: "Scottish Limited Partnership",
      text: "Scottish Limited Partnership"
    },
    {
      value: "LP",
      text: "LP"
    },   
    {
      value: "L.P.",
      text: "L.P."
    },
        {
      value: "S LP",
      text: "S LP"
    },
        {
      value: "SLP LP",
      text: "SLP LP"
    }
  ]
}) }}




    {{ govukButton({
  text: "Save and continue"
}) }}  



</form>
    </div>
  </div>

  <script src="/public/javascripts/lp-name.js"></script>

{% endblock %}
