{% extends "layouts/main.html" %}

{% set pageName="Which type of people with significant control (PSC) do you need to add?" %}

{% block header %}
   {% include "/includes/dynamic-service-name.html" %}
{% endblock %}

{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
 {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link-language-toggle.html" %}
{% endblock %}




{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/psc-choice" method="post">



{% if (data['registrationOrTransition'] == "registration") %}
  <span class="govuk-caption-l uppercase"> {{ data['lpChooseName'] }} {{ data['nameEnding'] }}</span>
{% else %}  
  <span class="govuk-caption-l">ACME LIMITED PARTNERSHIP ({{ data['lpNumber'] }})   </span>
{% endif %}


{{ govukRadios({
  name: "pscType",
  value: data['pscType'],
  fieldset: {
    legend: {
      text: "Which type of person with significant control (PSC) do you need to add?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  hint: {
    text: "You can add more later."
  },

  items: [
    {
      value: "person",
      text: "An individual person"
    },
    {
      value: "entity",
      text: "A relevant legal entity (RLE)"
    },   
    {
      value: "orp",
      text: "An other registrable person (ORP)"
    }
  ]
}) }}
      
<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      What is an other registrable person?
    </span>
  </summary>
  <div class="govuk-details__text">
    An other registrable person (ORP) is:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>a corporation sole</li>
  <li>a government or government department of a country or territory or a part
of a country or territory</li>
  <li>an international organisation whose members include two or more countries
or territories (or their governments)</li>
<li>a local authority or local government body in the UK or elsewhere</li>
  </div>
</details>

{{ govukButton({
  text: "Save and continue"
}) }}

</form>
    </div>
  </div>
{% endblock %}
