{% extends "layouts/main.html" %}

{% block pageTitle %}
  ACME LIMITED PARTNERSHIP (SL123456)  – Find and update company information – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}


<a class="govuk-link govuk-link--no-visited-state" href="https://resources.companieshouse.gov.uk/serviceInformation.shtml#compInfo">Companies House does not verify the accuracy of the information filed</a>
<div class="account-banner hide-when-authorised" style="float:right; margin-top:30px;">
  <a href="#">Sign in/Register</a>
</div>

    <div class="govuk-!-margin-top-4 account-banner authorised" style="float:right; margin-bottom:10px">
      <span style="padding-right: 20px;">{{ data['emailAddress'] }}</span>
      <span style="padding-right: 20px;"><a href="" id="your-details">Your details</a></span>
      <span style="padding-right: 20px;"><a href="" id="your-filings">Your filings</a></span>
      <span style="padding-right: 20px;"><a href="" id="companies-you-follow">Companies you follow</a></span>
      <span style="padding-right: 20px;"><a href="" id="your-basket">Basket(0)</a></span>
      <a href="#">Sign out</a>
    </div>


{% endblock %}
{% set serviceName %}
Find and update company information
{% endset%}




{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">




      <div class="search_container govuk-!-margin-bottom-5">
        {{ govukInput({
          label: {
            text: "Search",
            classes: "govuk-visually-hidden",
            isPageHeading: false
          },
          value: "Search for a company or officer",
          classes: "search_input"
        }) }}
        <img src="/public/images/search_icon.png" class="search_icon" alt="Search">
    </div>



      <p class="govuk-body"><a href="javascript:void(0)" class="govuk-link govuk-!-font-size-16">Advanced company search</a></p>


      {% set html %}
          <p class="govuk-notification-banner__heading">
           As a Companies House authorised agent, you can file updates on behalf of this limited partnership from this page.
           <p class="govuk-notification-banner__heading">Any updates you've submitted will not show until we've accepted them.
          </p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          classes: "authorised display-as-block"
        }) }}

      <ul class="govuk-list">
        <li class="govuk-heading-xl govuk-!-margin-top-4">ACME LIMITED PARTNERSHIP <a href="../registration/lp-name" class="authorised govuk-link govuk-link--no-visited-state govuk-!-font-weight-regular govuk-!-font-size-19 update-partnership-name">Update name</a></li>
        <li class="govuk-!-margin-top-4">Company number <strong>SL123456</strong></li>
      </ul>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Follow this company
      </button>

    <a href="chs-sign-in" class="govuk-button hide-when-authorised">File for this company</a>







      
      <div class="govuk-tabs govuk-!-margin-top-9" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#overview">
              Overview
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#history">
              Filing history
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#people">
              People
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#more">
              More
            </a>
          </li>
        </ul>








        <div class="govuk-tabs__panel" id="overview">
       <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
    
            <dt>Registered office address</dt>
            <dd class="govuk-summary-list__value govuk-!-font-weight-bold govuk-!-padding-top-0">64 Zoo Lane, London, W5 5AB <a href="../limited-partnership-roa-manual?from=roa-update" class="authorised govuk-link govuk-link--no-visited-state  govuk-!-font-weight-regular ">Update <span class="govuk-visually-hidden">Registered office address 64 Zoo Lane, London, W5 5AB</span></a></dd>
      </div>
      <div class="govuk-grid-column-one-half">
  
          <dt>Principal place of business</dt>
          <dd class="govuk-summary-list__value govuk-!-font-weight-bold govuk-!-padding-top-0">1 Rose Street, Edinburgh, EH1 2EB <a href="javascript:void(0)" class="authorised govuk-link govuk-link--no-visited-state  govuk-!-font-weight-regular">Update <span class="govuk-visually-hidden">Principal office address 1 Rose Street, Edinburgh, EH1 2EB</span></a></dd>
    
      </div>
        <div class="govuk-grid-column-one-half govuk-!-margin-top-3">
          <dt>Company status</dt>
          <dd class="govuk-summary-list__value govuk-!-font-weight-bold govuk-!-padding-top-0">Active <a href="javascript:void(0)" class="authorised govuk-link govuk-link--no-visited-state  govuk-!-font-weight-regular">Close <span class="govuk-visually-hidden">this partnership</span></a></dd>
      </div>
        <div class="govuk-grid-column-one-half govuk-!-margin-top-3">
          <dt>Term of the partnership</dt>
          <dd class="govuk-summary-list__value govuk-!-font-weight-bold govuk-!-padding-top-0">No set term <a href="../limited-partnership-terms" class="authorised govuk-link govuk-link--no-visited-state  govuk-!-font-weight-regular">Update <span class="govuk-visually-hidden">Term of partnership No set term</span></a></dd>
      </div>
        <div class="govuk-grid-column-one-half govuk-!-margin-top-3">
          <dt>Company type</dt>
          <dd class="govuk-summary-list__value govuk-!-font-weight-bold govuk-!-padding-top-0">Limited partnership <a href="../manage/change-type" class="authorised govuk-link govuk-link--no-visited-state  govuk-!-font-weight-regular">Update <span class="govuk-visually-hidden">Apply for designation as a private fund limited partnership (PFLP)</span></a></dd>
        </div>
        <div class="govuk-grid-column-one-half govuk-!-margin-top-3">
          <dt id="company-birth-type">Registered on</dt>
          <dd class="govuk-summary-list__value govuk-!-font-weight-bold govuk-!-padding-top-0">21 October 2024</dd>
        </div>
   <div class="govuk-grid-column-full govuk-!-margin-top-3 authorised">
          <dt>Registered email address</dt>
          <dd class="govuk-summary-list__value govuk-!-font-weight-bold govuk-!-padding-top-0"><a href="../manage/change-rea" class="govuk-link govuk-link--no-visited-state  govuk-!-font-weight-regular">Update <span class="govuk-visually-hidden">Registered email address</span></a></dd>
        </div>



        <div class="govuk-grid-column-full govuk-!-margin-top-7">
        <div class="cs-not-overdue">
          <h2 class="govuk-heading-m">Confirmation statement</h2>
        </div>
                <div class="govuk-warning-text cs-overdue" style="display: none;">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <h2 class="govuk-warning-text__text govuk-heading-m">
                  <span class="govuk-visually-hidden">Warning</span>
                  Confirmation statement overdue
                </h2>
              </div>

          <p>Next statement <strong>30 August 2025</strong><br>due by
          <strong>13 September 2025</strong></p>
          <p>Last statement dated <strong>30 August 2024</strong>
          </p>
         <div class="authorised file-normal">
              <a href="../manage/file-confirmation-statement" class="govuk-button">File confirmation statement</a>
            </div>

        
        </div>

        <div class="govuk-grid-column-full govuk-!-margin-top-7">

      <h2 class="govuk-heading-m" id="sic-title">Nature of business (SIC)</h2>
      <p class="authorised govuk-!-font-weight-regular">You can only update these by filing a <a href="../confirmation-statement/start" class="govuk-link govuk-link--no-visited-state">confirmation statement</a></p>
      <ul class="govuk-list">
        <li><span id="sic0">64205 - Activities of financial services holding companies
</span></li>
        <li><span id="sic1">64910 - Financial leasing</span></li>
        <li><span id="sic2">64922 - Activities of mortgage finance companies
</span></li>
      </ul>        

      </div>
      </div>
      </div>














        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="history">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">

              <h2 class="govuk-heading-m">Filter by category</h2>

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="show-filing">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="show-filing" name="show-filing" type="checkbox" onclick="show_filing_type()">
                      <label class="govuk-label govuk-checkboxes__label govuk-!-font-weight-bold" for="show-filing">
                        Show filing type
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>

            <div class="govuk-grid-column-one-third">
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="category">
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="accounts" name="accounts" type="checkbox" onclick="filter_table()">
                      <label class="govuk-label govuk-checkboxes__label" for="accounts" style="font-size: 16px;">
                        Accounts
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="capital" name="capital" type="checkbox" onclick="filter_table()">
                      <label class="govuk-label govuk-checkboxes__label" for="capital" style="font-size: 16px;">
                        Capital
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="charges" name="charges" type="checkbox" onclick="filter_table()">
                      <label class="govuk-label govuk-checkboxes__label" for="charges" style="font-size: 16px;">
                        Charges
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>

            <div class="govuk-grid-column-one-third">
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="category-2">
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="statement" name="statement" type="checkbox" onclick="filter_table()">
                      <label class="govuk-label govuk-checkboxes__label" for="statements" style="font-size: 16px;">
                        Confirmation statements / Annual returns
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="incorporation" name="incorporation" type="checkbox" onclick="filter_table()">
                      <label class="govuk-label govuk-checkboxes__label" for="incorporation" style="font-size: 16px;">
                        Incorporation
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="officers" name="officers" type="checkbox" onclick="filter_table()">
                      <label class="govuk-label govuk-checkboxes__label" for="officers" style="font-size: 16px;">
                        Officers
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>

          <table class="govuk-table" id="history_table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row" name="header">
                <th scope="col" class="govuk-table__header govuk-body-s">Date</th>
                <th scope="col" class="govuk-table__header govuk-body-s govuk-visually-hidden" name="type_cols">Type</th>
                <th scope="col" class="govuk-table__header govuk-body-s">Description</th>
                <th scope="col" class="govuk-table__header govuk-body-s">View / Download</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row" name="statement">
                <td class="govuk-table__cell govuk-body-s">16 September 2024</th>
                <td class="govuk-table__cell govuk-body-s govuk-visually-hidden" name="type_cols">GAZ2</th>
                <td class="govuk-table__cell govuk-body-s"><b>Confirmation statement</b>made on 30 August 2024 with no updates</td>
                <td class="govuk-table__cell govuk-body-s">
                  <a href="javascript:void(0)" class="govuk-link">View PDF</a>(3 pages)
                </td>
              </tr>
              <tr class="govuk-table__row" name="accounts">
                <td class="govuk-table__cell govuk-body-s">4 March 2024</th>
                <td class="govuk-table__cell govuk-body-s govuk-visually-hidden" name="type_cols">GAZ2</th>
                <td class="govuk-table__cell govuk-body-s"><b>	Total exemption full accounts</b>made up to 31 August 2023</td>
                <td class="govuk-table__cell govuk-body-s">
                  <a href="javascript:void(0)" class="govuk-link">View PDF</a>(6 pages)<br>
                  <a href="javascript:void(0)" class="govuk-link">Download iXBRL</a>
                </td>
              </tr>
               <tr class="govuk-table__row" name="statement">
                <td class="govuk-table__cell govuk-body-s">10 September 2023</th>
                <td class="govuk-table__cell govuk-body-s govuk-visually-hidden" name="type_cols">GAZ2</th>
                <td class="govuk-table__cell govuk-body-s"><b>Confirmation statement</b>made on 30 August 2023 with no updates</td>
                <td class="govuk-table__cell govuk-body-s">
                  <a href="javascript:void(0)" class="govuk-link">View PDF</a>(3 pages)
                </td>
              </tr>
              <tr class="govuk-table__row" name="accounts">
                <td class="govuk-table__cell govuk-body-s">11 March 2023</th>
                <td class="govuk-table__cell govuk-body-s govuk-visually-hidden" name="type_cols">GAZ2</th>
                <td class="govuk-table__cell govuk-body-s"><b>	Total exemption full accounts</b>made up to 31 August 2023</td>
                <td class="govuk-table__cell govuk-body-s">
                  <a href="javascript:void(0)" class="govuk-link">View PDF</a>(6 pages)<br>
                  <a href="javascript:void(0)" class="govuk-link">Download iXBRL</a>
                </td>
              </tr>
              <tr class="govuk-table__row" name="statement">
                <td class="govuk-table__cell govuk-body-s">30 September 2022</th>
                <td class="govuk-table__cell govuk-body-s govuk-visually-hidden" name="type_cols">GAZ2</th>
                <td class="govuk-table__cell govuk-body-s"><b>Confirmation statement</b>made on 30 August 2022 with no updates</td>
                <td class="govuk-table__cell govuk-body-s">
                  <a href="javascript:void(0)" class="govuk-link">View PDF</a>(3 pages)
                </td>
              </tr>
              <tr class="govuk-table__row" name="accounts">
                <td class="govuk-table__cell govuk-body-s">15 April 2022</th>
                <td class="govuk-table__cell govuk-body-s govuk-visually-hidden" name="type_cols">GAZ2</th>
                <td class="govuk-table__cell govuk-body-s"><b>	Total exemption full accounts</b>made up to 31 August 2022</td>
                <td class="govuk-table__cell govuk-body-s">
                  <a href="javascript:void(0)" class="govuk-link">View PDF</a>(6 pages)<br>
                  <a href="javascript:void(0)" class="govuk-link">Download iXBRL</a>
                </td>
              </tr>
              <tr class="govuk-table__row" name="statement">
                <td class="govuk-table__cell govuk-body-s">1 October 2021</th>
                <td class="govuk-table__cell govuk-body-s govuk-visually-hidden" name="type_cols">GAZ2</th>
                <td class="govuk-table__cell govuk-body-s"><b>Confirmation statement</b>made on 30 August 2021 with no updates</td>
                <td class="govuk-table__cell govuk-body-s">
                  <a href="javascript:void(0)" class="govuk-link">View PDF</a>(3 pages)
                </td>
              </tr>
              <tr class="govuk-table__row" name="accounts">
                <td class="govuk-table__cell govuk-body-s">16 May 2021</th>
                <td class="govuk-table__cell govuk-body-s govuk-visually-hidden" name="type_cols">GAZ2</th>
                <td class="govuk-table__cell govuk-body-s"><b>	Micro exemption full accounts</b>made up to 31 August 2021</td>
                <td class="govuk-table__cell govuk-body-s">
                  <a href="javascript:void(0)" class="govuk-link">View PDF</a>(6 pages)<br>
                  <a href="javascript:void(0)" class="govuk-link">Download iXBRL</a>
                </td>
              </tr>
              <tr class="govuk-table__row" name="statement">
                <td class="govuk-table__cell govuk-body-s">1 September 2020</th>
                <td class="govuk-table__cell govuk-body-s govuk-visually-hidden" name="type_cols">GAZ2</th>
                <td class="govuk-table__cell govuk-body-s"><b>Confirmation statement</b>made on 30 August 2020 with no updates</td>
                <td class="govuk-table__cell govuk-body-s">
                  <a href="javascript:void(0)" class="govuk-link">View PDF</a>(3 pages)
                </td>
              </tr>
              <tr class="govuk-table__row" name="incorporation">
                <td class="govuk-table__cell govuk-body-s">17 December 2024</th>
                <td class="govuk-table__cell govuk-body-s govuk-visually-hidden" name="type_cols">GAZ2</th>
                <td class="govuk-table__cell govuk-body-s"><b>Incorporation</td>
                <td class="govuk-table__cell govuk-body-s">
                  <a href="javascript:void(0)" class="govuk-link">View PDF</a>(13 pages)
                </td>
              </tr>
            </tbody>
          </table>

          <p class="govuk-body govuk-visually-hidden" id="no_results_paragraph">Sorry, no filings in the selected category are available for this company.</p>
        </div>



























        
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="people">
          <div class="moj-primary-navigation tabs">
            <div class="moj-primary-navigation__container" style="border-bottom: 1px solid #0b0c0c;">
              <div class="moj-primary-navigation__nav">
                <nav class="moj-primary-navigation" aria-label="people_navigation">
                  <ul class="moj-primary-navigation__list tabs">
                    <li class="moj-primary-navigation__item">
                      <a class="moj-primary-navigation__link active_tab" id="officers_link" href="javascript:people_tab_click('officers')">Officers</a>
                    </li>
          
                    <li class="moj-primary-navigation__item">
                      <a class="moj-primary-navigation__link" id="psc_link" href="javascript:people_tab_click('psc')">Persons with significant control</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
          
          <div id="officers_tab">
              <div class="govuk-grid-row govuk-!-margin-top-7">
                <div class="govuk-grid-column-full">

              <div class="govuk-button-group">

                <a href="javascript:void(0)" class="authorised govuk-button govuk-button--secondary">Add a general partner</a>

                <a href="/v11/limited-partner-choice" class="authorised govuk-button govuk-button--secondary govuk-!-margin-bottom-0">Add a limited partner</a>
              </div>


                  <h2 class="govuk-heading-m">Filter officers</h2>

                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="show-filing">
                      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="current_officers" name="current_officers" type="checkbox">
                          <label class="govuk-label govuk-checkboxes__label" for="current_officers">
                            Current officers
                          </label>
                        </div>
                      </div>
                    </fieldset>
                  </div>

                  <h2 class="govuk-heading-m govuk-!-margin-top-7">4 officers / 0 resignations</h2>


       <!-- **************************** -->

              <div class="govuk-grid-row govuk-!-margin-top-7">
                <div class="govuk-grid-column-full">

                  <hr class="govuk-!-margin-top-7">

                  <h2 class="govuk-heading-m govuk-!-margin-top-6">
                    <a href="javascript:void(0)" class="govuk-link">ABC Company Ltd</a>
                        <span class="govuk-!-font-size-19 govuk-!-font-weight-regular govuk-!-margin-left-4"> 
                      <a href="javascript:void(0)" class="authorised govuk-link govuk-link--no-visited-state">Update <strong class="govuk-visually-hidden">ABC Company Ltd</strong></a>
                      <a href="/v11/remove/remove-general-partner" class="authorised govuk-link govuk-link--no-visited-state govuk-!-margin-left-2">Remove <strong class="govuk-visually-hidden">ABC Company Ltd</strong></a>       
                    </span>
                  </h2>

                  <ul class='govuk-list'>
                    <li>Principal office address</li>
                    <li class="govuk-!-font-weight-bold">1 Long Road, Plymouth, United Kingdom, PL1 2BG</li>
                  </ul>
                </div>
              </div>

              <div class="govuk-grid-row govuk-!-margin-top-5">
                <div class="govuk-grid-column-one-quarter">
                  <ul class='govuk-list'>
                    <li>Role
                      <strong class="govuk-tag govuk-tag--green govuk-!-font-weight-bold" style="margin-left: 10px; color: white; background-color: #006435">
                        Active
                      </strong>
                    </li>
            <li class="govuk-!-font-weight-bold">General partner</li>

                  </ul>
                </div>

           

                <div class="govuk-grid-column-one-quarter">
                  <ul class='govuk-list'>
                    <li>Became a partner on</li>
                    <li class="govuk-!-font-weight-bold">17 December 2024</li>
                  </ul>
                </div>

                  <div class="govuk-grid-column-one-quarter">
                  <ul class='govuk-list'>
                    <li>Legal form</li>
                    <li class="govuk-!-font-weight-bold">Private limited company</li>
                  </ul>
                </div>
              </div>


     <div class="govuk-grid-row govuk-!-margin-top-5">
                <div class="govuk-grid-column-one-quarter">
                  <ul class='govuk-list'>
                    <li>Governing law</li>
            <li class="govuk-!-font-weight-bold">Companies Act 2006</li>

                  </ul>
                </div>

           

                <div class="govuk-grid-column-one-quarter">
                  <ul class='govuk-list'>
                    <li>Parent register</li>
                    <li class="govuk-!-font-weight-bold">Register of Companies UK</li>
                  </ul>
                </div>

                  <div class="govuk-grid-column-one-quarter">
                  <ul class='govuk-list'>
                    <li>Registered in</li>
                    <li class="govuk-!-font-weight-bold">United Kingdom</li>
                  </ul>
                </div>
              </div>

               <div class="govuk-grid-row govuk-!-margin-top-5">
                <div class="govuk-grid-column-one-quarter">
                  <ul class='govuk-list'>
                    <li>Registration number</li>
            <li class="govuk-!-font-weight-bold">01234567</li>

                  </ul>
                </div>

           
              </div>

                                <!-- **************************** -->
   <div class="govuk-grid-row govuk-!-margin-top-7">
                <div class="govuk-grid-column-full">

                  <hr class="govuk-!-margin-top-7">

                  <h2 class="govuk-heading-m govuk-!-margin-top-7">
                    <a href="javascript:void(0)" class="govuk-link">SMITH, Georgina</a> 
                    <span class="govuk-!-font-size-19 govuk-!-font-weight-regular govuk-!-margin-left-4"> 
                      <a href="/v11/gp-person?from=general-partners-change" class="authorised govuk-link govuk-link--no-visited-state">Update <strong class="govuk-visually-hidden">SMITH, Georgina</strong></a>
                      <a href="javascript:void(0)" class="authorised govuk-link govuk-link--no-visited-state govuk-!-margin-left-2">Remove <strong class="govuk-visually-hidden">SMITH, Georgina</strong></a>       
                    </span>
                  </h2>

                  <ul class='govuk-list'>
                    <li>Correspondence address</li>
                    <li class="govuk-!-font-weight-bold">1 Squirrel Avenue, Leeds, LS1 2AB</li>
                  </ul>
                </div>
              </div>

              <div class="govuk-grid-row govuk-!-margin-top-5">
                <div class="govuk-grid-column-one-quarter">
                  <ul class='govuk-list'>
                    <li>Role 
                      <strong class="govuk-tag govuk-tag--green govuk-!-font-weight-bold" style="margin-left: 10px; color: white; background-color: #006435">
                        Active
                      </strong>
                    </li>
                    <li class="govuk-!-font-weight-bold">General partner</li>
                  </ul>
                </div>

                   <div class="govuk-grid-column-one-quarter">
                  <ul class='govuk-list'>
                    <li>Date of birth</li>
                    <li class="govuk-!-font-weight-bold">August 1989</li>
                  </ul>
                </div>
     

                <div class="govuk-grid-column-one-quarter">
                  <ul class='govuk-list'>
                    <li>Became a partner on</li>
                    <li class="govuk-!-font-weight-bold">21 October 2024</li>
                  </ul>
                </div>
              </div>

              <div class="govuk-grid-row govuk-!-margin-top-5">
                <div class="govuk-grid-column-one-quarter">
                  <ul class='govuk-list'>
                    <li>Nationality
                    </li>
                    <li class="govuk-!-font-weight-bold">British</li>
                  </ul>
                </div>

              
              </div>



       
            

             
              <!-- **************************** -->

              <div class="govuk-grid-row govuk-!-margin-top-7">
                <div class="govuk-grid-column-full">

                  <hr class="govuk-!-margin-top-7">

                  <h2 class="govuk-heading-m govuk-!-margin-top-6">
                         <a href="javascript:void(0)" class="govuk-link">GlobalTech</a>
                        <span class="govuk-!-font-size-19 govuk-!-font-weight-regular govuk-!-margin-left-4"> 
                      <a href="javascript:void(0)" class="authorised govuk-link govuk-link--no-visited-state">Update <strong class="govuk-visually-hidden">GlobalTech</strong></a>
                      <a href="/v11/remove/remove-limited-partner" class="authorised govuk-link govuk-link--no-visited-state govuk-!-margin-left-2">Remove <strong class="govuk-visually-hidden">GlobalTech</strong></a>       
                    </span>
                  </h2>

                  <ul class='govuk-list'>
                    <li>Principal office address</li>
                    <li class="govuk-!-font-weight-bold">1 Short road, Townville, United Kingdom, AB1 CD2</li>
                  </ul>
                </div>
              </div>

              <div class="govuk-grid-row govuk-!-margin-top-5">
                <div class="govuk-grid-column-one-quarter">
                  <ul class='govuk-list'>
                    <li>Role
                      <strong class="govuk-tag govuk-tag--green govuk-!-font-weight-bold" style="margin-left: 10px; color: white; background-color: #006435">
                        Active
                      </strong>
                    </li>
                           <li class="govuk-!-font-weight-bold">Limited partner</li>

                  </ul>
                </div>

           

                <div class="govuk-grid-column-one-quarter">
                  <ul class='govuk-list'>
                    <li>Became a partner on</li>
                    <li class="govuk-!-font-weight-bold">17 December 2024</li>
                  </ul>
                </div>

                  <div class="govuk-grid-column-one-quarter">
                  <ul class='govuk-list'>
                    <li>Legal form</li>
                    <li class="govuk-!-font-weight-bold">Private limited company</li>
                  </ul>
                </div>
              </div>


     <div class="govuk-grid-row govuk-!-margin-top-5">
                <div class="govuk-grid-column-one-quarter">
                  <ul class='govuk-list'>
                    <li>Governing law</li>
            <li class="govuk-!-font-weight-bold">Companies Act 2006</li>

                  </ul>
                </div>

           

                <div class="govuk-grid-column-one-quarter">
                  <ul class='govuk-list'>
                    <li>Parent register</li>
                    <li class="govuk-!-font-weight-bold">Register of Companies UK</li>
                  </ul>
                </div>

                  <div class="govuk-grid-column-one-quarter">
                  <ul class='govuk-list'>
                    <li>Registered in</li>
                    <li class="govuk-!-font-weight-bold">United Kingdom</li>
                  </ul>
                </div>
              </div>

               <div class="govuk-grid-row govuk-!-margin-top-5">
                <div class="govuk-grid-column-one-quarter">
                  <ul class='govuk-list'>
                    <li>Registration number</li>
            <li class="govuk-!-font-weight-bold">01234567</li>

                  </ul>
                </div>

                      <div class="govuk-grid-column-one-quarter">
                  <ul class='govuk-list'>
                    <li>Capital contribution</li>
                    <li class="govuk-!-font-weight-bold">500.50 British Pound (GBP) Money / Shares / Services or goods</li>
                  </ul>
                </div>

           
              </div>




 <!-- **************************** -->

              <div class="govuk-grid-row govuk-!-margin-top-7">
                <div class="govuk-grid-column-full">

                  <hr class="govuk-!-margin-top-7">

                  <h2 class="govuk-heading-m govuk-!-margin-top-6">
                        <a href="javascript:void(0)" class="govuk-link">RICHARDSON, Simon</a>
                        <span class="govuk-!-font-size-19 govuk-!-font-weight-regular govuk-!-margin-left-4"> 
                      <a href="javascript:void(0)" class="authorised govuk-link govuk-link--no-visited-state">Update <strong class="govuk-visually-hidden">Simon Richardson</strong></a>
                      <a href="javascript:void(0)" class="authorised govuk-link govuk-link--no-visited-state govuk-!-margin-left-2">Remove <strong class="govuk-visually-hidden">Simon Richardson</strong></a>       
                    </span>
                  </h2>

                  <ul class='govuk-list'>
                    <li>Correspondence address</li>
                    <li class="govuk-!-font-weight-bold">1 Long road, Plymouth, United Kingdom, PL1 2BG</li>
                  </ul>
                </div>
              </div>

              <div class="govuk-grid-row govuk-!-margin-top-5">
                <div class="govuk-grid-column-one-quarter">
                  <ul class='govuk-list'>
                    <li>Role
                      <strong class="govuk-tag govuk-tag--green govuk-!-font-weight-bold" style="margin-left: 10px; color: white; background-color: #006435">
                        Active
                      </strong>
                    </li>
                    <li class="govuk-!-font-weight-bold">Limited partner</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-quarter">
                  <ul class='govuk-list'>
                    <li>Date of birth</li>
                    <li class="govuk-!-font-weight-bold">January 1981</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-quarter">
                  <ul class='govuk-list'>
                    <li>Became a partner on</li>
                    <li class="govuk-!-font-weight-bold">17 December 2024</li>
                  </ul>
                </div>
              </div>

              <div class="govuk-grid-row govuk-!-margin-top-5">
                <div class="govuk-grid-column-one-quarter">
                  <ul class='govuk-list'>
                    <li>Nationality</li>
                    <li class="govuk-!-font-weight-bold">British</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-quarter">
                  <ul class='govuk-list'>
                    <li>Capital contribution</li>
                    <li class="govuk-!-font-weight-bold">10,000 Euro (EUR) Money</li>
                  </ul>
                </div>

             
              </div>

              </div>
              </div>
              </div> <!-- end of Officers section-->

          




            



          

             


<!--  PSCs -->



          <div id="psc_tab" class="govuk-visually-hidden">
            <div class="govuk-grid-row govuk-!-margin-top-7">
              <div class="govuk-grid-column-full">

<div class="govuk-inset-text authorised">
To update information about this partnership's people with significant control (PSCs),<a href="https://www.gov.uk/government/collections/companies-house-forms-for-scottish-limited-partnerships#people-with-significant-control-(psc)" class="govuk-link">find and complete the relevant form</a>. File it online using our <a href="https://find-and-update.company-information.service.gov.uk/efs-submission/start" class="govuk-link">Upload a document to Companies House service</a>.
</div>
   

                <h2 class="govuk-heading-m">4 active persons with significant control / 0 active statements</h2>


             <!-- *********************** -->
                <h2 class="govuk-heading-m govuk-!-margin-top-7">Dennis Hoop
                  <strong class="govuk-tag govuk-tag--green govuk-!-font-weight-bold" style="margin-left: 10px; color: white; background-color: #006435">
                    Active
                  </strong>
                
                </h2>

                <ul class='govuk-list'>
                  <li>Correspondence address</li>
                  <li class="govuk-!-font-weight-bold">1 Higher Hill Farm, Townville, United Kingdom, CD1 FG4</li>
                </ul>
              </div>
            </div>

            <div class="govuk-grid-row govuk-!-margin-top-5">
              <div class="govuk-grid-column-one-quarter">
                <ul class='govuk-list'>
                  <li>Notified on</li>
                  <li class="govuk-!-font-weight-bold">1 July 2025
                  </li>
                </ul>
              </div>

              <div class="govuk-grid-column-one-quarter">
                <ul class='govuk-list'>
                  <li>Date of birth</li>
                  <li class="govuk-!-font-weight-bold">March 1990</li>
                </ul>
              </div>

              <div class="govuk-grid-column-one-quarter">
                <ul class='govuk-list'>
                  <li>Nationality</li>
                  <li class="govuk-!-font-weight-bold">British</li>
                </ul>
              </div>
            </div>

            <div class="govuk-grid-row govuk-!-margin-top-5">
              <div class="govuk-grid-column-one-quarter">
                <ul class='govuk-list'>
                  <li>Country of residence</li>
                  <li class="govuk-!-font-weight-bold">United Kingdom</li>
                </ul>
              </div>

           
            </div>

            <div class="govuk-grid-row govuk-!-margin-top-5">
              <div class="govuk-grid-column-full">

                <ul class='govuk-list'>
                  <li>Nature of control</li>
                  <li class="govuk-!-font-weight-bold">Ownership of shares – 75% or more</li>
                </ul>

                <p class="govuk-body govuk-!-font-weight-bold">Ownership of voting rights - 75% or more</p>
                <p class="govuk-body govuk-!-font-weight-bold">Right to appoint or remove directors</p>
              </div>
            </div>

             <!-- *********************** -->

            <hr class="govuk-!-margin-top-7">

            <div class="govuk-grid-row govuk-!-margin-top-7">
              <div class="govuk-grid-column-full">

                <h2 class="govuk-heading-m">Isla Robinson
                  <strong class="govuk-tag govuk-tag--green govuk-!-font-weight-bold" style="margin-left: 10px; color: white; background-color: #006435">
                    Active
                  </strong>
                
                </h2>

                <ul class='govuk-list'>
                  <li>Correspondence address</li>
                  <li class="govuk-!-font-weight-bold">5 Wide street road, Townville, United Kingdom, NM2 FG5</li>
                </ul>
              </div>
            </div>

            <div class="govuk-grid-row govuk-!-margin-top-5">
              <div class="govuk-grid-column-one-quarter">
                <ul class='govuk-list'>
                  <li>Notified on</li>
                  <li class="govuk-!-font-weight-bold">17 June 2025
                  </li>
                </ul>
              </div>

              <div class="govuk-grid-column-one-quarter">
                <ul class='govuk-list'>
                  <li>Date of birth</li>
                  <li class="govuk-!-font-weight-bold">April 1985</li>
                </ul>
              </div>

              <div class="govuk-grid-column-one-quarter">
                <ul class='govuk-list'>
                  <li>Nationality</li>
                  <li class="govuk-!-font-weight-bold">British</li>
                </ul>
              </div>
            </div>

      

             <!-- *********************** -->

            <hr class="govuk-!-margin-top-7">

            <div class="govuk-grid-row govuk-!-margin-top-7">
              <div class="govuk-grid-column-full">

                <h2 class="govuk-heading-m">Heather Ferning
                  <strong class="govuk-tag govuk-tag--green govuk-!-font-weight-bold" style="margin-left: 10px; color: white; background-color: #006435">
                    Active
                  </strong>
               
                </h2>

                <ul class='govuk-list'>
                  <li>Correspondence address</li>
                  <li class="govuk-!-font-weight-bold">10 Wide street road, Townville, United Kingdom, NM2 FG5</li>
                </ul>
              </div>
            </div>

            <div class="govuk-grid-row govuk-!-margin-top-5">
              <div class="govuk-grid-column-one-quarter">
                <ul class='govuk-list'>
                  <li>Notified on</li>
                  <li class="govuk-!-font-weight-bold">15 May 2025
                  </li>
                </ul>
              </div>

              <div class="govuk-grid-column-one-quarter">
                <ul class='govuk-list'>
                  <li>Date of birth</li>
                  <li class="govuk-!-font-weight-bold">June 1990</li>
                </ul>
              </div>

              <div class="govuk-grid-column-one-quarter">
                <ul class='govuk-list'>
                  <li>Nationality</li>
                  <li class="govuk-!-font-weight-bold">British</li>
                </ul>
              </div>
            </div>

            <div class="govuk-grid-row govuk-!-margin-top-5">
              <div class="govuk-grid-column-one-quarter">
                <ul class='govuk-list'>
                  <li>Country of residence</li>
                  <li class="govuk-!-font-weight-bold">United Kingdom</li>
                </ul>
              </div>

            
            </div>
  
         

             <!-- *********************** -->

            <hr class="govuk-!-margin-top-7">

            <div class="govuk-grid-row govuk-!-margin-top-7">
              <div class="govuk-grid-column-full">

                <h2 class="govuk-heading-m">Jack Carlson
                  <strong class="govuk-tag govuk-tag--green govuk-!-font-weight-bold" style="margin-left: 10px; color: white; background-color: #006435">
                    Active
                  </strong>
               
                </h2>

                <ul class='govuk-list'>
                  <li>Correspondence address</li>
                  <li class="govuk-!-font-weight-bold">20 Wide street road, Townville, United Kingdom, NM2 FG5</li>
                </ul>
              </div>
            </div>

            <div class="govuk-grid-row govuk-!-margin-top-5">
              <div class="govuk-grid-column-one-quarter">
                <ul class='govuk-list'>
                  <li>Notified on</li>
                  <li class="govuk-!-font-weight-bold">3 March 2025
                  </li>
                </ul>
              </div>

              <div class="govuk-grid-column-one-quarter">
                <ul class='govuk-list'>
                  <li>Date of birth</li>
                  <li class="govuk-!-font-weight-bold">July 2008</li>
                </ul>
              </div>

              <div class="govuk-grid-column-one-quarter">
                <ul class='govuk-list'>
                  <li>Nationality</li>
                  <li class="govuk-!-font-weight-bold">British</li>
                </ul>
              </div>
            </div>

            <div class="govuk-grid-row govuk-!-margin-top-5">
              <div class="govuk-grid-column-one-quarter">
                <ul class='govuk-list'>
                  <li>Country of residence</li>
                  <li class="govuk-!-font-weight-bold">United Kingdom</li>
                </ul>
              </div>

            
            </div>

             <!-- *********************** -->

            <hr class="govuk-!-margin-top-7">

            <div class="govuk-grid-row govuk-!-margin-top-7">
              <div class="govuk-grid-column-full">

                <h2 class="govuk-heading-m">Kate Mathews
                  <strong class="govuk-tag govuk-tag--green govuk-!-font-weight-bold" style="margin-left: 10px; color: white; background-color: #424849">
                    Ceased
                  </strong>
                </h2>

                <ul class='govuk-list'>
                  <li>Correspondence address</li>
                  <li class="govuk-!-font-weight-bold">25 Wide street road, Townville, United Kingdom, NM2 FG5</li>
                </ul>
              </div>
            </div>

            <div class="govuk-grid-row govuk-!-margin-top-5">
              <div class="govuk-grid-column-one-quarter">
                <ul class='govuk-list'>
                  <li>Notified on</li>
                  <li class="govuk-!-font-weight-bold">23 January 2025
                  </li>
                </ul>
              </div>

              <div class="govuk-grid-column-one-quarter">
                <ul class='govuk-list'>
                  <li>Date of birth</li>
                  <li class="govuk-!-font-weight-bold">September 2001</li>
                </ul>
              </div>

              <div class="govuk-grid-column-one-quarter">
                <ul class='govuk-list'>
                  <li>Nationality</li>
                  <li class="govuk-!-font-weight-bold">British</li>
                </ul>
              </div>
            </div>

            <div class="govuk-grid-row govuk-!-margin-top-5">
              <div class="govuk-grid-column-one-quarter">
                <ul class='govuk-list'>
                  <li>Country of residence</li>
                  <li class="govuk-!-font-weight-bold">United Kingdom</li>
                </ul>
              </div>
          </div>
        </div>

        </div>
























        
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="more">
          <h2 class="govuk-heading-l"> Company snapshot</h2>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                What's included in the company snapshot?
              </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body">The snapshot includes:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Filing history</li>
                <li>Officers</li>
                <li>Persons with significant control</li>
                <li>Charges</li>
                <li>Insolvency</li>
                <li>Registers</li>
              </ul>
            </div>
          </details>

          <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            View company information snapshot
          </button>

          <hr>

          <h2 class="govuk-heading-l govuk-!-margin-top-9">Order a certified certificate</h2>

          <p class="govuk-body">Use this service to order a signed certificate, 
            which can include key details about the company and a statement of good standing.
          </p>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                What you'll need
              </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body">To use the service, you'll need:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>to choose the company information you want to be included on the certificate</li>
                <li>the address you want the certificate to be delivered to (UK or international)</li>
                <li>a credit or debit card for payment</li>
              </ul>
            </div>
          </details>

          <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Order certificate
          </button>

          <hr>

          <h2 class="govuk-heading-l govuk-!-margin-top-9">Order a certified document</h2>

          <p class="govuk-body">Use this service to order a certified copy of a document 
            from a company's filing history.
          </p>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                What you'll need
              </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body">To use the service, you'll need:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>to choose the document you want to be certified</li>
                <li>the address you want the document to be delivered to (UK or international)</li>
                <li>a credit or debit card for payment</li>
              </ul>
            </div>
          </details>

          <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Order certificate
          </button>

        </div>
      </div>
    </div>




  <div class="ur-shortcuts">
      <!-- Not part of ACTUAL screen: only for UR purposes -->
      <p class="govuk-body-s govuk-!-margin-bottom-1">UR shortcut:</p>
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

      {{ govukCheckboxes({
            name: "overdue",
            classes: "overdue",
            fieldset: {
              legend: {
                text: "overdue",
                classes: "govuk-visually-hidden"
              }
            },
            items: [
              {
                value: "overdue",
                text: "Toggle overdue CS",
                id: "toggle-overdue"
              },
               {
                value: "authorised",
                text: "Toggle authorised",
                id: "toggle-authorised"
              }
            ]
          }) }}

</div>



  </div>






{% endblock %}

  

{% block pageScripts %}
<script src="/public/javascripts/application.js"></script>
<script src="/public/javascripts/toggle-authorised.js"></script>
<script src="/public/javascripts/toggle-overdue.js"></script>
<script src="/public/javascripts/sub-tabs.js"></script>
{% endblock %}
