{% extends "layouts/main.html" %}

{% set pageName="Choose the general partner's principal office address" %}


{% block header %}
   {% include "/includes/dynamic-service-name.html" %}
{% endblock %}

{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
 {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link-language-toggle.html" %}
{% endblock %}





{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<form class="form" action="/gp-legal-entity-poa-choose-address" method="post">
   

  <span class="govuk-caption-l uppercase"> {{ data['gp1EntityName'] or "CITRUS PARTNERS LIMITED" }} </span>
{{ govukRadios({
  name: "choosePPOB",
  fieldset: {
    legend: {
      text: "Choose the general partner's principal office address",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
    hint: {
    text: "This is the address for the entity's main office."
  },
  items: [
    {
      value: "1",
      text: "1 Grass Street, London, E17 5HG"
    },
    {
      value: "2 ",
      text: "2 Grass Street, London, E17 5HG"
    },    {
      value: "3",
      text: "3 Grass Street, London, E17 5HG"
    },    {
      value: "4",
      text: "4 Grass Street, London, E17 5HG"
    },    {
      value: "5",
      text: "5 Grass Street, London, E17 5HG"
    },    {
      value: "6",
      text: "6 Grass Street, London, E17 5HG"
    },    {
      value: "7",
      text: "7 Grass Street, London, E17 5HG"
    },    {
      value: "8",
      text: "8 Grass Street, London, E17 5HG"
    },    {
      value: "9",
      text: "9 Grass Street, London, E17 5HG"
    },    {
      value: "10",
      text: "10 Grass Street, London, E17 5HG"
    }
  ]
}) }}

  <p><a href="gp-legal-entity-poa-manual">The address is not on the list</a><p>




{{ govukInsetText({
  html: "<h2 class='govuk-heading-m'>What information we'll show on the public register</h2>
        <p>We'll show the general partner's principal office address on the public register.</p>"
}) }}

   
{{ govukButton({
  text: "Save and continue"
}) }}


</form>
    </div>
  </div>

  
{% endblock %}
