{% extends "layouts/main.html" %}

{% set pageName="A protected PSC needs to send a form to Companies House" %}


{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
 {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link-language-toggle.html" %}
{% endblock %}





{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/psc-protected-details-confirm" method="post">

      <h1 class="govuk-heading-xl">
        A protected PSC needs to send a form to Companies House
      </h1>

      <h2 class="govuk-heading-m">
        What you need to do next
      </h2>

      <ol class="govuk-list govuk-list--number">
        <li>Ask the PSC to contact Companies House and request PSC form XX.</li>
        <li>The PSC must complete and send the form to Companies House. The limited partnership name on the form must exactly match the name in this application. If the names do not match, the PSC will need to submit a new form.</li>

        
        <li>The PSC must tell you when Companies House has confirmed receipt of the form.</li>
      </ol>


      {{ govukWarningText({
        text: "You cannot submit this registration until the PSC has completed this process and and Companies House has accepted the form.",
        iconFallbackText: "Warning"
      }) }}



        {{ govukButton({
          text: "Save and continue"
        }) }}

           <p class="govuk-body">
         <a href="pscs/psc-protected-details-confirm" class="govuk-link">This PSC does not have protected status</a>
      </p>

      </form>
    </div>
  </div>

{% endblock %}
