{% extends "layouts/main.html" %}

{% set pageName="Do you need to add another person with significant control?" %}


{% block header %}
   {% include "/includes/dynamic-service-name.html" %}
{% endblock %}

{% block beforeContent %}
    {% include "/includes/phase-banner.html" %}
{% include "/includes/user-bar.html" %}
  {% include "/includes/back-link-language-toggle.html" %}
{% endblock %}





{% block content %}
<div class="govuk-grid-row">
<div class="govuk-grid-column-full">

  <form class="form" action="/psc-add-another" method="post">



{% if (data['registrationOrTransition'] == "registration") %}
  <span class="govuk-caption-l uppercase"> {{ data['lpChooseName'] }} {{ data['nameEnding'] }}</span>
{% else %}  
  <span class="govuk-caption-l">ACME LIMITED PARTNERSHIP ({{ data['lpNumber'] }})   </span>
{% endif %}


<h1 class="govuk-heading-xl">People with significant control (PSCs)</h1>


      <!-- No PSCs -->


  {% if data['pscStatement']  == "no" %} 
    <h2 class="govuk-heading-m">PSC statement</h2>

    <p>There is no person identified as a person with significant control (either a registrable person or RLE) in relation to the limited partnership.</p> 

         {{ govukRadios({
            name: "addAnotherPSC",
            fieldset: {
              legend: {
                text: "Do you want to add a PSC?",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },

            items: [
              {
                value: "person",
                text: "Yes, an individual person"
              },
              {
                value: "entity",
                text: "Yes, a relevant legal entity (RLE)"
              },   
              {
                value: "orp",
                text: "Yes, an other registrable person (ORP)"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}

    



    {% elseif data['pscStatement']  == "yes" %} 

       <h2 class="govuk-heading-m">PSCs you have added so far:</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">


          <!-- Protected person -->
          {% if data['psc-protection']  == "yes" %} 

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Individual person
            </dt>
            <dd class="govuk-summary-list__value">
              Protected person
              <br><br>

              <!-- Yes, the PSC has told me that Companies House has accepted the form --> 
              {% if data['psc-submit-on-paper']  == "yes" %} 

              The PSC has told you that Companies House has accepted the form. You can submit this registration.
              {% endif %}

              <!-- No, or I'm waiting for confirmation from the PSC -->

              {% if data['psc-submit-on-paper']  == "no" %} 
              Waiting for confirmation from the PSC. The secure form needs to be accepted before you can submit this registration.
              {% endif %}

            </dd>
            <dd class="govuk-summary-list__actions">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Change protected person status</span></a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden">protected person</span></a>
                </li>
              </ul>
          </div>

          {% endif %}

          <!-- Individual person -->
          {% if data['psc1FirstNames'] %} 

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Individual person
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['psc1FirstNames'] or "Chloe" }} {{ data['psc1LastName'] or "Davies" }}
            </dd>

            <dd class="govuk-summary-list__actions">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Chloe Davies - person</span></a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"> Chloe Davies - person</span></a>
                </li>
              </ul>
            </dd>

          </div>
          {% endif %}

          <!-- Legal entity -->
           {% if data['psc1EntityName'] %} 


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Legal entity
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['psc1EntityName'] or "ENCOM LIMITED" }}
            </dd>

            <dd class="govuk-summary-list__actions">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> ENCOM LIMITED - Legal entity</span></a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"> ENCOM LIMITED - Legal entity</span></a>
                </li>
              </ul>
            </dd>
          </div>
     

        {% endif %}
      

         <!-- ORP if typed an ORP name -->
         {% if data['pscORP1EntityName'] %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Other registrable person
            </dt>

            <dd class="govuk-summary-list__value">
              {{ data['pscORP1EntityName'] or "VITA CORP LTD" }}
            </dd>

            <dd class="govuk-summary-list__actions">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> VITA CORP LTD - Other registrable person</span></a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"> VITA CORP LTD - Other registrable person</span></a>
                </li>
              </ul>
            </dd>
          </div>

        </dl>

      {% endif %}


{% endif %}
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      {{ govukRadios({
        name: "addAnotherPSC",
        fieldset: {
          legend: {
            text: "Do you need to add another PSC?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m govuk-!-margin-top-5"
          }
        },

        items: [
          {
            value: "person",
            text: "Yes, an individual person"
          },
          {
            value: "entity",
            text: "Yes, a relevant legal entity (RLE)"
          },   
          {
            value: "orp",
            text: "Yes, an other registrable person (ORP)"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

</div>
</div>

      
{{ govukButton({
  text: "Save and continue"
}) }}

      </form>
    </div>
  </div>
{% endblock %}
