{% extends "layouts/main.html" %}
 
{% set pageName="Add an other registrable person PSC" %}


{% block header %}
   {% include "/includes/dynamic-service-name.html" %}
{% endblock %}


{% block beforeContent %}
    {% include "/includes/phase-banner.html" %}
{% include "/includes/user-bar.html" %}
  {% include "/includes/back-link-language-toggle.html" %}
{% endblock %}





{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/psc-orp-nature-trust" method="post">
<!-- pscs-addresses/psc-orp-poa/psc-orp-poa-where -->


{% if (data['registrationOrTransition'] == "registration") %}
  <span class="govuk-caption-l uppercase"> {{ data['lpChooseName'] }} {{ data['nameEnding'] }}</span>
{% else %}  
  <span class="govuk-caption-l">ACME LIMITED PARTNERSHIP ({{ data['lpNumber'] }})   </span>
{% endif %}


<!--Nature of control-->
<h1 class="govuk-heading-xl govuk-!-margin-bottom-1">What is the trust's nature of control?</h1>
<div class="govuk-hint govuk-!-margin-bottom-5">You've told us that the ORP has control over a trust that meets one or more natures of control.</div>



          {{ govukRadios({
              name: "psc1ControlByTrust1",
              fieldset: {
                legend: {
            text: "Share of assets",
                  classes: "govuk-fieldset__legend--m"
                }
              },
  formGroup: {
    beforeInputs: {
      html: '<p class="govuk-body">The trustees of the trust hold (directly or indirectly) the right to the following percentage of surplus assets of the partnership on a winding up:</p>'
    } 
              },
              items: [
                {
                  value: "more than 25% but not more than 50%",
                  text: "more than 25% but not more than 50%"
                },
                {
                  value: "more than 50% but less than 75%",
                  text: "more than 50% but less than 75%"
                },
                {
                  value: "75% or more",
                  text: "75% or more"
                },
          {
            value: "does not apply",
            text: "does not apply"
          }
              ]
            }) }}

                 {{ govukRadios({
              name: "psc1ControlByTrust2",
              fieldset: {
                legend: {
                  text: "Ownership of voting rights",
                  classes: "govuk-fieldset__legend--m"
                }
              },
              formGroup: {
                beforeInputs: {
                  html: '<p class="govuk-body">The trustees of the trust hold (directly or indirectly) the following percentage of voting rights in the limited partnership:</p>'
                }   
              },
              items: [
                {
                  value: "more than 25% but not more than 50%",
                  text: "more than 25% but not more than 50%"
                },
                {
                  value: "more than 50% but less than 75%",
                  text: "more than 50% but less than 75%"
                },
                {
                  value: "75% or more",
                  text: "75% or more"
                },
          {
            value: "does not apply",
            text: "does not apply"
          }
              ]
            }) }}


               {{ govukCheckboxes({
              name: "psc1ControlByTrust3",
                      fieldset: {
                        legend: {
                          text: "Ownership of right to appoint or remove management",
                          classes: "govuk-fieldset__legend--m"
                        }
                      },
                      hint: {
                        text: "Select if this statement applies"
                      },
                      items: [
                        {
                          value: "The trustees of the trust hold, directly or indirectly, the right to appoint or remove a majority of the persons entitled to take part in the management of the limited partnership.",
                          text: "The trustees of the trust hold, directly or indirectly, the right to appoint or remove a majority of the persons entitled to take part in the management of the limited partnership."
                        }
                      ]
                    }) }}


                         {{ govukCheckboxes({
              name: "psc1ControlByTrust4",
                      fieldset: {
                        legend: {
                          text: "Significant influence or control",
                          classes: "govuk-fieldset__legend--m"
                        }
                      },
                      hint: {
                        text: "Select if this statement applies"
                      },
                      items: [
                        {
                          value: "The trustees of the trust have the right to exercise, or actually exercise, significant influence or control over the limited partnership.",
                          text: "The trustees of the trust have the right to exercise, or actually exercise, significant influence or control over the limited partnership."
                        }
                      ]
                    }) }}


 {{ govukInsetText({
          html: "<h2 class='govuk-heading-m'>What information we'll show on the public register</h2>
                <p>We'll show this information on the public register.</p>"
        }) }}


{{ govukButton({
  text: "Save and continue"
}) }}

</form>
    </div>
  </div>

{% endblock %}
