{% extends "layouts/main.html" %}
<!-- Overwrite suerfice name -->
{% set serviceName %}
  
{% endset%}


{% block pageTitle %}
  {{ serviceName }} – Prototype
{% endblock %}

{% block beforeContent %}


{% endblock %}


{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds ">

  <form action="email-exists" method="post" novalidate="">

    <a class="govuk-back-link govuk-!-static-margin-top-0" href="javascript:window.history.back()">Back</a>


    <h1 class="govuk-heading-l govuk-!-padding-top-5">You have a GOV.UK One Login</h1> 

    <p class="govuk-body">There's already a GOV.UK One Login using <br> <span class="govuk-body govuk-!-font-weight-bold"> example@gmail.com</span></p>

    <p class="govuk-body">Enter your password to sign in.</p>



    <div class="govuk-form-group govuk-password-input" data-module="govuk-password-input">
      <label class="govuk-label" for="password-input">
        Password
      </label>
      <div class="govuk-input__wrapper govuk-password-input__wrapper">
        <input class="govuk-input govuk-password-input__input govuk-js-password-input-input" id="password-input" name="password" type="password" spellcheck="false" autocomplete="current-password" autocapitalize="none">
        <button type="button" class="govuk-button govuk-button--secondary govuk-password-input__toggle govuk-js-password-input-toggle" data-module="govuk-button" aria-controls="password-input" aria-label="Show password" hidden>
          Show
        </button>
      </div>
    </div>


    {{ govukButton({
      text: "Continue",
      href:"enter-code"
    }) }}   

  <p class="govuk-body"><a href="#" class="govuk-link">I've forgotten my password</a></p> 
  
  </form>

</div>
</div>

{% endblock %}
