{% extends "layouts/main.html" %}

{% set pageName="What is the limited partnership number?" %}

{% block beforeContent %}
  {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link.html" %}
{% endblock %}





{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/company-number" method="post">



      {{ govukInput({
          label: {
            text: "What is the limited partnership number?",
            classes: "govuk-label--xl",
            isPageHeading: true
          },
          hint: {
            text: "The 8-character reference issued by Companies House when the company was set up"
          },
            classes: "govuk-!-width-one-half",
          id: "lpNumber",
          name: "lpNumber",
          value: data['lpNumber']
        }) }}






{{ govukDetails({
  summaryText: "Help with limited partnership number",
  html: 'Use the <a class="govuk-link" href="https://find-and-update.company-information.service.gov.uk/">Companies House service</a> to find it.'
}) }}
      
{{ govukButton({
  text: "Continue"
}) }}

</form>
    </div>
  </div>
{% endblock %}
