{% extends "layouts/main.html" %}

{% set pageName="Confirm this is the correct limited partnership" %}

{% block beforeContent %}
  {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link.html" %}
{% endblock %}







{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<form class="form" action="idv-filter" method="post">


      <h1 class="govuk-heading-xl">Confirm this is the correct limited partnership</h1>

            <h1 class="govuk-heading-l">ACME LIMITED PARTNERSHIP</h1>

 

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Company number	"
      },
    value: {
            text: "LP123456"
      }
    },
    {
      key: {
        text: "Status"
      },
      value: {
        html: "Active"
      }
    },
        {
      key: {
        text: "Registered on"
      },
      value: {
        text: "5 July 1900"
      }
    }
  ]
}) }}


   {{ govukButton({
  text: "Confirm and continue"
  
}) }}  

<p><a href="company-number">Choose a different limited partnership</a></p>
    </div>
  </div>
{% endblock %}
