{% extends "layouts/main.html" %}

{% set pageName="General partner identity verification" %}

{% block beforeContent %}
  {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link.html" %}
{% endblock %}





{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="check-your-answers" method="post">



      <span class="govuk-caption-l">ACME LIMITED PARTNERSHIP (LP123456)</span>


<h1 class="govuk-heading-xl">Provide identity verification details for general partners</h1>
<div class="govuk-!-padding-bottom-0"></div>
<!-- can't work out this weird spacing -->
<p class="govuk-body">Some info</p>

 <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Where to find the Companies House personal code
    </span>
  </summary>
  <div class="govuk-details__text">
    This is an 11 character code that is given to a person once they have verified their identity. If any general partner has not verified their identity and received a code, they need to do this before you can file this confirmation statement.
  </div>
</details>


        <h2 class="govuk-heading-m">Lisa Limited Partner</h2>
 


{{ govukInput({
  label: {
    text: "What is their Companies House personal code?"
  },
  classes: "govuk-!-width-one-half",
  id: "one-half",
  name: "oneHalf"
}) }}
{{ govukCheckboxes({
  name: "lisaConfirm",
  fieldset: {
    legend: {
      text: "",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "lisa",
      text: "I can confirm that Lisa Limited Partner has verified their identity"
    }
  ]
}) }}
{{ govukButton({
  text: "Submit",
  classes: "govuk-button--secondary"
}) }}



        <h2 class="govuk-heading-m">Ryan Registered Officer</h2>


{{ govukInput({
  label: {
    text: "What is their Companies House personal code?"
  },
  classes: "govuk-!-width-one-half",
  id: "one-half",
  name: "oneHalf"
}) }}
          {{ govukCheckboxes({
                name: "ryanConfirm",
                fieldset: {
                  legend: {
                    text: "Confirm all the identity verification statements",
                    isPageHeading: true,
                    classes: "govuk-visually-hidden"
                  }
                },

                items: [
                  {
                    value: "ryan",
                    text: "I confirm that Ryan Registered Officer has verified their identity."
                  },
                  {
                    value: "gpRyan",
                    text: "General Partner Co has confirmed that Ryan Registered Officer is the registered officer of this entity."
                  },
                  {
                    value: "ryanGp",
                    text: "Ryan Registered Officer has confirmed that they are a registered officer of General Partner Co."
                  }
                ]
              }) }}
              
{{ govukButton({
  text: "Submit",
  classes: "govuk-button--secondary"
}) }}
<br>

{{ govukInsetText({
          html: "<h2 class='govuk-heading-m'>What information we'll show on the public online register</h2>
                <p>Some info</p>"
        }) }}


{{ govukButton({
  text: "Continue"
}) }}

</form>
    </div>
  </div>
{% endblock %}
