{% extends "layouts/main.html" %}

{% set pageName="Identity verification" %}

{% block beforeContent %}
  {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link.html" %}
{% endblock %}





{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<form class="form" action="/idv-filter" method="post">



      <span class="govuk-caption-l">ACME LIMITED PARTNERSHIP (LP123456)</span>


<h1 class="govuk-heading-xl">Identity verification for general partners</h1>

{# 
{% if data['lpNumber'].startsWith("SL") %}
  This is limited partnership with an SL prefix
  <h1 for SLPs> Identity verification for general partners and PSCs
  Before you can file an update for a limited partnership (LP), its general partners and people with significant control (PSCs) need to verify their identity for Companies House (opens in a new tab).

  <h2 for SLPs>Do you have a Companies House personal code for all general partners and PSCs?
  
{% elseif data['lpNumber'].startsWith("SG") %}
  This is limited partnership with an SG prefix
{% elseif data['lpNumber'].startsWith("NL") %}
  This is limited partnership with an NL prefix
{% endif %}
 #}


<p>Before you can file an update for a limited partnership (LP), its general partners need to <a href="">verify their identity for Companies House (opens in a new tab)</a>.</p>

<p>If a general partner is a legal entity, the registered officer for the entity needs to verify their identity.</p>

<p class="govuk-!-margin-bottom-8">When they've verified, we'll give them a Companies House personal code, which they will need to share with you.</p>






{{ govukRadios({
  name: "idvCodes",
  value: data['idvCodes'],
  fieldset: {
    legend: {
      text: "Do you have a Companies House personal code for all general partners?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "This includes the registered officers for general partners that are legal entities."
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}
      
{{ govukButton({
  text: "Continue"
}) }}

</form>
    </div>
  </div>
{% endblock %}
