{% extends "layouts/main.html" %}

{% set pageName="V2" %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!--{% include "govuk-prototype-kit/includes/homepage-top.njk" %}-->

 



    <span class="govuk-caption-xl">Version 2</span>
    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    {{ govukWarningText({
      text: "This prototype is being actively worked on - things might break or change very quickly",
      iconFallbackText: "Warning"
    }) }}



   <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1718782436541/6dbf1fa0420a91e225730ded076774a63afe9be6?wid=0-1718783276548">Link to Mural</a></li>
      </ul>

    <h2 class="govuk-heading-m">Initial screens</h2>

      <ul class="govuk-list govuk-list--bullet">
        <!--<li><a class="govuk-link" href="test-scenario">Test scenario (PDF or Web)</a></li>-->
        <li><a class="govuk-link" href="start">Start</a></li>
        <li><a class="govuk-link" href="sign-in">Sign in</a></li>
        <li><a class="govuk-link" href="company-number">Choose...</a></li>
        <li><a class="govuk-link" href="correct-company">Confirm...</a></li>
        <li><a class="govuk-link" href="auth-code">Auth code</a></li>

      </ul>
      
      <h2 class="govuk-heading-m">General partner screens</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="general-partner-screens/general-partner-section">General partner section start page</a></li>
        <li><a class="govuk-link" href="general-partner-screens/general-partner-choice">General partner - person or legal entity?</a></li>
        <li><a class="govuk-link" href="general-partner-screens/gp-legal-entity">General partner - legal entity info</a></li>
        <li><a class="govuk-link" href="general-partner-screens/gp-person">General partner - person info</a></li>
        <li><a class="govuk-link" href="general-partner-screens/gp-add-another">Do you need to add another general partner?</a></li>
      </ul>

      <h2 class="govuk-heading-m">Limited partner screens</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="limited-partner-screens/limited-partnership-info">Limited partnership info - first screen</a></li>
        <li><a class="govuk-link" href="limited-partner-screens/limited-parter-section">Limited partner section start page</a></li>
        <li><a class="govuk-link" href="limited-partner-screens/limited-partner-choice">Limited partner - person or legal entity?</a></li>
        <li><a class="govuk-link" href="limited-partner-screens/lp-legal-entity">Limited partner - legal entity</a></li>
        <li><a class="govuk-link" href="limited-partner-screens/lp-person">Limited partner - person</a></li>
        <li><a class="govuk-link" href="limited-partner-screens/lp-add-another">Do you need to add another limited partner?</a></li>
      </ul>

      <h2 class="govuk-heading-m">Scottish PSC IDV screen</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="psc-idv">Provide IDV for PSCs</a></li>
        
      </ul>

      <h2 class="govuk-heading-m">Final screens</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="#">Check your answers</a></li>
        <li><a class="govuk-link" href="#">Confirmation</a></li>
      </ul>

    <h2 class="govuk-heading-m">Emails</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="#">Submission received</a></li>
        <li><a class="govuk-link" href="#">Submission accepted</a></li>
        <li><a class="govuk-link" href="#">Submission rejected</a></li>
      </ul>

   <!--{% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}-->
  </div>
</div>

{% endblock %}
