{% extends "layouts/main.html" %}

{% set pageName="Do you need to add another limited partner?" %}

{% block beforeContent %}
  {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link.html" %}
{% endblock %}




{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/lp-add-another" method="post">



      <span class="govuk-caption-l">ACME LIMITED PARTNERSHIP (LP123456)</span>
       <h1 class="govuk-heading-xl">Limited partners</h1>

</div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-m">Limited partners you have added so far:</h2>

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Person"
            },
            value: {
              text: "Lisa Taylor"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Lisa Limited Partner"
                },
                  {
                  href: "#",
                  text: "Remove",
                  visuallyHiddenText: "Lisa Limited Partner"
                }
              ]
            }
          },
          {
            key: {
              text: "Legal entity"
            },
            value: {
              text: "ACME Legal Entity Inc"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "ACME Legal Entity Inc"
                },
                 {
                  href: "#",
                  text: "Remove",
                  visuallyHiddenText: "ACME Legal Entity Inc"
                }
              ]
            }
          }
        ]
      }) }}

</div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
{{ govukRadios({
  name: "addAnotherLP",
  fieldset: {
    legend: {
      text: "Do you need to add another limited partner?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },

  items: [
    {
      value: "addPersonLP",
      text: "Yes, a person"
    },
    {
      value: "addEntityLP",
      text: "Yes, a legal entity"
    },
    {
      divider: "or"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}
      
{{ govukButton({
  text: "Continue"
}) }}

</form>
    </div>
  </div>
{% endblock %}
