{% extends "layouts/main.html" %}

{% set pageName="PSC identity verification" %}

{% block beforeContent %}
  {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link.html" %}
{% endblock %}





{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="check-your-answers" method="post">



      <span class="govuk-caption-l">ACME LIMITED PARTNERSHIP (LP123456)</span>


<h1 class="govuk-heading-xl">Provide identity verification details for people with significant control (PSCs)</h1>
<div class="govuk-!-padding-bottom-0"></div>
<!-- can't work out this weird spacing -->
<p class="govuk-body">Some info</p>

 <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Where to find the Companies House personal code
    </span>
  </summary>
  <div class="govuk-details__text">
    This is an 11 character code that is given to a person once they have verified their identity. If any general partner has not verified their identity and received a code, they need to do this before you can file this update.
  </div>
</details>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Name</h2>
        <p class="govuk-body">Jane DOE</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">Date of birth</h2>
        <p class="govuk-body">February 1980</p>
      </div>
    </div>


{{ govukInput({
  label: {
    text: "What is their Companies House personal code?"
  },
  classes: "govuk-!-width-one-half",
  id: "one-half",
  name: "oneHalf"
}) }}
{{ govukCheckboxes({
  name: "confirm",
  fieldset: {
    legend: {
      text: "",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "confirm",
      text: "I can confirm that Jane DOE has verified their identity"
    }
  ]
}) }}
{{ govukButton({
  text: "Submit",
  classes: "govuk-button--secondary"
}) }}



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Name</h2>
        <p class="govuk-body">John Smith</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">Date of birth</h2>
        <p class="govuk-body">December 1970</p>
      </div>
    </div>


{{ govukInput({
  label: {
    text: "What is their Companies House personal code?"
  },
  classes: "govuk-!-width-one-half",
  id: "one-half",
  name: "oneHalf"
}) }}
{{ govukCheckboxes({
  name: "confirm",
  fieldset: {
    legend: {
      text: "",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "confirm",
      text: "I can confirm that Jane DOE has verified their identity"
    }
  ]
}) }}
{{ govukButton({
  text: "Submit",
  classes: "govuk-button--secondary"
}) }}
<br>

{{ govukInsetText({
          html: "<h2 class='govuk-heading-m'>What information we'll show on the public online register</h2>
                <p>Some info</p>"
        }) }}


{{ govukButton({
  text: "Continue"
}) }}

</form>
    </div>
  </div>
{% endblock %}
