{% extends "layouts/main.html" %}

{% set pageName="Test scenario" %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="start" method="post">


<h1 class="govuk-heading-xl">Testing instructions</h1>

{{ govukInsetText({
  text: "Different screens or parts of screens are shown, depending on values you enter into the prototype"
}) }}



  <h2 class="govuk-heading-m">Sign in to Companies House</h2>

  <p>On the <a href="sign-in">Sign in screen</a>, enter the email address <span class="govuk-!-font-weight-bold">someone@test.com</span>  to see <a href="not-eligible">the screen shown to ineligible users (non-ASCPs)</a>.</p>


  <h2 class="govuk-heading-m">What is the limited partnership number?</h2>

  <p>On the <a href="company-number">What is the limited partnership number?</a> screen, entering different numbers will result in different journeys:</p>
   <ul class="govuk-list govuk-list--bullet">
        <li><span class="govuk-!-font-weight-bold">LP654321</span> will result in the post-transition journey <span class="govuk-!-font-size-16">more detail to be added<span></li>
         <li>Any value starting with <span class="govuk-!-font-weight-bold">SL</span> will show any screens (or parts of screens) specific to Scottish LPs <span class="govuk-!-font-size-16">more detail to be added<span></li>
          <li>Any value starting with <span class="govuk-!-font-weight-bold">SG</span> will show any screens (or parts of screens) specific to Scottish Qualifying Partnership <span class="govuk-!-font-size-16">more detail to be added<span></li>
              <li>Any value starting with <span class="govuk-!-font-weight-bold">NL</span> will show any screens (or parts of screens) specific to Northern Irish LPs <span class="govuk-!-font-size-16">more detail to be added<span></li>
      </ul>



</form>

  </div>
</div>

{% endblock %}
