{% extends "layouts/main.html" %}

{% set pageName="Test scenario" %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="start" method="post">

{{ govukInsetText({
  text: "For User Research use - this screen would not be shown to user"
}) }}



      {{ govukRadios({
        name: "testScenario",
        fieldset: {
          legend: {
            text: "Choose a user test scenario",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "transition",
            text: "Transition"
          },
          {
            value: "postTransition",
            text: "Post-transition"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}


</form>

  </div>
</div>

{% endblock %}
