{% extends "layouts/main.html" %}

{% set pageName=" Change SIC codes" %}







{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
 {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link-language-toggle.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="file-confirmation-statement" method="post" class="form">

          <span class="govuk-caption-l">ACME LIMITED PARTNERSHIP ({{ data['lpNumber'] or "LP123456" }})</span>
        <h1 class="govuk-heading-xl">
          Change SIC codes <!-- if changing this, update pageName above-->
        </h1>

        <p>SIC codes can only be changed within a confirmation statement.</p>

        <p>If any other information about this limited partnership needs updating, <a href="" class="">go back and make other changes first</a>.</p><!-- back link here?-->
        
        <div class="govuk-inset-text">
          Any changes you’ve made might not show up straight away. If this happens, you can tell us in the confirmation statement that changes have been submitted and are pending.
        </div>

        <p class="govuk-body">
          You can then make changes to SIC codes in our File a limited partnership confirmation statement service.
        </p>   


       

  

{{ govukCheckboxes({
  name: "checked",
  fieldset: {
    legend: {
      text: "Confirm you have checked the other information and submitted any changes needed",
      classes: "govuk-visually-hidden"
    }
  },
  items: [
    {
      value: "checked",
      text: "I've checked the other information and submitted any changes needed"
    }
  ]
}) }}
       

  

{{ govukButton({
  text: "File a limited partnership confirmation statement"
}) }}    

      </form>

    </div>
    <!--govuk-grid-row-->

    <!--govuk-grid-column-two-thirds-->
  </div>
  <!--govuk-grid-column-two-thirds-->

</main>
</div>
<!---govuk-width-container-->

{% endblock %}