{% extends "layouts/main.html" %}

{% set pageName="Confirmation" %}



{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
 {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link-language-toggle.html" %}
{% endblock %}

{% set references = [
'<strong>HDJ2123F</strong>',
'<strong>LOPF123F</strong>',
'<strong>HLJ21789</strong>',
'<strong>HLJ2DOP</strong>',
'<strong>OPSF2DOP</strong>',
'<strong>TYPF2DOP</strong>',
'<strong>WERCVF</strong>',
'<strong>SWERCVF</strong>',
'<strong>TYU8764</strong>'
] | random %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Content TBC",
html: "Your reference number " + references
}) }}

  

{{ govukInsetText({
  text: "It may take a while for this change to show on the limited partnership overview CONTENT TBD"
}) }}


            <p class="govuk-body">Content TBC</p>


      <!--<p class="govuk-body">We've sent a confirmation email to <strong>agent@authorised-agent.com</strong>.</p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
        We'll update the information about ACME LIMITED PARTNERSHIP (LP123456) on the public register. 
      </p>
     <p class="govuk-body">
       We'll email <strong>lp@limited-partnership.com</strong> with instructions on how to request an authentication code. This will be needed for all future filings.
      </p>
      <p class="govuk-body">
        We'll send an authentication code to the registered office address you've provided. This code will be needed for all future filings.
       </p>


      <p class="govuk-body">
        <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
      </p>-->

      {{ govukButton({
  text: "Return to limited partnership overview",
  href: "../limited-partnership-overview-cya"
}) }}


    </div>
  </div>
{% endblock %}
