{% extends "layouts/main.html" %}

{% set pageName="Confirmation statement" %}







{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
 {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link-language-toggle.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="javascript:void(0)" method="post" class="form">

          <span class="govuk-caption-l">ACME LIMITED PARTNERSHIP ({{ data['lpNumber'] or "LP123456" }})</span>
        <h1 class="govuk-heading-xl">
          Confirmation statement  <!-- if changing this, update pageName above-->
        </h1>

        <p>Before filing your confirmation statement you should ensure you have made all the necessary updates in this service.</p>

            {{ govukWarningText({
              text: "The only change you can make in the confirmation statement is to Standard Industrial Classification (SIC) codes",
              iconFallbackText: "Warning"
            }) }}


       

  
<p class="govuk-body">
  <a href="javascript:void(0)" class="govuk-link" rel="noreferrer noopener" target="_blank">Go to the File a limited partnership confirmation statement service (opens in new tab)</a>
</p>    

      </form>

    </div>
    <!--govuk-grid-row-->

    <!--govuk-grid-column-two-thirds-->
  </div>
  <!--govuk-grid-column-two-thirds-->

</main>
</div>
<!---govuk-width-container-->

{% endblock %}