{% extends "layouts/main.html" %}

{% set pageName="Check before you file" %}







{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
 {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link-language-toggle.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="javascript:void(0)" method="post" class="form">

          <span class="govuk-caption-l">ACME LIMITED PARTNERSHIP ({{ data['lpNumber'] or "LP123456" }})</span>
        <h1 class="govuk-heading-xl">
          Check before you file  <!-- if changing this, update pageName above-->
        </h1>

        <p>Before you file a confirmation statement, you must check that the information Companies House has about this limited partnership is correct. If you have not done this yet, <a href="" class="">go back and make any changes needed.</a></p> <!--link to go back here?-->

        <p>SIC codes can be changed within the confirmation statement.</p>

            <!--{{ govukWarningText({
              text: "The only change you can make in the confirmation statement is to Standard Industrial Classification (SIC) codes",
              iconFallbackText: "Warning"
            }) }}-->
        
  
            <h2 class="govuk-heading-m">I have checked the information and submitted any changes needed</h2>


       

  
<p class="govuk-body">
  <a href="javascript:void(0)" class="govuk-link" rel="noreferrer noopener" target="_blank">File a limited partnership confirmation statement (opens in new tab)</a>.
</p>    

      </form>

    </div>
    <!--govuk-grid-row-->

    <!--govuk-grid-column-two-thirds-->
  </div>
  <!--govuk-grid-column-two-thirds-->

</main>
</div>
<!---govuk-width-container-->

{% endblock %}