{% extends "layouts/main.html" %}

{% set pageName=" Changing SIC codes" %}







{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
 {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link-language-toggle.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="confirmation-statement" method="post" class="form">
        <h1 class="govuk-heading-l">
          Changing SIC codes <!-- if changing this, update pageName above-->
        </h1>

        <p>You can only change these when you file a Confirmation Statement</p>
       

  
   {{ govukButton({
          text: "Continue"
        }) }}        

      </form>

    </div>
    <!--govuk-grid-row-->

    <!--govuk-grid-column-two-thirds-->
  </div>
  <!--govuk-grid-column-two-thirds-->

</main>
</div>
<!---govuk-width-container-->

{% endblock %}