{% extends "layouts/main.html" %}

{% set pageName="What is the company number?" %}

{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
 {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link-language-toggle.html" %}
{% endblock %}





{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/company-number" method="post">



      {{ govukInput({
        label: {
          text: "What is the company number?",
          classes: "govuk-label--xl",
          isPageHeading: true
        },
        hint: {
          html: "<p class='govuk-hint'>Enter the 8 character company number. You can find this by searching for the company on the <a href='#' class='govuk-link' rel='noreferrer noopener' target='_blank'>Companies House register (opens in new tab)</a>.
</p>"
        },
          classes: "govuk-!-width-one-half",
        id: "lpNumber",
        name: "lpNumber",
        value: data['lpNumber']
      }) }}


{% from "govuk/components/details/macro.njk" import govukDetails %}

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
     My number is not 8 characters
    </span>
  </summary>
  <div class="govuk-details__text">
    If you have a shorter company number, you'll need to enter zeros to make it the right length.
<br><br>
<h2 class="govuk-heading-s">For most company numbers</h2>
Enter zeros at the start so that it's 8 characters in total. For example, if it's 12345, enter 00012345.
<br><br>
<h2 class="govuk-heading-s">For limited partnership numbers</h2>
Enter zeros after the letters (SL, LP or NL) to make 8 characters in total. For example, if it's SL123, enter SL000123.
  </div>
</details>

{{ govukButton({
  text: "Continue"
}) }}

</form>
    </div>
  </div>
{% endblock %}
