{% extends "layouts/main.html" %}

{% set pageName="Change registered email address	" %}







{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
 {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link-language-toggle.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="https://find-and-update.company-information.service.gov.uk/registered-email-address" method="post" class="form">

        <span class="govuk-caption-l">ACME LIMITED PARTNERSHIP ({{ data['lpNumber'] or "LP123456" }})</span>
        <h1 class="govuk-heading-xl">
          Change registered email address	  <!-- if changing this, update pageName above-->
        </h1>

        <p>Use our <a href="https://find-and-update.company-information.service.gov.uk/registered-email-address" class="govuk-link" rel="noreferrer noopener" target="_blank">Update a registered email address service (opens in new tab)</a>.</p>

        <p>Our systems take a while to process this change, so the new email address might not show up straight away.</p>

        <!--{{ govukInsetText({
          text: "Changes you make there might take a while to show here."
        }) }}-->

       



   

      </form>

    </div>
    <!--govuk-grid-row-->

    <!--govuk-grid-column-two-thirds-->
  </div>
  <!--govuk-grid-column-two-thirds-->

</main>
</div>
<!---govuk-width-container-->

{% endblock %}