{% extends "layouts/main.html" %}

{% set pageName="Confirmation" %}



{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
 {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link-language-toggle.html" %}
{% endblock %}

{% set references = [
'<strong>HDJ2123F</strong>',
'<strong>LOPF123F</strong>',
'<strong>HLJ21789</strong>',
'<strong>HLJ2DOP</strong>',
'<strong>OPSF2DOP</strong>',
'<strong>TYPF2DOP</strong>',
'<strong>WERCVF</strong>',
'<strong>SWERCVF</strong>',
'<strong>TYU8764</strong>'
] | random %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Application submitted",
html: "Your reference number " + references
}) }}

  




<p class="govuk-body">We've received your application for ACME LIMITED PARTNERSHIP (SL012345) to be designated as a private fund limited partnership.
  
 <p> We've sent a confirmation email to <strong>{{ data['govOneLoginEmail'] or "agent@authorised-agent.com" }}</strong>.</p>


<h2 class="govuk-heading-m">What happens next</h2>

<p>We'll process this application within 5 working days, and email <strong>{{ data['govOneLoginEmail'] or "agent@authorised-agent.com" }}</strong> to let you know if it's been accepted or rejected.


{{ govukInsetText({
  text: "This update will not show in this service, or on the public register, until we accept the filing."
}) }}

<p>If it's accepted, the filing will appear in the limited partnership's filing history on the public register. We'll also issue a certificate confirming the redesignation.

<p>If it's rejected, we'll explain why and tell you what to do next. We'll refund the £30 fee.</p>

<h3 class="govuk-heading-s">If you need to file a confirmation statement</h3>

<p>As long as all updates to limited partnership information have been submitted, you can file a confirmation statement. You do not need to wait for them to be accepted.

<p class="govuk-body">
<a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
</p>

{{ govukButton({
  text: "Return to limited partnership overview",
  href: "../manage/limited-partnership-overview-tabs-wf",
  classes: "govuk-!-margin-top-4"
}) }}


    </div>
  </div>
{% endblock %}
