{% extends "layouts/main.html" %}

{% set pageName="Confirmation" %}



{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
 {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link-language-toggle.html" %}
{% endblock %}

{% set references = [
'<strong>HDJ2123F</strong>',
'<strong>LOPF123F</strong>',
'<strong>HLJ21789</strong>',
'<strong>HLJ2DOP</strong>',
'<strong>OPSF2DOP</strong>',
'<strong>TYPF2DOP</strong>',
'<strong>WERCVF</strong>',
'<strong>SWERCVF</strong>',
'<strong>TYU8764</strong>'
] | random %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Update submitted",
html: "Your reference number " + references
}) }}

  




<p class="govuk-body">We've received your filing to remove a limited partner of ACME LIMITED PARTNERSHIP (LP123456).
  <p>We've sent a confirmation email to <strong>{{ data['govOneLoginEmail'] or "agent@example.com" }}</strong>.</p>


<h2 class="govuk-heading-m">What happens next</h2>

<p>We'll process this filing within 5 working days, and email <strong>{{ data['govOneLoginEmail'] }}</strong> to let you know if it's been accepted or rejected.  
</p>

{{ govukInsetText({
  text: "When you next log in to this service, you'll still see the limited partner listed until we have accepted the filing."
}) }}


<p>If it's accepted, the filing will appear in the limited partnership's filing history on the public register.

 <p> If it's rejected, we'll explain why and tell you what to do next.</p>


<p class="govuk-body">
<a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
</p>

{{ govukButton({
  text: "Return to limited partnership overview",
  href: "../manage/limited-partnership-overview-tabs-wf",
  classes: "govuk-!-margin-top-4"
}) }}


    </div>
  </div>
{% endblock %}
