{% extends "layouts/main.html" %}

{% set pageName="Before you file a confirmation statement" %}



{% set serviceName %}
  {% include "/includes/confirmation-statement-service-name.html" %}
{% endset%}



{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
 {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link-language-toggle.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="../confirmation-statement/confirmation-statement-date" method="post" class="form">

          <span class="govuk-caption-l">ACME LIMITED PARTNERSHIP ({{ data['lpNumber'] or "SL012345" }})</span>
        <h1 class="govuk-heading-xl">
          Before you file a confirmation statement  <!-- if changing this, update pageName above-->
        </h1>

        <p>You must check that all the information Companies House holds for this limited partnership is correct, and <a href="limited-partnership-overview-tabs-wf" class="govuk-link govuk-link--no-visited-state">update any information that has changed</a>. 

        <div class="govuk-inset-text">
          If you submit updates to limited partnership information, these may not show in the service immediately. As long as the updates have been submitted, you can still file a confirmation statement.
        </div>

        <p>The only information you can update within the confirmation statement is the SIC codes.</p> 


          <!-- {{ govukWarningText({
              text: "The only change you can make in the confirmation statement is to Standard Industrial Classification (SIC) codes",
              iconFallbackText: "Warning"
            }) }}-->
  

            
        
  
      

{{ govukCheckboxes({
  name: "checked",
  fieldset: {
    legend: {
      text: "Confirm you have checked the information and submitted any changes needed",
      classes: "govuk-visually-hidden"
    }
  },
  items: [
    {
      value: "checked",
      text: "I have checked the limited partnership's information and submitted any updates"
    }
  ]
}) }}
       



{{ govukButton({
  text: "Continue"
}) }}

      </form>

    </div>
    <!--govuk-grid-row-->

    <!--govuk-grid-column-two-thirds-->
  </div>
  <!--govuk-grid-column-two-thirds-->

</main>
</div>
<!---govuk-width-container-->

{% endblock %}