{% extends "layouts/main.html" %}

{% set pageName="Confirmation statement submitted" %}


{% block header %}
   {% include "/includes/dynamic-service-name.html" %}
{% endblock %}

{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
    {% include "/includes/user-bar.html" %}
  {% include "/includes/language-toggle.html" %}
{% endblock %}



{% set mainClasses = "govuk-main-wrapper--l" %}





{% block content %}

     <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

    {% set panelTitle = "Confirmation statement submitted" %}

      {{ govukPanel({
          titleText: panelTitle,
          html: "Your reference number<br><strong>HDJ2123F</strong>"
      }) }}






      <p class="govuk-body">We’ve received your confirmation statement for ACME LIMITED PARTNERSHIP ({{ data['lpNumber'] or "LP123456" }}).</p>
      <p class="govuk-body">We've sent a confirmation email to <strong>{{ data['govOneLoginEmail'] or "agent@example.com" }}</strong>.</p>


      <h2 class="govuk-heading-m">What happens next</h2>

 <p class="govuk-body">We’ll process your filing within 5 working days, and email to let you know if it's been accepted or rejected.</p>

 <p class="govuk-body">If it's accepted, the filing will appear in the limited partnership's filing history on the public register.</p>

 <p class="govuk-body">If it's rejected, we'll explain why and what to do next. We'll refund the fee.</p>

<!--
<h2 class="govuk-heading-m">What do you want to do next?</h2>
<ul class="govuk-list">
  <li>
    <a href="/v11/company-number" class="govuk-link govuk-link--no-visited-state">File a confirmation statement for another limited partnership</a>
</li>
</ul>
-->


<!-- Shown in all scenarios-->
  <p class="govuk-body">
    <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
  </p>

<div class="ur-shortcuts">
  <!-- Not part of ACTUAL screen: only for UR purposes -->
  <p class="govuk-body-s govuk-!-margin-bottom-1">UR shortcuts:</p>
    <ul class="govuk-list govuk-body-s govuk-!-margin-top-1">
      <li><a class="govuk-link" href="/v11/emails/confirmation-statement/application-received">Email - application received</a></li>
      <li><a class="govuk-link" href="/v11/emails/confirmation-statement/application-accepted"> Email - application accepted</a></li>
      <li><a class="govuk-link" href="/v11/emails/confirmation-statement/application-rejected"> Email - application accepted</a></li>
    </ul>
  </div>


    </div>
  </div>
{% endblock %}
