{% extends "layouts/main.html" %}

{% set pageName="Confirm all the identity verification statements" %}

{% block header %}
   {% include "/includes/dynamic-service-name.html" %}
{% endblock %}


{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
 {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link-language-toggle.html" %}
{% endblock %}





{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="limited-partner-section" method="post">



{% if (data['registrationOrTransition'] == "registration") %}
  <span class="govuk-caption-l uppercase"> {{ data['lpChooseName'] }} {{ data['nameEnding'] }}</span>
{% else %}  
  <span class="govuk-caption-l">ACME LIMITED PARTNERSHIP (LP123456)</span>
{% endif %}    

              {{ govukCheckboxes({
                name: "idvConfirm",
                fieldset: {
                  legend: {
                    text: "Confirm all the identity verification statements",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--xl"
                  }
                },

                items: [
                     {
                    value: "Georgina",
                    text: "I confirm that Georgina General Partner has verified their identity."
                  },
                         {
                    value: "ryan",
                    text: "I confirm that Ryan Registered Officer has verified their identity."
                  },
                  {
                    value: "gpRyan",
                    text: "General Partner Co has confirmed that Ryan Registered Officer is the registered officer of this entity."
                  },
                  {
                    value: "ryanGp",
                    text: "Ryan Registered Officer has confirmed that they are a registered officer of General Partner Co."
                  }
                ]
              }) }}




      
{{ govukButton({
  text: "Continue"
}) }}

</form>
    </div>
  </div>
{% endblock %}
