{% extends "layouts/main.html" %}

{% set pageName="Where is the jurisdiction?" %}

{% block header %}
   {% include "/includes/dynamic-service-name.html" %}
{% endblock %}

{% block beforeContent %}
    {% include "/includes/phase-banner.html" %}
{% include "/includes/user-bar.html" %}
  {% include "/includes/back-link-language-toggle.html" %}
{% endblock %}





{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<form class="form" action="/v3/limited-partnership-ppob" method="post">
   

{% if (data['registrationOrTransition'] == "registration") %}
  <span class="govuk-caption-l">ACME LIMITED PARTNERSHIP</span>
{% else %}  
  <span class="govuk-caption-l">ACME LIMITED PARTNERSHIP ({{ data['lpNumber'] }})   </span>
{% endif %}



{{ govukRadios({
  name: "jurisdiction",
  fieldset: {
    legend: {
      text: "Where is the jurisdiction?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
    hint: {
    text: "Where the partnership was formed."
  }, 
  items: [
    {
      value: "england-wales",
      text: "England and Wales"
    },
    {
      value: "scotland",
      text: "Scotland"
    },
    {
      value: "northern-ireland",
      text: "Northern Ireland"
    }
  ]
}) }}

{{ govukInsetText({
          html: "<h2 class='govuk-heading-m'>What information we'll show on the public online register</h2>
                <p>To be confirmed.</p>"
        }) }}


{{ govukButton({
  text: "Continue"
}) }}

</form>
    </div>
  </div>

  
{% endblock %}
