{% extends "layouts/main.html" %}
 
{% set pageName="Add a limited partner (person)" %}


{% block header %}
   {% include "/includes/dynamic-service-name.html" %}
{% endblock %}

{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
 {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link-language-toggle.html" %}
{% endblock %}





{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="lp-add-another" method="post">



{% if (data['registrationOrTransition'] == "registration") %}
  <span class="govuk-caption-l uppercase"> {{ data['lpChooseName'] }} {{ data['nameEnding'] }}</span>
{% else %}  
  <span class="govuk-caption-l">ACME LIMITED PARTNERSHIP ({{ data['lpNumber'] }})   </span>
{% endif %}

<h1 class="govuk-heading-xl">Add a limited partner (person)</h1>

<!--<div class="govuk-form-group govuk-input--width-30">
          <label for="autocomplete-default" class="govuk-label">Professional or honorary title (if relevant)</label>
          <p class="govuk-hint">Start typing a title, such as Dr or Professor, then choose from the list.</p>
          <div id="title" name="title" class="autocomplete-wrapper govuk-input--width-20"></div>
        </div>
 -->



{{ govukInput({
  label: {
    text: "First name",
    classes: "govuk-label--m"
  },

  id: "lp1FirstName",
  name: "lp1FirstName",
  classes: "govuk-!-width-full"
}) }}
<!--
{{ govukInput({
  label: {
    text: "Middle names",
    classes: "govuk-label--m"
  },

  id: "lp-name",
  name: "lpName",
  classes: "govuk-!-width-full"
}) }}
-->
{{ govukInput({
  label: {
    text: "Last name",
    classes: "govuk-label--m"
  },
  
  id: "lp1LastName",
  name: "lp1LastName",
  classes: "govuk-!-width-full"
}) }}

{% set previousHtmlPerson %}
{{ govukInput({
  label: {
    text: "What is the limited partner's previous name?"
  },
  hint: {
            text: "If the partner has more than one previous name, separate each name with a comma."
          },
  id: "previous-name-person",
  name: "previousNamePerson"
}) }}
{% endset -%}



{{ govukRadios({
  name: "previousNameOfficer",
  fieldset: {
    legend: {
      text: "Does the limited partner have a previous name?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "For example, if they've changed their name as a result of marriage or divorce."
  },
  items: [
    {
      value: "yes",
      text: "Yes",
      conditional: {
          html: previousHtmlPerson
      }
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}

{{ govukDateInput({
  id: "date-of-birth",
  namePrefix: "date-of-birth",
  fieldset: {
    legend: {
      text: "Date of birth",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "For example, 27 3 2000"
  }
}) }}

<div class="govuk-form-group">
  <label class="govuk-label govuk-label--m" for="nationality">
    What is their nationality?
  </label>

 

  <select class="govuk-select" id="nationality" name="nationality" aria-describedby="nationality-hint">
  
    
      <option value="">Select a nationality</option>
    
        <option value="British">British</option>

    
      <option value="Afghan">Afghan</option>
    
  
    
      <option value="Albanian">Albanian</option>
    
  
    
      <option value="Algerian">Algerian</option>
    
  
    
      <option value="American">American</option>
    
  
    
      <option value="Andorran">Andorran</option>
    
  
    
      <option value="Angolan">Angolan</option>
    
  
    
      <option value="Anguillan">Anguillan</option>
    
  
    
      <option value="Argentine">Argentine</option>
    
  
    
      <option value="Armenian">Armenian</option>
    
  
    
      <option value="Australian">Australian</option>
    
  
    
      <option value="Austrian">Austrian</option>
    
  
    
      <option value="Azerbaijani">Azerbaijani</option>
    
  
    
      <option value="Bahamian">Bahamian</option>
    
  
    
      <option value="Bahraini">Bahraini</option>
    
  
    
      <option value="Bangladeshi">Bangladeshi</option>
    
  
    
      <option value="Barbadian">Barbadian</option>
    
  
    
      <option value="Belarusian">Belarusian</option>
    
  
    
      <option value="Belgian">Belgian</option>
    
  
    
      <option value="Belizean">Belizean</option>
    
  
    
      <option value="Beninese">Beninese</option>
    
  
    
      <option value="Bermudian">Bermudian</option>
    
  
    
      <option value="Bhutanese">Bhutanese</option>
    
  
    
      <option value="Bolivian">Bolivian</option>
    
  
    
      <option value="Botswanan">Botswanan</option>
    
  
    
      <option value="Brazilian">Brazilian</option>
    
  
    
      <option value="British">British</option>
    
  
    
      <option value="British Virgin Islander">British Virgin Islander</option>
    
  
    
      <option value="Bruneian">Bruneian</option>
    
  
    
      <option value="Bulgarian">Bulgarian</option>
    
  
    
      <option value="Burkinan">Burkinan</option>
    
  
    
      <option value="Burmese">Burmese</option>
    
  
    
      <option value="Burundian">Burundian</option>
    
  
    
      <option value="Cambodian">Cambodian</option>
    
  
    
      <option value="Cameroonian">Cameroonian</option>
    
  
    
      <option value="Canadian">Canadian</option>
    
  
    
      <option value="Cape Verdean">Cape Verdean</option>
    
  
    
      <option value="Cayman Islander">Cayman Islander</option>
    
  
    
      <option value="Central African">Central African</option>
    
  
    
      <option value="Chadian">Chadian</option>
    
  
    
      <option value="Chilean">Chilean</option>
    
  
    
      <option value="Chinese">Chinese</option>
    
  
    
      <option value="Citizen of Antigua and Barbuda">Citizen of Antigua and Barbuda</option>
    
  
    
      <option value="Citizen of Bosnia and Herzegovina">Citizen of Bosnia and Herzegovina</option>
    
  
    
      <option value="Citizen of Guinea-Bissau">Citizen of Guinea-Bissau</option>
    
  
    
      <option value="Citizen of Kiribati">Citizen of Kiribati</option>
    
  
    
      <option value="Citizen of Seychelles">Citizen of Seychelles</option>
    
  
    
      <option value="Citizen of the Dominican Republic">Citizen of the Dominican Republic</option>
    
  
    
      <option value="Citizen of Vanuatu">Citizen of Vanuatu</option>
    
  
    
      <option value="Colombian">Colombian</option>
    
  
    
      <option value="Comoran">Comoran</option>
    
  
    
      <option value="Congolese (Congo)">Congolese (Congo)</option>
    
  
    
      <option value="Congolese (DRC)">Congolese (DRC)</option>
    
  
    
      <option value="Cook Islander">Cook Islander</option>
    
  
    
      <option value="Costa Rican">Costa Rican</option>
    
  
    
      <option value="Croatian">Croatian</option>
    
  
    
      <option value="Cuban">Cuban</option>
    
  
    
      <option value="Cymraes">Cymraes</option>
    
  
    
      <option value="Cymro">Cymro</option>
    
  
    
      <option value="Cypriot">Cypriot</option>
    
  
    
      <option value="Czech">Czech</option>
    
  
    
      <option value="Danish">Danish</option>
    
  
    
      <option value="Djiboutian">Djiboutian</option>
    
  
    
      <option value="Dominican">Dominican</option>
    
  
    
      <option value="Dutch">Dutch</option>
    
  
    
      <option value="East Timorese">East Timorese</option>
    
  
    
      <option value="Ecuadorean">Ecuadorean</option>
    
  
    
      <option value="Egyptian">Egyptian</option>
    
  
    
      <option value="Emirati">Emirati</option>
    
  
    
      <option value="English">English</option>
    
  
    
      <option value="Equatorial Guinean">Equatorial Guinean</option>
    
  
    
      <option value="Eritrean">Eritrean</option>
    
  
    
      <option value="Estonian">Estonian</option>
    
  
    
      <option value="Ethiopian">Ethiopian</option>
    
  
    
      <option value="Faroese">Faroese</option>
    
  
    
      <option value="Fijian">Fijian</option>
    
  
    
      <option value="Filipino">Filipino</option>
    
  
    
      <option value="Finnish">Finnish</option>
    
  
    
      <option value="French">French</option>
    
  
    
      <option value="Gabonese">Gabonese</option>
    
  
    
      <option value="Gambian">Gambian</option>
    
  
    
      <option value="Georgian">Georgian</option>
    
  
    
      <option value="German">German</option>
    
  
    
      <option value="Ghanaian">Ghanaian</option>
    
  
    
      <option value="Gibraltarian">Gibraltarian</option>
    
  
    
      <option value="Greek">Greek</option>
    
  
    
      <option value="Greenlandic">Greenlandic</option>
    
  
    
      <option value="Grenadian">Grenadian</option>
    
  
    
      <option value="Guamanian">Guamanian</option>
    
  
    
      <option value="Guatemalan">Guatemalan</option>
    
  
    
      <option value="Guinean">Guinean</option>
    
  
    
      <option value="Guyanese">Guyanese</option>
    
  
    
      <option value="Haitian">Haitian</option>
    
  
    
      <option value="Honduran">Honduran</option>
    
  
    
      <option value="Hong Konger">Hong Konger</option>
    
  
    
      <option value="Hungarian">Hungarian</option>
    
  
    
      <option value="Icelandic">Icelandic</option>
    
  
    
      <option value="Indian">Indian</option>
    
  
    
      <option value="Indonesian">Indonesian</option>
    
  
    
      <option value="Iranian">Iranian</option>
    
  
    
      <option value="Iraqi">Iraqi</option>
    
  
    
      <option value="Irish">Irish</option>
    
  
    
      <option value="Israeli">Israeli</option>
    
  
    
      <option value="Italian">Italian</option>
    
  
    
      <option value="Ivorian">Ivorian</option>
    
  
    
      <option value="Jamaican">Jamaican</option>
    
  
    
      <option value="Japanese">Japanese</option>
    
  
    
      <option value="Jordanian">Jordanian</option>
    
  
    
      <option value="Kazakh">Kazakh</option>
    
  
    
      <option value="Kenyan">Kenyan</option>
    
  
    
      <option value="Kittitian">Kittitian</option>
    
  
    
      <option value="Kosovan">Kosovan</option>
    
  
    
      <option value="Kuwaiti">Kuwaiti</option>
    
  
    
      <option value="Kyrgyz">Kyrgyz</option>
    
  
    
      <option value="Lao">Lao</option>
    
  
    
      <option value="Latvian">Latvian</option>
    
  
    
      <option value="Lebanese">Lebanese</option>
    
  
    
      <option value="Liberian">Liberian</option>
    
  
    
      <option value="Libyan">Libyan</option>
    
  
    
      <option value="Liechtenstein citizen">Liechtenstein citizen</option>
    
  
    
      <option value="Lithuanian">Lithuanian</option>
    
  
    
      <option value="Luxembourger">Luxembourger</option>
    
  
    
      <option value="Macanese">Macanese</option>
    
  
    
      <option value="Macedonian">Macedonian</option>
    
  
    
      <option value="Malagasy">Malagasy</option>
    
  
    
      <option value="Malawian">Malawian</option>
    
  
    
      <option value="Malaysian">Malaysian</option>
    
  
    
      <option value="Maldivian">Maldivian</option>
    
  
    
      <option value="Malian">Malian</option>
    
  
    
      <option value="Maltese">Maltese</option>
    
  
    
      <option value="Marshallese">Marshallese</option>
    
  
    
      <option value="Martiniquais">Martiniquais</option>
    
  
    
      <option value="Mauritanian">Mauritanian</option>
    
  
    
      <option value="Mauritian">Mauritian</option>
    
  
    
      <option value="Mexican">Mexican</option>
    
  
    
      <option value="Micronesian">Micronesian</option>
    
  
    
      <option value="Moldovan">Moldovan</option>
    
  
    
      <option value="Monegasque">Monegasque</option>
    
  
    
      <option value="Mongolian">Mongolian</option>
    
  
    
      <option value="Montenegrin">Montenegrin</option>
    
  
    
      <option value="Montserratian">Montserratian</option>
    
  
    
      <option value="Moroccan">Moroccan</option>
    
  
    
      <option value="Mosotho">Mosotho</option>
    
  
    
      <option value="Mozambican">Mozambican</option>
    
  
    
      <option value="Namibian">Namibian</option>
    
  
    
      <option value="Nauruan">Nauruan</option>
    
  
    
      <option value="Nepalese">Nepalese</option>
    
  
    
      <option value="New Zealander">New Zealander</option>
    
  
    
      <option value="Nicaraguan">Nicaraguan</option>
    
  
    
      <option value="Nigerian">Nigerian</option>
    
  
    
      <option value="Nigerien">Nigerien</option>
    
  
    
      <option value="Niuean">Niuean</option>
    
  
    
      <option value="North Korean">North Korean</option>
    
  
    
      <option value="Northern Irish">Northern Irish</option>
    
  
    
      <option value="Norwegian">Norwegian</option>
    
  
    
      <option value="Omani">Omani</option>
    
  
    
      <option value="Pakistani">Pakistani</option>
    
  
    
      <option value="Palauan">Palauan</option>
    
  
    
      <option value="Palestinian">Palestinian</option>
    
  
    
      <option value="Panamanian">Panamanian</option>
    
  
    
      <option value="Papua New Guinean">Papua New Guinean</option>
    
  
    
      <option value="Paraguayan">Paraguayan</option>
    
  
    
      <option value="Peruvian">Peruvian</option>
    
  
    
      <option value="Pitcairn Islander">Pitcairn Islander</option>
    
  
    
      <option value="Polish">Polish</option>
    
  
    
      <option value="Portuguese">Portuguese</option>
    
  
    
      <option value="Prydeinig">Prydeinig</option>
    
  
    
      <option value="Puerto Rican">Puerto Rican</option>
    
  
    
      <option value="Qatari">Qatari</option>
    
  
    
      <option value="Romanian">Romanian</option>
    
  
    
      <option value="Russian">Russian</option>
    
  
    
      <option value="Rwandan">Rwandan</option>
    
  
    
      <option value="Salvadorean">Salvadorean</option>
    
  
    
      <option value="Sammarinese">Sammarinese</option>
    
  
    
      <option value="Samoan">Samoan</option>
    
  
    
      <option value="Sao Tomean">Sao Tomean</option>
    
  
    
      <option value="Saudi Arabian">Saudi Arabian</option>
    
  
    
      <option value="Scottish">Scottish</option>
    
  
    
      <option value="Senegalese">Senegalese</option>
    
  
    
      <option value="Serbian">Serbian</option>
    
  
    
      <option value="Sierra Leonean">Sierra Leonean</option>
    
  
    
      <option value="Singaporean">Singaporean</option>
    
  
    
      <option value="Slovak">Slovak</option>
    
  
    
      <option value="Slovenian">Slovenian</option>
    
  
    
      <option value="Solomon Islander">Solomon Islander</option>
    
  
    
      <option value="Somali">Somali</option>
    
  
    
      <option value="South African">South African</option>
    
  
    
      <option value="South Korean">South Korean</option>
    
  
    
      <option value="South Sudanese">South Sudanese</option>
    
  
    
      <option value="Spanish">Spanish</option>
    
  
    
      <option value="Sri Lankan">Sri Lankan</option>
    
  
    
      <option value="St Helenian">St Helenian</option>
    
  
    
      <option value="St Lucian">St Lucian</option>
    
  
    
      <option value="Stateless">Stateless</option>
    
  
    
      <option value="Sudanese">Sudanese</option>
    
  
    
      <option value="Surinamese">Surinamese</option>
    
  
    
      <option value="Swazi">Swazi</option>
    
  
    
      <option value="Swedish">Swedish</option>
    
  
    
      <option value="Swiss">Swiss</option>
    
  
    
      <option value="Syrian">Syrian</option>
    
  
    
      <option value="Taiwanese">Taiwanese</option>
    
  
    
      <option value="Tajik">Tajik</option>
    
  
    
      <option value="Tanzanian">Tanzanian</option>
    
  
    
      <option value="Thai">Thai</option>
    
  
    
      <option value="Togolese">Togolese</option>
    
  
    
      <option value="Tongan">Tongan</option>
    
  
    
      <option value="Trinidadian">Trinidadian</option>
    
  
    
      <option value="Tristanian">Tristanian</option>
    
  
    
      <option value="Tunisian">Tunisian</option>
    
  
    
      <option value="Turkish">Turkish</option>
    
  
    
      <option value="Turkmen">Turkmen</option>
    
  
    
      <option value="Turks and Caicos Islander">Turks and Caicos Islander</option>
    
  
    
      <option value="Tuvaluan">Tuvaluan</option>
    
  
    
      <option value="Ugandan">Ugandan</option>
    
  
    
      <option value="Ukrainian">Ukrainian</option>
    
  
    
      <option value="Uruguayan">Uruguayan</option>
    
  
    
      <option value="Uzbek">Uzbek</option>
    
  
    
      <option value="Vatican citizen">Vatican citizen</option>
    
  
    
      <option value="Venezuelan">Venezuelan</option>
    
  
    
      <option value="Vietnamese">Vietnamese</option>
    
  
    
      <option value="Vincentian">Vincentian</option>
    
  
    
      <option value="Wallisian">Wallisian</option>
    
  
    
      <option value="Welsh">Welsh</option>
    
  
    
      <option value="Yemeni">Yemeni</option>
    
  
    
      <option value="Zambian">Zambian</option>
    
  
    
      <option value="Zimbabwean">Zimbabwean</option>
    
  
  </select>
</div>

<p class="govuk-!-margin-bottom-8"><a href="#" id="ity-link" class="govuk-link govuk-link--no-visited-state hidden">
  Add a second nationality
</a></p>

{% call govukFieldset({
  legend: {
    text: "What is their usual residential address?",
    classes: "govuk-fieldset__legend--m",
    isPageHeading: true
  }
}) %}
  {{ govukInput({
    label: {
      text: "Property name or number"
    },
        hint: {
    text: "For example, 'The Mill', '116' or 'Flat 37a'"
  },
    id: "lp1PersonNameNumber",
    name: "lp1PersonNameNumber"
  }) }}

  {{ govukInput({
    label: {
      text: "Address line 1"
    },
    id: "address-line-1",
    name: "addressLine1",
    autocomplete: "address-line1"
  }) }}

  {{ govukInput({
    label: {
      text: "Address line 2 (optional)"
    },
    id: "address-line-2",
    name: "addressLine2",
    autocomplete: "address-line2"
  }) }}

  {{ govukInput({
    label: {
      text: "Town or city"
    },
    classes: "govuk-!-width-two-thirds",
    id: "address-town",
    name: "addressTown",
    autocomplete: "address-level2"
  }) }}

  {{ govukInput({
    label: {
      text: "County (optional)"
    },
    classes: "govuk-!-width-two-thirds",
    id: "address-county",
    name: "addressCounty"
  }) }}

  {{ govukInput({
    label: {
      text: "Postcode"
    },
    classes: "govuk-input--width-10",
    id: "address-postcode",
    name: "addressPostcode",
    autocomplete: "postal-code"
  }) }}

{% endcall %}


<div class="govuk-form-group">
  <label class="govuk-label govuk-body" for="country">
    Country
  </label>


  <select class="govuk-select" id="country" name="country">
  
    
      <option value="">Select a country</option>
    
        <option value="United Kingdom">United Kingdom</option>

    
      <option value="Afghanistan">Afghanistan</option>
    
  
    
      <option value="Aland Islands">Aland Islands</option>
    
  
    
      <option value="Albania">Albania</option>
    
  
    
      <option value="Alderney">Alderney</option>
    
  
    
      <option value="Algeria">Algeria</option>
    
  
    
      <option value="American Samoa">American Samoa</option>
    
  
    
      <option value="Andorra">Andorra</option>
    
  
    
      <option value="Angola">Angola</option>
    
  
    
      <option value="Anguilla">Anguilla</option>
    
  
    
      <option value="Antarctica">Antarctica</option>
    
  
    
      <option value="Antigua and Barbuda">Antigua and Barbuda</option>
    
  
    
      <option value="Argentina">Argentina</option>
    
  
    
      <option value="Armenia">Armenia</option>
    
  
    
      <option value="Aruba">Aruba</option>
    
  
    
      <option value="Australia">Australia</option>
    
  
    
      <option value="Austria">Austria</option>
    
  
    
      <option value="Azerbaijan">Azerbaijan</option>
    
  
    
      <option value="Bahamas">Bahamas</option>
    
  
    
      <option value="Bahrain">Bahrain</option>
    
  
    
      <option value="Bangladesh">Bangladesh</option>
    
  
    
      <option value="Barbados">Barbados</option>
    
  
    
      <option value="Belarus">Belarus</option>
    
  
    
      <option value="Belgium">Belgium</option>
    
  
    
      <option value="Belize">Belize</option>
    
  
    
      <option value="Benin">Benin</option>
    
  
    
      <option value="Bermuda">Bermuda</option>
    
  
    
      <option value="Bhutan">Bhutan</option>
    
  
    
      <option value="Bolivia">Bolivia</option>
    
  
    
      <option value="Bonaire, Sint Eustatius and Saba">Bonaire, Sint Eustatius and Saba</option>
    
  
    
      <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
    
  
    
      <option value="Botswana">Botswana</option>
    
  
    
      <option value="Bouvet Island">Bouvet Island</option>
    
  
    
      <option value="Brazil">Brazil</option>
    
  
    
      <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
    
  
    
      <option value="Brunei Darussalam">Brunei Darussalam</option>
    
  
    
      <option value="Bulgaria">Bulgaria</option>
    
  
    
      <option value="Burkina Faso">Burkina Faso</option>
    
  
    
      <option value="Burundi">Burundi</option>
    
  
    
      <option value="Cambodia">Cambodia</option>
    
  
    
      <option value="Cameroon">Cameroon</option>
    
  
    
      <option value="Canada">Canada</option>
    
  
    
      <option value="Cape Verde">Cape Verde</option>
    
  
    
      <option value="Cayman Islands">Cayman Islands</option>
    
  
    
      <option value="Central African Republic">Central African Republic</option>
    
  
    
      <option value="Chad">Chad</option>
    
  
    
      <option value="Chile">Chile</option>
    
  
    
      <option value="China">China</option>
    
  
    
      <option value="Christmas Island">Christmas Island</option>
    
  
    
      <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
    
  
    
      <option value="Colombia">Colombia</option>
    
  
    
      <option value="Comoros">Comoros</option>
    
  
    
      <option value="Congo">Congo</option>
    
  
    
      <option value="Congo, the Democratic Republic of the">Congo, the Democratic Republic of the</option>
    
  
    
      <option value="Cook Islands">Cook Islands</option>
    
  
    
      <option value="Costa Rica">Costa Rica</option>
    
  
    
      <option value="Croatia">Croatia</option>
    
  
    
      <option value="Cuba">Cuba</option>
    
  
    
      <option value="Curacao">Curacao</option>
    
  
    
      <option value="Cyprus">Cyprus</option>
    
  
    
      <option value="Czech Republic">Czech Republic</option>
    
  
    
      <option value="Denmark">Denmark</option>
    
  
    
      <option value="Djibouti">Djibouti</option>
    
  
    
      <option value="Dominica">Dominica</option>
    
  
    
      <option value="Dominican Republic">Dominican Republic</option>
    
  
    
      <option value="East Timor">East Timor</option>
    
  
    
      <option value="Ecuador">Ecuador</option>
    
  
    
      <option value="Egypt">Egypt</option>
    
  
    
      <option value="El Salvador">El Salvador</option>
    
  
    
      <option value="Equatorial Guinea">Equatorial Guinea</option>
    
  
    
      <option value="Eritrea">Eritrea</option>
    
  
    
      <option value="Estonia">Estonia</option>
    
  
    
      <option value="Eswatini">Eswatini</option>
    
  
    
      <option value="Ethiopia">Ethiopia</option>
    
  
    
      <option value="Falkland Islands">Falkland Islands</option>
    
  
    
      <option value="Faroe Islands">Faroe Islands</option>
    
  
    
      <option value="Fiji">Fiji</option>
    
  
    
      <option value="Finland">Finland</option>
    
  
    
      <option value="France">France</option>
    
  
    
      <option value="French Guiana">French Guiana</option>
    
  
    
      <option value="French Polynesia">French Polynesia</option>
    
  
    
      <option value="French Southern Territories">French Southern Territories</option>
    
  
    
      <option value="Gabon">Gabon</option>
    
  
    
      <option value="Gambia">Gambia</option>
    
  
    
      <option value="Georgia">Georgia</option>
    
  
    
      <option value="Germany">Germany</option>
    
  
    
      <option value="Ghana">Ghana</option>
    
  
    
      <option value="Gibraltar">Gibraltar</option>
    
  
    
      <option value="Greece">Greece</option>
    
  
    
      <option value="Greenland">Greenland</option>
    
  
    
      <option value="Grenada">Grenada</option>
    
  
    
      <option value="Guadeloupe">Guadeloupe</option>
    
  
    
      <option value="Guam">Guam</option>
    
  
    
      <option value="Guatemala">Guatemala</option>
    
  
    
      <option value="Guernsey">Guernsey</option>
    
  
    
      <option value="Guinea">Guinea</option>
    
  
    
      <option value="Guinea-Bissau">Guinea-Bissau</option>
    
  
    
      <option value="Guyana">Guyana</option>
    
  
    
      <option value="Haiti">Haiti</option>
    
  
    
      <option value="Heard Island and McDonald Islands">Heard Island and McDonald Islands</option>
    
  
    
      <option value="Herm">Herm</option>
    
  
    
      <option value="Honduras">Honduras</option>
    
  
    
      <option value="Hong Kong">Hong Kong</option>
    
  
    
      <option value="Hungary">Hungary</option>
    
  
    
      <option value="Iceland">Iceland</option>
    
  
    
      <option value="India">India</option>
    
  
    
      <option value="Indonesia">Indonesia</option>
    
  
    
      <option value="Iran">Iran</option>
    
  
    
      <option value="Iraq">Iraq</option>
    
  
    
      <option value="Ireland">Ireland</option>
    
  
    
      <option value="Isle of Man">Isle of Man</option>
    
  
    
      <option value="Israel">Israel</option>
    
  
    
      <option value="Italy">Italy</option>
    
  
    
      <option value="Ivory Coast">Ivory Coast</option>
    
  
    
      <option value="Jamaica">Jamaica</option>
    
  
    
      <option value="Japan">Japan</option>
    
  
    
      <option value="Jersey">Jersey</option>
    
  
    
      <option value="Jordan">Jordan</option>
    
  
    
      <option value="Kazakhstan">Kazakhstan</option>
    
  
    
      <option value="Kenya">Kenya</option>
    
  
    
      <option value="Kiribati">Kiribati</option>
    
  
    
      <option value="Kosovo">Kosovo</option>
    
  
    
      <option value="Kuwait">Kuwait</option>
    
  
    
      <option value="Kyrgyzstan">Kyrgyzstan</option>
    
  
    
      <option value="Laos">Laos</option>
    
  
    
      <option value="Latvia">Latvia</option>
    
  
    
      <option value="Lebanon">Lebanon</option>
    
  
    
      <option value="Lesotho">Lesotho</option>
    
  
    
      <option value="Liberia">Liberia</option>
    
  
    
      <option value="Libya">Libya</option>
    
  
    
      <option value="Liechtenstein">Liechtenstein</option>
    
  
    
      <option value="Lithuania">Lithuania</option>
    
  
    
      <option value="Luxembourg">Luxembourg</option>
    
  
    
      <option value="Macao">Macao</option>
    
  
    
      <option value="Macedonia">Macedonia</option>
    
  
    
      <option value="Madagascar">Madagascar</option>
    
  
    
      <option value="Malawi">Malawi</option>
    
  
    
      <option value="Malaysia">Malaysia</option>
    
  
    
      <option value="Maldives">Maldives</option>
    
  
    
      <option value="Mali">Mali</option>
    
  
    
      <option value="Malta">Malta</option>
    
  
    
      <option value="Marshall Islands">Marshall Islands</option>
    
  
    
      <option value="Martinique">Martinique</option>
    
  
    
      <option value="Mauritania">Mauritania</option>
    
  
    
      <option value="Mauritius">Mauritius</option>
    
  
    
      <option value="Mayotte">Mayotte</option>
    
  
    
      <option value="Mexico">Mexico</option>
    
  
    
      <option value="Micronesia">Micronesia</option>
    
  
    
      <option value="Moldova">Moldova</option>
    
  
    
      <option value="Monaco">Monaco</option>
    
  
    
      <option value="Mongolia">Mongolia</option>
    
  
    
      <option value="Montenegro">Montenegro</option>
    
  
    
      <option value="Montserrat">Montserrat</option>
    
  
    
      <option value="Morocco">Morocco</option>
    
  
    
      <option value="Mozambique">Mozambique</option>
    
  
    
      <option value="Myanmar">Myanmar</option>
    
  
    
      <option value="Namibia">Namibia</option>
    
  
    
      <option value="Nauru">Nauru</option>
    
  
    
      <option value="Nepal">Nepal</option>
    
  
    
      <option value="Netherlands">Netherlands</option>
    
  
    
      <option value="New Caledonia">New Caledonia</option>
    
  
    
      <option value="New Zealand">New Zealand</option>
    
  
    
      <option value="Nicaragua">Nicaragua</option>
    
  
    
      <option value="Niger">Niger</option>
    
  
    
      <option value="Nigeria">Nigeria</option>
    
  
    
      <option value="Niue">Niue</option>
    
  
    
      <option value="Norfolk Island">Norfolk Island</option>
    
  
    
      <option value="North Korea">North Korea</option>
    
  
    
      <option value="Northern Mariana Islands">Northern Mariana Islands</option>
    
  
    
      <option value="Norway">Norway</option>
    
  
    
      <option value="Oman">Oman</option>
    
  
    
      <option value="Pakistan">Pakistan</option>
    
  
    
      <option value="Palau">Palau</option>
    
  
    
      <option value="Palestine, State of">Palestine, State of</option>
    
  
    
      <option value="Panama">Panama</option>
    
  
    
      <option value="Papua New Guinea">Papua New Guinea</option>
    
  
    
      <option value="Paraguay">Paraguay</option>
    
  
    
      <option value="Peru">Peru</option>
    
  
    
      <option value="Philippines">Philippines</option>
    
  
    
      <option value="Pitcairn">Pitcairn</option>
    
  
    
      <option value="Poland">Poland</option>
    
  
    
      <option value="Portugal">Portugal</option>
    
  
    
      <option value="Puerto Rico">Puerto Rico</option>
    
  
    
      <option value="Qatar">Qatar</option>
    
  
    
      <option value="Reunion">Reunion</option>
    
  
    
      <option value="Romania">Romania</option>
    
  
    
      <option value="Russia">Russia</option>
    
  
    
      <option value="Rwanda">Rwanda</option>
    
  
    
      <option value="Saint Barthelemy">Saint Barthelemy</option>
    
  
    
      <option value="Saint Helena, Ascension and Tristan da Cunha">Saint Helena, Ascension and Tristan da Cunha</option>
    
  
    
      <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
    
  
    
      <option value="Saint Lucia">Saint Lucia</option>
    
  
    
      <option value="Saint Martin (French part)">Saint Martin (French part)</option>
    
  
    
      <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
    
  
    
      <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
    
  
    
      <option value="Samoa">Samoa</option>
    
  
    
      <option value="San Marino">San Marino</option>
    
  
    
      <option value="Sao Tome and Principe">Sao Tome and Principe</option>
    
  
    
      <option value="Sark">Sark</option>
    
  
    
      <option value="Saudi Arabia">Saudi Arabia</option>
    
  
    
      <option value="Senegal">Senegal</option>
    
  
    
      <option value="Serbia">Serbia</option>
    
  
    
      <option value="Seychelles">Seychelles</option>
    
  
    
      <option value="Sierra Leone">Sierra Leone</option>
    
  
    
      <option value="Singapore">Singapore</option>
    
  
    
      <option value="Sint Maarten (Dutch part)">Sint Maarten (Dutch part)</option>
    
  
    
      <option value="Slovakia">Slovakia</option>
    
  
    
      <option value="Slovenia">Slovenia</option>
    
  
    
      <option value="Solomon Islands">Solomon Islands</option>
    
  
    
      <option value="Somalia">Somalia</option>
    
  
    
      <option value="South Africa">South Africa</option>
    
  
    
      <option value="South Georgia and the South Sandwich Islands">South Georgia and the South Sandwich Islands</option>
    
  
    
      <option value="South Korea">South Korea</option>
    
  
    
      <option value="South Sudan">South Sudan</option>
    
  
    
      <option value="Spain">Spain</option>
    
  
    
      <option value="Sri Lanka">Sri Lanka</option>
    
  
    
      <option value="Sudan">Sudan</option>
    
  
    
      <option value="Suriname">Suriname</option>
    
  
    
      <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
    
  
    
      <option value="Sweden">Sweden</option>
    
  
    
      <option value="Switzerland">Switzerland</option>
    
  
    
      <option value="Syria">Syria</option>
    
  
    
      <option value="Taiwan">Taiwan</option>
    
  
    
      <option value="Tajikistan">Tajikistan</option>
    
  
    
      <option value="Tanzania">Tanzania</option>
    
  
    
      <option value="Thailand">Thailand</option>
    
  
    
      <option value="Togo">Togo</option>
    
  
    
      <option value="Tokelau">Tokelau</option>
    
  
    
      <option value="Tonga">Tonga</option>
    
  
    
      <option value="Trinidad and Tobago">Trinidad and Tobago</option>
    
  
    
      <option value="Tunisia">Tunisia</option>
    
  
    
      <option value="Turkey">Turkey</option>
    
  
    
      <option value="Turkmenistan">Turkmenistan</option>
    
  
    
      <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
    
  
    
      <option value="Tuvalu">Tuvalu</option>
    
  
    
      <option value="Uganda">Uganda</option>
    
  
    
      <option value="Ukraine">Ukraine</option>
    
  
    
      <option value="United Arab Emirates">United Arab Emirates</option>
    
      <option value="United Kingdom">United Kingdom</option>
    
      <option value="United States">United States</option>
    
  
    
      <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
    
  
    
      <option value="Uruguay">Uruguay</option>
    
  
    
      <option value="Uzbekistan">Uzbekistan</option>
    
  
    
      <option value="Vanuatu">Vanuatu</option>
    
  
    
      <option value="Vatican City">Vatican City</option>
    
  
    
      <option value="Venezuela">Venezuela</option>
    
  
    
      <option value="Vietnam">Vietnam</option>
    
  
    
      <option value="Virgin Islands, British">Virgin Islands, British</option>
    
  
    
      <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
    
  
    
      <option value="Wallis and Futuna">Wallis and Futuna</option>
    
  
    
      <option value="Western Sahara">Western Sahara</option>
    
  
    
      <option value="Yemen">Yemen</option>
    
  
    
      <option value="Zambia">Zambia</option>
    
  
    
      <option value="Zimbabwe">Zimbabwe</option>
    
  
  </select>
</div>



{% if (data['registrationOrTransition'] in ["registration", "post"] and data['registerType'] in ["registerLp", "registerSlp"]) %}



{% call govukFieldset({
  legend: {
    text: " What is their total capital contribution?",
    classes: "govuk-fieldset__legend--m"
  }
}) %}



{% set otherCurrencyHtml %}
{{ govukSelect({
  id: "otherCurrencySelector",
  name: "otherCurrencySelector",
  label: {
    text: "Select currency",
    classes: "govuk-visually-hidden"
  },
  items: [
    {
      value: "",
      text: "Select currency",
      selected: true
    },
    { "value": "AFN", "text": "Afghani (AFN)" },
    { "value": "DZD", "text": "Algerian Dinar (DZD)" },
    { "value": "AON", "text": "Angolan New Kwanza (AON)" },
    { "value": "ARS", "text": "Argentine Peso (ARS)" },
    { "value": "AMD", "text": "Armenian Dram (AMD)" },
    { "value": "AWG", "text": "Aruban Guilder (AWG)" },
    { "value": "AUD", "text": "Australian Dollar (AUD)" },
    { "value": "AZN", "text": "Azerbaijanian New Manat (AZN)" },
    { "value": "BSD", "text": "Bahamian Dollar (BSD)" },
    { "value": "BHD", "text": "Bahraini Dinar (BHD)" },
    { "value": "THB", "text": "Baht (THB)" },
    { "value": "PAB", "text": "Balboa (PAB)" },
    { "value": "BBD", "text": "Barbados Dollar (BBD)" },
    { "value": "BYB", "text": "Belarussian Ruble (BYB)" },
    { "value": "BEF", "text": "Belgian Franc (BEF)" },
    { "value": "BZD", "text": "Belize Dollar (BZD)" },
    { "value": "BMD", "text": "Bermuda Dollar (BMD)" },
    { "value": "VEB", "text": "Bolivar (VEB)" },
    { "value": "BOB", "text": "Boliviano (BOB)" },
    { "value": "BRL", "text": "Brazilian Real (BRL)" },
    { "value": "BND", "text": "Brunei Dollar (BND)" },
    { "value": "BGN", "text": "Bulgarian Lev (BGN)" },
    { "value": "BIF", "text": "Burundi Franc (BIF)" },
    { "value": "CAD", "text": "Canadian Dollar (CAD)" },
    { "value": "CVE", "text": "Cape Verde Escudo (CVE)" },
    { "value": "KYD", "text": "Cayman Islands Dollar (KYD)" },
    { "value": "GHS", "text": "Cedi (GHS)" },
    { "value": "XOF", "text": "CFA Franc BCEAO (XOF)" },
    { "value": "XAF", "text": "CFA Franc BEAC (XAF)" },
    { "value": "XPF", "text": "CFP Franc (XPF)" },
    { "value": "CLP", "text": "Chilean Peso (CLP)" },
    { "value": "COP", "text": "Colombian Peso (COP)" },
    { "value": "KMF", "text": "Comoro Franc (KMF)" },
    { "value": "BAM", "text": "Convertible Marks (BAM)" },
    { "value": "NIO", "text": "Cordoba Oro (NIO)" },
    { "value": "CRC", "text": "Costa Rican Colon (CRC)" },
    { "value": "HRK", "text": "Croatian Kuna (HRK)" },
    { "value": "CUC", "text": "Cuba Convertible Peso (CUC)" },
    { "value": "CUP", "text": "Cuban Peso (CUP)" },
    { "value": "CZK", "text": "Czech Koruna (CZK)" },
    { "value": "GMD", "text": "Dalasi (GMD)" },
    { "value": "DKK", "text": "Danish Krone (DKK)" },
    { "value": "MKD", "text": "Denar (MKD)" },
    { "value": "DJF", "text": "Djibouti Franc (DJF)" },
    { "value": "STD", "text": "Dobra (STD)" },
    { "value": "DOP", "text": "Dominican Peso (DOP)" },
    { "value": "VND", "text": "Dong (VND)" },
    { "value": "XCD", "text": "East Caribbean Dollar (XCD)" },
    { "value": "EGP", "text": "Egyptian Pound (EGP)" },
    { "value": "SVC", "text": "El Salvador Colon (SVC)" },
    { "value": "ETB", "text": "Ethiopian Birr (ETB)" },
    { "value": "FKP", "text": "Falkland Islands Pound (FKP)" },
    { "value": "FJD", "text": "Fiji Dollar (FJD)" },
    { "value": "HUF", "text": "Forint (HUF)" },
    { "value": "CDF", "text": "Franc Congolais (CDF)" },
    { "value": "GIP", "text": "Gibraltar Pound (GIP)" },
    { "value": "HTG", "text": "Gourde (HTG)" },
    { "value": "PYG", "text": "Guarani (PYG)" },
    { "value": "GNF", "text": "Guinea Franc (GNF)" },
    { "value": "GWP", "text": "Guinea-Bissau Peso (GWP)" },
    { "value": "GYD", "text": "Guyana Dollar (GYD)" },
    { "value": "HKD", "text": "Hong Kong Dollar (HKD)" },
    { "value": "UAH", "text": "Hryvnia (UAH)" },
    { "value": "ISK", "text": "Iceland Krona (ISK)" },
    { "value": "INR", "text": "Indian Rupee (INR)" },
    { "value": "IRR", "text": "Iranian Rial (IRR)" },
    { "value": "IQD", "text": "Iraqi Dinar (IQD)" },
    { "value": "JMD", "text": "Jamaican Dollar (JMD)" },
    { "value": "JOD", "text": "Jordanian Dinar (JOD)" },
    { "value": "KES", "text": "Kenyan Shilling (KES)" },
    { "value": "PGK", "text": "Kina (PGK)" },
    { "value": "LAK", "text": "Kip (LAK)" },
    { "value": "KWD", "text": "Kuwaiti Dinar (KWD)" },
    { "value": "ZMW", "text": "Kwacha (ZMW)" },
    { "value": "MWK", "text": "Kwacha (MWK)" },
    { "value": "AOA", "text": "Kwanza (AOA)" },
    { "value": "MMK", "text": "Kyat (MMK)" },
    { "value": "GEL", "text": "Lari (GEL)" },
    { "value": "LBP", "text": "Lebanese Pound (LBP)" },
    { "value": "ALL", "text": "Lek (ALL)" },
    { "value": "HNL", "text": "Lempira (HNL)" },
    { "value": "SLL", "text": "Leone (SLL)" },
    { "value": "LRD", "text": "Liberian Dollar (LRD)" },
    { "value": "LYD", "text": "Libyan Dinar (LYD)" },
    { "value": "SZL", "text": "Lilangeni (SZL)" },
    { "value": "LSL", "text": "Loti (LSL)" },
    { "value": "MGA", "text": "Malagasy Ariary (MGA)" },
    { "value": "MYR", "text": "Malaysian Ringgit (MYR)" },
    { "value": "TMM", "text": "Manat (TMM)" },
    { "value": "MRU", "text": "Mauritania Ouguiya (MRU)" },
    { "value": "MUR", "text": "Mauritius Rupee (MUR)" },
    { "value": "MZM", "text": "Merical (MZM)" },
    { "value": "MXN", "text": "Mexican Peso (MXN)" },
    { "value": "MXV", "text": "Mexican Unidad de Inversion (UID) (MXV)" },
    { "value": "MDL", "text": "Moldovan Leu (MDL)" },
    { "value": "MAD", "text": "Moroccan Dirham (MAD)" },
    { "value": "BOV", "text": "Mvdol (BOV)" },
    { "value": "NGN", "text": "Naira (NGN)" },
    { "value": "ERN", "text": "Nakfa (ERN)" },
    { "value": "NAD", "text": "Namibian Dollar (NAD)" },
    { "value": "NPR", "text": "Nepalese Rupee (NPR)" },
    { "value": "ILS", "text": "New Israeli Sheqel (ILS)" },
    { "value": "RON", "text": "New Leu (RON)" },
    { "value": "TWD", "text": "New Taiwan Dollar (TWD)" },
    { "value": "TRY", "text": "New Turkish Lira (TRY)" },
    { "value": "NZD", "text": "New Zealand Dollar (NZD)" },
    { "value": "BTN", "text": "Ngultrum (BTN)" },
    { "value": "KPW", "text": "North Korean Won (KPW)" },
    { "value": "NOK", "text": "Norwegian Krone (NOK)" },
    { "value": "PEN", "text": "Nuevo Sol (PEN)" },
    { "value": "MRO", "text": "Ouguiya (MRO)" },
    { "value": "TOP", "text": "Pa'anga (TOP)" },
    { "value": "PKR", "text": "Pakistan Rupee (PKR)" },
    { "value": "MOP", "text": "Pataca (MOP)" },
    { "value": "UYU", "text": "Peso Uruguayo (UYU)" },
    { "value": "PHP", "text": "Philippine Peso (PHP)" },
    { "value": "GBP", "text": "Pound Sterling (GBP)" },
    { "value": "BWP", "text": "Pula (BWP)" },
    { "value": "QAR", "text": "Qatari Rial (QAR)" },
    { "value": "GTQ", "text": "Quetzal (GTQ)" },
    { "value": "ZAR", "text": "Rand (ZAR)" },
    { "value": "OMR", "text": "Rial Omani (OMR)" },
    { "value": "KHR", "text": "Riel (KHR)" },
    { "value": "MVR", "text": "Rufiyaa (MVR)" },
    { "value": "IDR", "text": "Rupiah (IDR)" },
    { "value": "RUB", "text": "Russian Rouble (RUB)" },
    { "value": "RWF", "text": "Rwanda Franc (RWF)" },
    { "value": "SHP", "text": "Saint Helena Pound (SHP)" },
    { "value": "STN", "text": "Sao Tome and Principe Dobra (STN)" },
    { "value": "SAR", "text": "Saudi Riyal (SAR)" },
    { "value": "XDR", "text": "SDR (XDR)" },
    { "value": "CSD", "text": "Serbian Dinar (CSD)" },
    { "value": "SCR", "text": "Seychelles Rupee (SCR)" },
    { "value": "SGD", "text": "Singapore Dollar (SGD)" },
    { "value": "SBD", "text": "Solomon Islands Dollar (SBD)" },
    { "value": "KGS", "text": "Som (KGS)" },
    { "value": "SOS", "text": "Somali Shilling (SOS)" },
    { "value": "TJS", "text": "Somoni (TJS)" },
    { "value": "SSP", "text": "South Sudan Pound (SSP)" },
    { "value": "LKR", "text": "Sri Lanka Rupee (LKR)" },
    { "value": "SDD", "text": "Sudanese Dinar (SDD)" },
    { "value": "SRD", "text": "Surinam Dollar (SRD)" },
    { "value": "SEK", "text": "Swedish Krona (SEK)" },
    { "value": "CHF", "text": "Swiss Franc (CHF)" },
    { "value": "SYP", "text": "Syrian Pound (SYP)" },
    { "value": "BDT", "text": "Taka (BDT)" },
    { "value": "WST", "text": "Tala (WST)" },
    { "value": "TZS", "text": "Tanzanian Shilling (TZS)" },
    { "value": "KZT", "text": "Tenge (KZT)" },
    { "value": "SIT", "text": "Tolar (SIT)" },
    { "value": "TTD", "text": "Trinidad and Tobago Dollar (TTD)" },
    { "value": "MNT", "text": "Tugrik (MNT)" },
    { "value": "TND", "text": "Tunisian Dinar (TND)" },
    { "value": "AED", "text": "UAE Dirham (AED)" },
    { "value": "UGX", "text": "Uganda Shilling (UGX)" },
    { "value": "UKH", "text": "Ukraine Hryvnia (UKH)" },
    { "value": "COU", "text": "Unidad de Valor Real (COU)" },
    { "value": "CLF", "text": "Unidades de Fomento (CLF)" },
    { "value": "UZS", "text": "Uzbekistan Sum (UZS)" },
    { "value": "VUV", "text": "Vatu (VUV)" },
    { "value": "VES", "text": "Venezuela Bolivar (VES)" },
    { "value": "CHE", "text": "WIR Euro (CHE)" },
    { "value": "CHW", "text": "WIR Franc (CHW)" },
    { "value": "KRW", "text": "Won (KRW)" },
    { "value": "YER", "text": "Yemeni Rial (YER)" },
    { "value": "JPY", "text": "Yen (JPY)" },
    { "value": "CNY", "text": "Yuan Renminbi (CNY)" },
    { "value": "ZWD", "text": "Zimbabwe Dollar (ZWD)" },
    { "value": "PLN", "text": "Zloty (PLN)" }
      ]
}) }}
{% endset -%}



{{ govukInput({
  id: "totalCapitalContribution",
  name: "totalCapitalContribution",
  label: {
    text: "What is their total capital contribution?",
    classes: "govuk-visually-hidden"
  },
  classes: "govuk-input--width-5",
  inputmode: "numeric",
  spellcheck: false
}) }}
      

{{ govukRadios({
  name: "totalCapitalContributionOtherCurrency",
  fieldset: {
    legend: {
      text: "Which currency is their total capital contribution in?",
      classes: "govuk-visually-hidden"
    }
  },
  items: [
    {
      value: "GBP",
      text: "£ (GBP)"
    },
    {
      value: "EUR",
      text: "€ (EUR)"
    },
    {
      value: "USD",
      text: "$ (USD)"
    },
    {
      value: "otherCurrency",
      text: "Other currency",
      conditional: {
        html: otherCurrencyHtml
      }
    }
  ]
}) }}

<details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        I need to report a non-monetary capital contribution
      </span>
    </summary>

    {{ govukTextarea({
      name: "moreDetail",
      id: "more-detail",
      label: {
        text: "Enter details of the non-monetary capital contribution",
        classes: "govuk-label--s govuk-!-margin-top-5",
        isPageHeading: true
      },
      hint: {
        text: "For example, if they contributed goods or services."
      }
    }) }}

</details>

{% endcall %}


{% endif %}


 {{ govukInsetText({
          html: "<h2 class='govuk-heading-m'>What information we'll show on the public register</h2>
                <p><p>We will not show the limited partner’s usual residential address. We’ll only show the month and year of their birth date. </p>
                <p>We’ll show all the other information you provide on this screen on the public register.</p>"
        }) }}


{{ govukButton({
  text: "Save and continue"
}) }}

       
{% if data['registrationOrTransition'] == "transition" %}
<!-- don't show thse UR shortcuts-->
{% else %}
  <div class="ur-shortcuts">
  <!-- Not part of ACTUAL screen: only for UR purposes -->
  <p class="govuk-body-s govuk-!-margin-bottom-1">UR shortcut:</p>
  <ul class="govuk-list govuk-body-s govuk-!-margin-top-1">
    <li><a class="govuk-link" href="capital-contribution-ideas">Alternate capital contribution designs</a></li>
  </ul>
</div>
{% endif %}

</form>
    </div>
  </div>

   <!-- <script src="/public/javascripts/accessible-autocomplete.js"></script>
  <script src="/public/javascripts/titles-appoint.js"></script>-->
{% endblock %}
