{% extends "layouts/main.html" %}

{% set pageName="Submit the confirmation statement" %}

{% set serviceName %}
  {% include "/includes/confirmation-statement-service-name.html" %}
{% endset%}

{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
 {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link-language-toggle.html" %}
{% endblock %}




{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="check-SIC" method="post">


 <h1 class="govuk-heading-xl">Submit the confirmation statement</h1><!-- If changing the H1 be sure to also change the page title, see set PageName above-->


<p class="govuk-body-l">
Partnership name: ACME LIMITED PARTNERSHIP<br>
Partnership number: {{ data['lpNumber'] or "LP123456" }}<br>
Confirmation statement date: 31 May 2025
</p>





{% set changeDateHtml %}
  {{ govukDateInput({
    id: "newCSDate",
    namePrefix: "newCSDate",
    fieldset: {
      legend: {
        text: "What is the new date of your confirmation statement?",
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: "For example, 30 9 2025"
    }
  }) }}
{% endset -%}

{{ govukRadios({
  classes: "govuk-radios",
  name: "changeDateOfCS",
  fieldset: {
    legend: {
      text: "Do you want to change the date of your confirmation statement?",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes",
      conditional: {
        html: changeDateHtml
      }
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}
    {{ govukButton({
  text: "Save and continue"
}) }}  



</form>
    </div>
  </div>
{% endblock %}
