{% extends "layouts/main.html" %}

{% set pageName="Do you need to update this partner's usual residential address?" %}



{% block header %}
   {% include "/includes/dynamic-service-name.html" %}
{% endblock %}



{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
 {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link-language-toggle.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/change-poa" method="post" class="form">
        <span class="govuk-caption-l"> GLOBALTECH </span>

      {{ govukRadios({
      classes: "govuk-radios--inline",
      name: "changePOA",
      fieldset: {
        legend: {
          text: "Do you need to update the principle office address?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        }
      },
      hint: {
        text: "This is the address for the entity's main office."
      },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
      ]
    }) }}

  
   {{ govukButton({
      text: "Continue"
    }) }}      

    


      </form>

    </div>
    <!--govuk-grid-row-->

    <!--govuk-grid-column-two-thirds-->
  </div>
  <!--govuk-grid-column-two-thirds-->

</main>
</div>
<!---govuk-width-container-->

{% endblock %}