{% extends "layouts/main.html" %}

{% set pageName="Change registered email address	" %}



{% block header %}
   {% include "/includes/dynamic-service-name.html" %}
{% endblock %}



{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
 {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link-language-toggle.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="new-rea" method="post" class="form">

        <span class="govuk-caption-l">ACME LIMITED PARTNERSHIP ({{ data['lpNumber'] or "SL012345" }})</span>
        <h1 class="govuk-heading-xl">
          Change registered email address	  <!-- if changing this, update pageName above-->
        </h1>

        <p>Use our <a href="https://find-and-update.company-information.service.gov.uk/registered-email-address" class="govuk-link" rel="noreferrer noopener" target="_blank">Update a registered email address service (opens in new tab)</a>.</p>

        <p>We'll process this update within 5 working days.</p>

        <!--{{ govukInsetText({
          text: "Changes you make there might take a while to show here."
        }) }}-->

       



   

      </form>

    </div>
    <!--govuk-grid-row-->

    <!--govuk-grid-column-two-thirds-->
  </div>
  <!--govuk-grid-column-two-thirds-->

</main>
</div>
<!---govuk-width-container-->

{% endblock %}