{% extends "layouts/main.html" %}

{% set pageName="Check your answers" %}

{% block header %}
   {% include "/includes/dynamic-service-name.html" %}
{% endblock %}

{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
 {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link-language-toggle.html" %}
{% endblock %}




{% set mainClasses = "govuk-main-wrapper--l" %}

{% set todayDate = "now" | govukDate %}
{% set fallbackDate = "5 June 2025" %}
{% set todayHtml =  (todayDate or fallbackDate) %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l"> {{ data['lpChooseName'] or "ACME" }} {{ data['nameEnding'] or "LIMITED PARTNERSHIP" }} (LP123456)</span>
     <h1 class="govuk-heading-l">Check your answers before submitting this update</h1>

  {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Registered office address"
            },
            value: {
              text: "1 New Street, Newtown, Newcastle, NE1 3AB, England"
            },
            actions: {
              items: [
                {
                  href: "javascript:void(0",
                  text: "Change",
                  visuallyHiddenText: "Registered office address"
                }
              ]
            }
          },
           {
            key: {
              text: "Date of change"
            },
            value: {
              html: todayHtml
            },
            actions: {
              items: [
                {
                  href: "javascript:void(0)",
                  text: "Change",
                  visuallyHiddenText: "Date of change"
                }
              ]
            }
          }
        ]
      }) }}


<div class="govuk-button-group">

        {{ govukButton({
          text: "Submit update",
          href: "confirmation-change-roa"
        }) }}

  <button type="button" onclick="window.print()" class="govuk-button govuk-button--secondary">Print this page</button>

</div>



    </div>
  </div>



{% endblock %}
