{% extends "layouts/main.html" %}

{% set pageName="Check your answers" %}

{% block header %}
   {% include "/includes/dynamic-service-name.html" %}
{% endblock %}

{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
 {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link-language-toggle.html" %}
{% endblock %}




{% set mainClasses = "govuk-main-wrapper--l" %}

{% set todayDate = "now" | govukDate %}
{% set fallbackDate = "5 June 2025" %}
{% set todayHtml =  (todayDate or fallbackDate) %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l"> {{ data['lpname'] or "ACME" }} {{ data['nameEnding'] or "LIMITED PARTNERSHIP" }} (LP123456)</span>
         <h1 class="govuk-heading-l">Check your answers before submitting this application</h1>

  {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Date of designation as a private fund limited partnership"
            },
            value: {
              html: todayHtml
            },
            actions: {
              items: [
                {
                  href: "javascript:void(0)",
                  text: "Change",
                  visuallyHiddenText: "Date of change"
                }
              ]
            }
          }
        ]
      }) }}

<div class="govuk-inset-text">
  If you leave this page, your answers will be saved. We'll give you the option to continue with this filing when you next sign in to this service.

</div>

<div class="govuk-button-group">

        {{ govukButton({
          text: "Continue to payment",
          href: "javascript:void(0)"
        }) }}
          <button type="button" onclick="window.print()" class="govuk-button govuk-button--secondary">Print this page</button>

</div>



    </div>
  </div>
{% endblock %}
