{% extends "layouts/main.html" %}

{% set pageName="Check your answers" %}

{% block header %}
   {% include "/includes/dynamic-service-name.html" %}
{% endblock %}

{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
 {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link-language-toggle.html" %}
{% endblock %}




{% set mainClasses = "govuk-main-wrapper--l" %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l"> {{ data['lpChooseName'] or "ACME" }} {{ data['nameEnding'] or "LIMITED PARTNERSHIP" }} (LP123456)</span>
     <h1 class="govuk-heading-l">Check your answers before submitting this update</h1>


{% set todayDate = "now" | govukDate %}
{% set fallbackDate = "5 June 2025" %}
{% set todayHtml =  (todayDate or fallbackDate) %}


  {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
            text: (data['gp1FirstName'] or "Georgina") + " " + (data['gp1LastName'] or "Smith")
            },
            actions: {
              items: [
                {
                  href: "gp-person",
                  text: "Change",
                  visuallyHiddenText: "Georgina Smith name"
                }
              ]
            }
          },
          {
            key: {
              text: "Previous name"
            },
            value: {
              text: "Georgina Silver"
            },
            actions: {
              items: [
                {
                  href: "gp-person",
                  text: "Change",
                  visuallyHiddenText: "Georgina Silver previous name"
                }
              ]
            }
          },
          {
            key: {
              text: "Date of birth"
            },
            value: {
              text: "21 August 1989"
            },
            actions: {
              items: [
                {
                  href: "gp-person",
                  text: "Change",
                  visuallyHiddenText: "Georgina Smith date of birth"
                }
              ]
            }
          },
          {
            key: {
              text: "Nationality"
            },
            value: {
              text: data['gp1Nationality1'] or "British"
            },
            actions: {
              items: [
                {
                  href: "gp-person",
                  text: "Change",
                  visuallyHiddenText: "Georgina Smith nationality"
                }
              ]
            }
          },
          {
            key: {
              text: "Usual residential address"
            },
            value: {
              text: "1 Blue Road, Manchester, M12 3AB"
            },
            actions: {
              items: [
                {
                  href: "gp-person",
                  text: "Change",
                  visuallyHiddenText: "Georgina Smith usual residential address"
                }
              ]
            }
          },
          {
            key: {
              text: "Correspondence address"
            },
            value: {
              text: "1 Squirrel Avenue, Leeds, LS1 2AB"
            },
            actions: {
              items: [
                {
                  href: "gp-person",
                  text: "Change",
                  visuallyHiddenText: "Georgina Smith correspondence address"
                }
              ]
            }
          },
          {
            key: {
              text: "Date of change"
            },
            value: {
              html: todayHtml
            },
            actions: {
              items: [
                {
                  href: "javascript:void(0)",
                  text: "Change",
                  visuallyHiddenText: "Date of change"
                }
              ]
            }
          }
        ]
      }) }}


{{ govukWarningText({
  text: "Print or save this page before you submit the filing, for your own records.
",
  iconFallbackText: "Warning"
}) }}

<p class="govuk-body">We will not send you or the partnership a copy of this information.
</p>
<p class="govuk-body">This is the only time we will show you the partner's full date of birth and usual residential address, as they are sensitive information. Once you submit this filing, we will not show these details anywhere in our services.</p>


   <div class="govuk-inset-text">
  If you leave this page, your answers will be saved. We'll give you the option to continue with this filing when you next sign in to this service.
</div>

  

<div class="govuk-button-group">


        {{ govukButton({
          text: "Submit update",
          href: "confirmation-change-gp-person"
        }) }}

          <button type="button" onclick="window.print()" class="govuk-button govuk-button--secondary">Print this page</button>

</div>



    </div>
  </div>
{% endblock %}
