{% extends "layouts/main.html" %}

{% set pageName="Choose the PSC's usual residential address" %}


{% block header %}
   {% include "/includes/dynamic-service-name.html" %}
{% endblock %}

{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
 {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link-language-toggle.html" %}
{% endblock %}





{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<form class="form" action="psc-person-ura-confirm-address" method="post">
   

  <span class="govuk-caption-l"> {{ data['psc1FirstName'] or "Georgina" }} {{ data['psc1LastName'] or "Smith" }}</span>
{{ govukRadios({
  name: "chooseURA",
  fieldset: {
    legend: {
      text: "Choose the PSC's usual residential address",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  items: [
    {
      value: "1",
      text: "1 Olympus Road, Wrexham, W98 7AB"
    },
    {
      value: "2",
      text: "2 Olympus Road, Wrexham, W98 7AB"
    },    {
      value: "3",
      text: "3 Olympus Road, Wrexham, W98 7AB"
    },    {
      value: "4",
      text: "4 Olympus Road, Wrexham, W98 7AB"
    },    {
      value: "5",
      text: "5 Olympus Road, Wrexham, W98 7AB"
    },    {
      value: "6",
      text: "6 Olympus Road, Wrexham, W98 7AB"
    },    {
      value: "7",
      text: "7 Olympus Road, Wrexham, W98 7AB"
    },    {
      value: "8",
      text: "8 Olympus Road, Wrexham, W98 7AB"
    },    {
      value: "9",
      text: "9 Olympus Road, Wrexham, W98 7AB"
    },    {
      value: "10",
      text: "10 Olympus Road, Wrexham, W98 7AB"
    }
  ]
}) }}

  <p><a href="javascript:void(0)">The address is not on the list</a><p>




{{ govukInsetText({
  html: "<h2 class='govuk-heading-m'>What information we'll show on the public register</h2>
        <p>We'll show the PSC's country/state of residence on the public register.
          
          <p>We will not show the PSC's full usual residential address on the public register.</p>"
}) }}

   
{{ govukButton({
  text: "Save and continue"
}) }}


</form>
    </div>
  </div>

  
{% endblock %}
