{% extends "layouts/main.html" %}

{% set pageName="Confirmation statement date" %}

{% set serviceName %}
  {% include "/includes/confirmation-statement-service-name.html" %}
{% endset%}

{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
 {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link-language-toggle.html" %}
{% endblock %}




{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="before-you-file" method="post">





 <span class="govuk-caption-l">ACME LIMITED PARTNERSHIP ({{ data['lpNumber'] or "LP123456" }})</span>
 <h1 class="govuk-heading-xl">Confirmation statement date</h1><!-- If changing the H1 be sure to also change the page title, see set PageName above-->

<p class="govuk-body-l">The expected date of your confirmation statement is: <span class="govuk-!-font-weight-bold">{{ (data['newCSDate-day'] + ' ' + (data['newCSDate-month'] | monthName) + ' ' + data['newCSDate-year']) or "31 May 2025" }}</span></p>
<p class="govuk-body">The expected date is 12 months after the previous confirmation statement, or 12 months after the limited partnership's registration date.</p>

<p class="govuk-body">The limited partnership information being delivered with this confirmation statement must be correct on this date.</p>


{% set changeDateHtml %}
  {{ govukDateInput({
    id: "newCSDate",
    namePrefix: "newCSDate",
    fieldset: {
      legend: {
        text: "What is the new date of your confirmation statement?",
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: "For example, 30 9 2025"
    }
  }) }}
{% endset -%}

{{ govukRadios({
  classes: "govuk-radios",
  name: "changeDateOfCS",
  fieldset: {
    legend: {
      text: "Do you want to change the date of your confirmation statement?",
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "It cannot be later than the expected date."
  },
  items: [
    {
      value: "yes",
      text: "Yes",
      conditional: {
        html: changeDateHtml
      }
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}
    {{ govukButton({
  text: "Save and continue"
}) }}  



</form>
    </div>
  </div>
{% endblock %}
