{% extends "layouts/main.html" %}

{% set pageName="Heading" %}

{% block header %}
   {% include "/includes/dynamic-service-name.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "/includes/phase-banner.html" %}
  {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link-language-toggle.html" %}
{% endblock %}


{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="interrupt-card">


        <h1 class="govuk-heading-xl">Heading</h3> <!-- also update pageName in line 3 above -->
      

<p class="govuk-body-l">Lead paragraph.</p>

     <p class="govuk-body">Text here.</p>

     
     <ul class="govuk-list govuk-list--bullet">
     <li>list item</li>
     <li>list item</li>
     <li>list item</li>
     </ul>


<div class="govuk-inset-text">
      <p class="govuk-body">Some inset text
</div>







  {{ govukButton({
    text: "Continue",
        href: "07c-all-statements"
  }) }}

        </div>
      </form>

    </div>
  </div>

{% endblock %}
