{% extends "layouts/main.html" %}
 
{% set pageName="Add a limited partner (person)" %}


{% block header %}
   {% include "/includes/dynamic-service-name.html" %}
{% endblock %}

{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
 {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link-language-toggle.html" %}
{% endblock %}





{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <form class="form" action="address-pages/lp-person-ura/lp-person-ura-where" method="post">


{% if (data['registrationOrTransition'] == "registration") %}
  <span class="govuk-caption-l uppercase"> {{ data['lpChooseName'] }} {{ data['nameEnding'] }}</span>
{% else %}  
  <span class="govuk-caption-l">ACME LIMITED PARTNERSHIP ({{ data['lpNumber'] }})   </span>
{% endif %}

<h1 class="govuk-heading-xl">Add a limited partner (person)</h1>

<!--<div class="govuk-form-group govuk-input--width-30">
          <label for="autocomplete-default" class="govuk-label">Professional or honorary title (if relevant)</label>
          <p class="govuk-hint">Start typing a title, such as Dr or Professor, then choose from the list.</p>
          <div id="title" name="title" class="autocomplete-wrapper govuk-input--width-20"></div>
        </div>
 -->



{{ govukInput({
  label: {
    text: "First name",
    classes: "govuk-label--m"
  },

  id: "lp1FirstName",
  name: "lp1FirstName",
  classes: "govuk-!-width-full"
}) }}
<!--
{{ govukInput({
  label: {
    text: "Middle names",
    classes: "govuk-label--m"
  },

  id: "lp-name",
  name: "lpName",
  classes: "govuk-!-width-full"
}) }}
-->
{{ govukInput({
  label: {
    text: "Last name",
    classes: "govuk-label--m"
  },
  
  id: "lp1LastName",
  name: "lp1LastName",
  classes: "govuk-!-width-full"
}) }}

{% set previousHtmlPerson %}
{{ govukInput({
  label: {
    text: "What is the limited partner's previous name?"
  },
  hint: {
            text: "If the partner has more than one previous name, separate each name with a comma."
          },
  id: "previous-name-person",
  name: "previousNamePerson"
}) }}
{% endset -%}



{{ govukRadios({
  name: "previousNameOfficer",
  fieldset: {
    legend: {
      text: "Does the limited partner have a previous name?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "For example, if they've changed their name as a result of marriage or divorce."
  },
  items: [
    {
      value: "yes",
      text: "Yes",
      conditional: {
          html: previousHtmlPerson
      }
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}

{{ govukDateInput({
  id: "date-of-birth",
  namePrefix: "date-of-birth",
  fieldset: {
    legend: {
      text: "Date of birth",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "For example, 27 3 2000"
  }
}) }}

<div class="govuk-form-group">
  <label class="govuk-label govuk-label--m" for="nationality">
    What is their nationality?
  </label>

 

  <select class="govuk-select" id="nationality" name="nationality" aria-describedby="nationality-hint">
  
    
      <option value="">Select a nationality</option>
    
        <option value="British">British</option>

    
      <option value="Afghan">Afghan</option>
    
  
    
      <option value="Albanian">Albanian</option>
    
  
    
      <option value="Algerian">Algerian</option>
    
  
    
      <option value="American">American</option>
    
  
    
      <option value="Andorran">Andorran</option>
    
  
    
      <option value="Angolan">Angolan</option>
    
  
    
      <option value="Anguillan">Anguillan</option>
    
  
    
      <option value="Argentine">Argentine</option>
    
  
    
      <option value="Armenian">Armenian</option>
    
  
    
      <option value="Australian">Australian</option>
    
  
    
      <option value="Austrian">Austrian</option>
    
  
    
      <option value="Azerbaijani">Azerbaijani</option>
    
  
    
      <option value="Bahamian">Bahamian</option>
    
  
    
      <option value="Bahraini">Bahraini</option>
    
  
    
      <option value="Bangladeshi">Bangladeshi</option>
    
  
    
      <option value="Barbadian">Barbadian</option>
    
  
    
      <option value="Belarusian">Belarusian</option>
    
  
    
      <option value="Belgian">Belgian</option>
    
  
    
      <option value="Belizean">Belizean</option>
    
  
    
      <option value="Beninese">Beninese</option>
    
  
    
      <option value="Bermudian">Bermudian</option>
    
  
    
      <option value="Bhutanese">Bhutanese</option>
    
  
    
      <option value="Bolivian">Bolivian</option>
    
  
    
      <option value="Botswanan">Botswanan</option>
    
  
    
      <option value="Brazilian">Brazilian</option>
    
  
    
      <option value="British">British</option>
    
  
    
      <option value="British Virgin Islander">British Virgin Islander</option>
    
  
    
      <option value="Bruneian">Bruneian</option>
    
  
    
      <option value="Bulgarian">Bulgarian</option>
    
  
    
      <option value="Burkinan">Burkinan</option>
    
  
    
      <option value="Burmese">Burmese</option>
    
  
    
      <option value="Burundian">Burundian</option>
    
  
    
      <option value="Cambodian">Cambodian</option>
    
  
    
      <option value="Cameroonian">Cameroonian</option>
    
  
    
      <option value="Canadian">Canadian</option>
    
  
    
      <option value="Cape Verdean">Cape Verdean</option>
    
  
    
      <option value="Cayman Islander">Cayman Islander</option>
    
  
    
      <option value="Central African">Central African</option>
    
  
    
      <option value="Chadian">Chadian</option>
    
  
    
      <option value="Chilean">Chilean</option>
    
  
    
      <option value="Chinese">Chinese</option>
    
  
    
      <option value="Citizen of Antigua and Barbuda">Citizen of Antigua and Barbuda</option>
    
  
    
      <option value="Citizen of Bosnia and Herzegovina">Citizen of Bosnia and Herzegovina</option>
    
  
    
      <option value="Citizen of Guinea-Bissau">Citizen of Guinea-Bissau</option>
    
  
    
      <option value="Citizen of Kiribati">Citizen of Kiribati</option>
    
  
    
      <option value="Citizen of Seychelles">Citizen of Seychelles</option>
    
  
    
      <option value="Citizen of the Dominican Republic">Citizen of the Dominican Republic</option>
    
  
    
      <option value="Citizen of Vanuatu">Citizen of Vanuatu</option>
    
  
    
      <option value="Colombian">Colombian</option>
    
  
    
      <option value="Comoran">Comoran</option>
    
  
    
      <option value="Congolese (Congo)">Congolese (Congo)</option>
    
  
    
      <option value="Congolese (DRC)">Congolese (DRC)</option>
    
  
    
      <option value="Cook Islander">Cook Islander</option>
    
  
    
      <option value="Costa Rican">Costa Rican</option>
    
  
    
      <option value="Croatian">Croatian</option>
    
  
    
      <option value="Cuban">Cuban</option>
    
  
    
      <option value="Cymraes">Cymraes</option>
    
  
    
      <option value="Cymro">Cymro</option>
    
  
    
      <option value="Cypriot">Cypriot</option>
    
  
    
      <option value="Czech">Czech</option>
    
  
    
      <option value="Danish">Danish</option>
    
  
    
      <option value="Djiboutian">Djiboutian</option>
    
  
    
      <option value="Dominican">Dominican</option>
    
  
    
      <option value="Dutch">Dutch</option>
    
  
    
      <option value="East Timorese">East Timorese</option>
    
  
    
      <option value="Ecuadorean">Ecuadorean</option>
    
  
    
      <option value="Egyptian">Egyptian</option>
    
  
    
      <option value="Emirati">Emirati</option>
    
  
    
      <option value="English">English</option>
    
  
    
      <option value="Equatorial Guinean">Equatorial Guinean</option>
    
  
    
      <option value="Eritrean">Eritrean</option>
    
  
    
      <option value="Estonian">Estonian</option>
    
  
    
      <option value="Ethiopian">Ethiopian</option>
    
  
    
      <option value="Faroese">Faroese</option>
    
  
    
      <option value="Fijian">Fijian</option>
    
  
    
      <option value="Filipino">Filipino</option>
    
  
    
      <option value="Finnish">Finnish</option>
    
  
    
      <option value="French">French</option>
    
  
    
      <option value="Gabonese">Gabonese</option>
    
  
    
      <option value="Gambian">Gambian</option>
    
  
    
      <option value="Georgian">Georgian</option>
    
  
    
      <option value="German">German</option>
    
  
    
      <option value="Ghanaian">Ghanaian</option>
    
  
    
      <option value="Gibraltarian">Gibraltarian</option>
    
  
    
      <option value="Greek">Greek</option>
    
  
    
      <option value="Greenlandic">Greenlandic</option>
    
  
    
      <option value="Grenadian">Grenadian</option>
    
  
    
      <option value="Guamanian">Guamanian</option>
    
  
    
      <option value="Guatemalan">Guatemalan</option>
    
  
    
      <option value="Guinean">Guinean</option>
    
  
    
      <option value="Guyanese">Guyanese</option>
    
  
    
      <option value="Haitian">Haitian</option>
    
  
    
      <option value="Honduran">Honduran</option>
    
  
    
      <option value="Hong Konger">Hong Konger</option>
    
  
    
      <option value="Hungarian">Hungarian</option>
    
  
    
      <option value="Icelandic">Icelandic</option>
    
  
    
      <option value="Indian">Indian</option>
    
  
    
      <option value="Indonesian">Indonesian</option>
    
  
    
      <option value="Iranian">Iranian</option>
    
  
    
      <option value="Iraqi">Iraqi</option>
    
  
    
      <option value="Irish">Irish</option>
    
  
    
      <option value="Israeli">Israeli</option>
    
  
    
      <option value="Italian">Italian</option>
    
  
    
      <option value="Ivorian">Ivorian</option>
    
  
    
      <option value="Jamaican">Jamaican</option>
    
  
    
      <option value="Japanese">Japanese</option>
    
  
    
      <option value="Jordanian">Jordanian</option>
    
  
    
      <option value="Kazakh">Kazakh</option>
    
  
    
      <option value="Kenyan">Kenyan</option>
    
  
    
      <option value="Kittitian">Kittitian</option>
    
  
    
      <option value="Kosovan">Kosovan</option>
    
  
    
      <option value="Kuwaiti">Kuwaiti</option>
    
  
    
      <option value="Kyrgyz">Kyrgyz</option>
    
  
    
      <option value="Lao">Lao</option>
    
  
    
      <option value="Latvian">Latvian</option>
    
  
    
      <option value="Lebanese">Lebanese</option>
    
  
    
      <option value="Liberian">Liberian</option>
    
  
    
      <option value="Libyan">Libyan</option>
    
  
    
      <option value="Liechtenstein citizen">Liechtenstein citizen</option>
    
  
    
      <option value="Lithuanian">Lithuanian</option>
    
  
    
      <option value="Luxembourger">Luxembourger</option>
    
  
    
      <option value="Macanese">Macanese</option>
    
  
    
      <option value="Macedonian">Macedonian</option>
    
  
    
      <option value="Malagasy">Malagasy</option>
    
  
    
      <option value="Malawian">Malawian</option>
    
  
    
      <option value="Malaysian">Malaysian</option>
    
  
    
      <option value="Maldivian">Maldivian</option>
    
  
    
      <option value="Malian">Malian</option>
    
  
    
      <option value="Maltese">Maltese</option>
    
  
    
      <option value="Marshallese">Marshallese</option>
    
  
    
      <option value="Martiniquais">Martiniquais</option>
    
  
    
      <option value="Mauritanian">Mauritanian</option>
    
  
    
      <option value="Mauritian">Mauritian</option>
    
  
    
      <option value="Mexican">Mexican</option>
    
  
    
      <option value="Micronesian">Micronesian</option>
    
  
    
      <option value="Moldovan">Moldovan</option>
    
  
    
      <option value="Monegasque">Monegasque</option>
    
  
    
      <option value="Mongolian">Mongolian</option>
    
  
    
      <option value="Montenegrin">Montenegrin</option>
    
  
    
      <option value="Montserratian">Montserratian</option>
    
  
    
      <option value="Moroccan">Moroccan</option>
    
  
    
      <option value="Mosotho">Mosotho</option>
    
  
    
      <option value="Mozambican">Mozambican</option>
    
  
    
      <option value="Namibian">Namibian</option>
    
  
    
      <option value="Nauruan">Nauruan</option>
    
  
    
      <option value="Nepalese">Nepalese</option>
    
  
    
      <option value="New Zealander">New Zealander</option>
    
  
    
      <option value="Nicaraguan">Nicaraguan</option>
    
  
    
      <option value="Nigerian">Nigerian</option>
    
  
    
      <option value="Nigerien">Nigerien</option>
    
  
    
      <option value="Niuean">Niuean</option>
    
  
    
      <option value="North Korean">North Korean</option>
    
  
    
      <option value="Northern Irish">Northern Irish</option>
    
  
    
      <option value="Norwegian">Norwegian</option>
    
  
    
      <option value="Omani">Omani</option>
    
  
    
      <option value="Pakistani">Pakistani</option>
    
  
    
      <option value="Palauan">Palauan</option>
    
  
    
      <option value="Palestinian">Palestinian</option>
    
  
    
      <option value="Panamanian">Panamanian</option>
    
  
    
      <option value="Papua New Guinean">Papua New Guinean</option>
    
  
    
      <option value="Paraguayan">Paraguayan</option>
    
  
    
      <option value="Peruvian">Peruvian</option>
    
  
    
      <option value="Pitcairn Islander">Pitcairn Islander</option>
    
  
    
      <option value="Polish">Polish</option>
    
  
    
      <option value="Portuguese">Portuguese</option>
    
  
    
      <option value="Prydeinig">Prydeinig</option>
    
  
    
      <option value="Puerto Rican">Puerto Rican</option>
    
  
    
      <option value="Qatari">Qatari</option>
    
  
    
      <option value="Romanian">Romanian</option>
    
  
    
      <option value="Russian">Russian</option>
    
  
    
      <option value="Rwandan">Rwandan</option>
    
  
    
      <option value="Salvadorean">Salvadorean</option>
    
  
    
      <option value="Sammarinese">Sammarinese</option>
    
  
    
      <option value="Samoan">Samoan</option>
    
  
    
      <option value="Sao Tomean">Sao Tomean</option>
    
  
    
      <option value="Saudi Arabian">Saudi Arabian</option>
    
  
    
      <option value="Scottish">Scottish</option>
    
  
    
      <option value="Senegalese">Senegalese</option>
    
  
    
      <option value="Serbian">Serbian</option>
    
  
    
      <option value="Sierra Leonean">Sierra Leonean</option>
    
  
    
      <option value="Singaporean">Singaporean</option>
    
  
    
      <option value="Slovak">Slovak</option>
    
  
    
      <option value="Slovenian">Slovenian</option>
    
  
    
      <option value="Solomon Islander">Solomon Islander</option>
    
  
    
      <option value="Somali">Somali</option>
    
  
    
      <option value="South African">South African</option>
    
  
    
      <option value="South Korean">South Korean</option>
    
  
    
      <option value="South Sudanese">South Sudanese</option>
    
  
    
      <option value="Spanish">Spanish</option>
    
  
    
      <option value="Sri Lankan">Sri Lankan</option>
    
  
    
      <option value="St Helenian">St Helenian</option>
    
  
    
      <option value="St Lucian">St Lucian</option>
    
  
    
      <option value="Stateless">Stateless</option>
    
  
    
      <option value="Sudanese">Sudanese</option>
    
  
    
      <option value="Surinamese">Surinamese</option>
    
  
    
      <option value="Swazi">Swazi</option>
    
  
    
      <option value="Swedish">Swedish</option>
    
  
    
      <option value="Swiss">Swiss</option>
    
  
    
      <option value="Syrian">Syrian</option>
    
  
    
      <option value="Taiwanese">Taiwanese</option>
    
  
    
      <option value="Tajik">Tajik</option>
    
  
    
      <option value="Tanzanian">Tanzanian</option>
    
  
    
      <option value="Thai">Thai</option>
    
  
    
      <option value="Togolese">Togolese</option>
    
  
    
      <option value="Tongan">Tongan</option>
    
  
    
      <option value="Trinidadian">Trinidadian</option>
    
  
    
      <option value="Tristanian">Tristanian</option>
    
  
    
      <option value="Tunisian">Tunisian</option>
    
  
    
      <option value="Turkish">Turkish</option>
    
  
    
      <option value="Turkmen">Turkmen</option>
    
  
    
      <option value="Turks and Caicos Islander">Turks and Caicos Islander</option>
    
  
    
      <option value="Tuvaluan">Tuvaluan</option>
    
  
    
      <option value="Ugandan">Ugandan</option>
    
  
    
      <option value="Ukrainian">Ukrainian</option>
    
  
    
      <option value="Uruguayan">Uruguayan</option>
    
  
    
      <option value="Uzbek">Uzbek</option>
    
  
    
      <option value="Vatican citizen">Vatican citizen</option>
    
  
    
      <option value="Venezuelan">Venezuelan</option>
    
  
    
      <option value="Vietnamese">Vietnamese</option>
    
  
    
      <option value="Vincentian">Vincentian</option>
    
  
    
      <option value="Wallisian">Wallisian</option>
    
  
    
      <option value="Welsh">Welsh</option>
    
  
    
      <option value="Yemeni">Yemeni</option>
    
  
    
      <option value="Zambian">Zambian</option>
    
  
    
      <option value="Zimbabwean">Zimbabwean</option>
    
  
  </select>
</div>

<p class="govuk-!-margin-bottom-8"><a href="#" id="ity-link" class="govuk-link govuk-link--no-visited-state hidden">
  Add a second nationality
</a></p>


{% if (data['registrationOrTransition'] in ["registration", "post"] and data['registerType'] in ["registerLp", "registerSlp"]) %}



{% call govukFieldset({
  legend: {
    text: "What is their total capital contribution?",
    classes: "govuk-fieldset__legend--m"
  }
}) %}


<p class="govuk-hint">Enter the total value of all monetary and non-monetary contributions</p>




{{ govukInput({
  id: "totalCapitalContribution",
  name: "totalCapitalContribution",
  label: {
    text: "What is their total capital contribution?",
    classes: "govuk-visually-hidden"
  },
  classes: "govuk-input--width-5",
  inputmode: "numeric",
  spellcheck: false
}) }}
      


{{ govukSelect({
  id: "otherCurrencySelector",
  name: "otherCurrencySelector",
  label: {
    text: "Hint text",
    classes: "govuk-visually-hidden"
  },
  items: [
    {
      value: "",
      text: "Select currency",
      selected: true
    },
    { "value": "GBP", "text": "Pound Sterling (GBP)" },
    { "value": "USD", "text": "US Dollar (USD)" },
    { "value": "EUR", "text": "Euro (EUR)" },
    { "value": "AFN", "text": "Afghani (AFN)" },
    { "value": "DZD", "text": "Algerian Dinar (DZD)" },
    { "value": "AON", "text": "Angolan New Kwanza (AON)" },
    { "value": "ARS", "text": "Argentine Peso (ARS)" },
    { "value": "AMD", "text": "Armenian Dram (AMD)" },
    { "value": "AWG", "text": "Aruban Guilder (AWG)" },
    { "value": "AUD", "text": "Australian Dollar (AUD)" },
    { "value": "AZN", "text": "Azerbaijanian New Manat (AZN)" },
    { "value": "BSD", "text": "Bahamian Dollar (BSD)" },
    { "value": "BHD", "text": "Bahraini Dinar (BHD)" },
    { "value": "THB", "text": "Baht (THB)" },
    { "value": "PAB", "text": "Balboa (PAB)" },
    { "value": "BBD", "text": "Barbados Dollar (BBD)" },
    { "value": "BYB", "text": "Belarussian Ruble (BYB)" },
    { "value": "BEF", "text": "Belgian Franc (BEF)" },
    { "value": "BZD", "text": "Belize Dollar (BZD)" },
    { "value": "BMD", "text": "Bermuda Dollar (BMD)" },
    { "value": "VEB", "text": "Bolivar (VEB)" },
    { "value": "BOB", "text": "Boliviano (BOB)" },
    { "value": "BRL", "text": "Brazilian Real (BRL)" },
    { "value": "BND", "text": "Brunei Dollar (BND)" },
    { "value": "BGN", "text": "Bulgarian Lev (BGN)" },
    { "value": "BIF", "text": "Burundi Franc (BIF)" },
    { "value": "CAD", "text": "Canadian Dollar (CAD)" },
    { "value": "CVE", "text": "Cape Verde Escudo (CVE)" },
    { "value": "KYD", "text": "Cayman Islands Dollar (KYD)" },
    { "value": "GHS", "text": "Cedi (GHS)" },
    { "value": "XOF", "text": "CFA Franc BCEAO (XOF)" },
    { "value": "XAF", "text": "CFA Franc BEAC (XAF)" },
    { "value": "XPF", "text": "CFP Franc (XPF)" },
    { "value": "CLP", "text": "Chilean Peso (CLP)" },
    { "value": "COP", "text": "Colombian Peso (COP)" },
    { "value": "KMF", "text": "Comoro Franc (KMF)" },
    { "value": "BAM", "text": "Convertible Marks (BAM)" },
    { "value": "NIO", "text": "Cordoba Oro (NIO)" },
    { "value": "CRC", "text": "Costa Rican Colon (CRC)" },
    { "value": "HRK", "text": "Croatian Kuna (HRK)" },
    { "value": "CUC", "text": "Cuba Convertible Peso (CUC)" },
    { "value": "CUP", "text": "Cuban Peso (CUP)" },
    { "value": "CZK", "text": "Czech Koruna (CZK)" },
    { "value": "GMD", "text": "Dalasi (GMD)" },
    { "value": "DKK", "text": "Danish Krone (DKK)" },
    { "value": "MKD", "text": "Denar (MKD)" },
    { "value": "DJF", "text": "Djibouti Franc (DJF)" },
    { "value": "STD", "text": "Dobra (STD)" },
    { "value": "DOP", "text": "Dominican Peso (DOP)" },
    { "value": "VND", "text": "Dong (VND)" },
    { "value": "XCD", "text": "East Caribbean Dollar (XCD)" },
    { "value": "EGP", "text": "Egyptian Pound (EGP)" },
    { "value": "SVC", "text": "El Salvador Colon (SVC)" },
    { "value": "ETB", "text": "Ethiopian Birr (ETB)" },
    { "value": "FKP", "text": "Falkland Islands Pound (FKP)" },
    { "value": "FJD", "text": "Fiji Dollar (FJD)" },
    { "value": "HUF", "text": "Forint (HUF)" },
    { "value": "CDF", "text": "Franc Congolais (CDF)" },
    { "value": "GIP", "text": "Gibraltar Pound (GIP)" },
    { "value": "HTG", "text": "Gourde (HTG)" },
    { "value": "PYG", "text": "Guarani (PYG)" },
    { "value": "GNF", "text": "Guinea Franc (GNF)" },
    { "value": "GWP", "text": "Guinea-Bissau Peso (GWP)" },
    { "value": "GYD", "text": "Guyana Dollar (GYD)" },
    { "value": "HKD", "text": "Hong Kong Dollar (HKD)" },
    { "value": "UAH", "text": "Hryvnia (UAH)" },
    { "value": "ISK", "text": "Iceland Krona (ISK)" },
    { "value": "INR", "text": "Indian Rupee (INR)" },
    { "value": "IRR", "text": "Iranian Rial (IRR)" },
    { "value": "IQD", "text": "Iraqi Dinar (IQD)" },
    { "value": "JMD", "text": "Jamaican Dollar (JMD)" },
    { "value": "JOD", "text": "Jordanian Dinar (JOD)" },
    { "value": "KES", "text": "Kenyan Shilling (KES)" },
    { "value": "PGK", "text": "Kina (PGK)" },
    { "value": "LAK", "text": "Kip (LAK)" },
    { "value": "KWD", "text": "Kuwaiti Dinar (KWD)" },
    { "value": "ZMW", "text": "Kwacha (ZMW)" },
    { "value": "MWK", "text": "Kwacha (MWK)" },
    { "value": "AOA", "text": "Kwanza (AOA)" },
    { "value": "MMK", "text": "Kyat (MMK)" },
    { "value": "GEL", "text": "Lari (GEL)" },
    { "value": "LBP", "text": "Lebanese Pound (LBP)" },
    { "value": "ALL", "text": "Lek (ALL)" },
    { "value": "HNL", "text": "Lempira (HNL)" },
    { "value": "SLL", "text": "Leone (SLL)" },
    { "value": "LRD", "text": "Liberian Dollar (LRD)" },
    { "value": "LYD", "text": "Libyan Dinar (LYD)" },
    { "value": "SZL", "text": "Lilangeni (SZL)" },
    { "value": "LSL", "text": "Loti (LSL)" },
    { "value": "MGA", "text": "Malagasy Ariary (MGA)" },
    { "value": "MYR", "text": "Malaysian Ringgit (MYR)" },
    { "value": "TMM", "text": "Manat (TMM)" },
    { "value": "MRU", "text": "Mauritania Ouguiya (MRU)" },
    { "value": "MUR", "text": "Mauritius Rupee (MUR)" },
    { "value": "MZM", "text": "Merical (MZM)" },
    { "value": "MXN", "text": "Mexican Peso (MXN)" },
    { "value": "MXV", "text": "Mexican Unidad de Inversion (UID) (MXV)" },
    { "value": "MDL", "text": "Moldovan Leu (MDL)" },
    { "value": "MAD", "text": "Moroccan Dirham (MAD)" },
    { "value": "BOV", "text": "Mvdol (BOV)" },
    { "value": "NGN", "text": "Naira (NGN)" },
    { "value": "ERN", "text": "Nakfa (ERN)" },
    { "value": "NAD", "text": "Namibian Dollar (NAD)" },
    { "value": "NPR", "text": "Nepalese Rupee (NPR)" },
    { "value": "ILS", "text": "New Israeli Sheqel (ILS)" },
    { "value": "RON", "text": "New Leu (RON)" },
    { "value": "TWD", "text": "New Taiwan Dollar (TWD)" },
    { "value": "TRY", "text": "New Turkish Lira (TRY)" },
    { "value": "NZD", "text": "New Zealand Dollar (NZD)" },
    { "value": "BTN", "text": "Ngultrum (BTN)" },
    { "value": "KPW", "text": "North Korean Won (KPW)" },
    { "value": "NOK", "text": "Norwegian Krone (NOK)" },
    { "value": "PEN", "text": "Nuevo Sol (PEN)" },
    { "value": "MRO", "text": "Ouguiya (MRO)" },
    { "value": "TOP", "text": "Pa'anga (TOP)" },
    { "value": "PKR", "text": "Pakistan Rupee (PKR)" },
    { "value": "MOP", "text": "Pataca (MOP)" },
    { "value": "UYU", "text": "Peso Uruguayo (UYU)" },
    { "value": "PHP", "text": "Philippine Peso (PHP)" },
    { "value": "BWP", "text": "Pula (BWP)" },
    { "value": "QAR", "text": "Qatari Rial (QAR)" },
    { "value": "GTQ", "text": "Quetzal (GTQ)" },
    { "value": "ZAR", "text": "Rand (ZAR)" },
    { "value": "OMR", "text": "Rial Omani (OMR)" },
    { "value": "KHR", "text": "Riel (KHR)" },
    { "value": "MVR", "text": "Rufiyaa (MVR)" },
    { "value": "IDR", "text": "Rupiah (IDR)" },
    { "value": "RUB", "text": "Russian Rouble (RUB)" },
    { "value": "RWF", "text": "Rwanda Franc (RWF)" },
    { "value": "SHP", "text": "Saint Helena Pound (SHP)" },
    { "value": "STN", "text": "Sao Tome and Principe Dobra (STN)" },
    { "value": "SAR", "text": "Saudi Riyal (SAR)" },
    { "value": "XDR", "text": "SDR (XDR)" },
    { "value": "CSD", "text": "Serbian Dinar (CSD)" },
    { "value": "SCR", "text": "Seychelles Rupee (SCR)" },
    { "value": "SGD", "text": "Singapore Dollar (SGD)" },
    { "value": "SBD", "text": "Solomon Islands Dollar (SBD)" },
    { "value": "KGS", "text": "Som (KGS)" },
    { "value": "SOS", "text": "Somali Shilling (SOS)" },
    { "value": "TJS", "text": "Somoni (TJS)" },
    { "value": "SSP", "text": "South Sudan Pound (SSP)" },
    { "value": "LKR", "text": "Sri Lanka Rupee (LKR)" },
    { "value": "SDD", "text": "Sudanese Dinar (SDD)" },
    { "value": "SRD", "text": "Surinam Dollar (SRD)" },
    { "value": "SEK", "text": "Swedish Krona (SEK)" },
    { "value": "CHF", "text": "Swiss Franc (CHF)" },
    { "value": "SYP", "text": "Syrian Pound (SYP)" },
    { "value": "BDT", "text": "Taka (BDT)" },
    { "value": "WST", "text": "Tala (WST)" },
    { "value": "TZS", "text": "Tanzanian Shilling (TZS)" },
    { "value": "KZT", "text": "Tenge (KZT)" },
    { "value": "SIT", "text": "Tolar (SIT)" },
    { "value": "TTD", "text": "Trinidad and Tobago Dollar (TTD)" },
    { "value": "MNT", "text": "Tugrik (MNT)" },
    { "value": "TND", "text": "Tunisian Dinar (TND)" },
    { "value": "AED", "text": "UAE Dirham (AED)" },
    { "value": "UGX", "text": "Uganda Shilling (UGX)" },
    { "value": "UKH", "text": "Ukraine Hryvnia (UKH)" },
    { "value": "COU", "text": "Unidad de Valor Real (COU)" },
    { "value": "CLF", "text": "Unidades de Fomento (CLF)" },
    { "value": "UZS", "text": "Uzbekistan Sum (UZS)" },
    { "value": "VUV", "text": "Vatu (VUV)" },
    { "value": "VES", "text": "Venezuela Bolivar (VES)" },
    { "value": "CHE", "text": "WIR Euro (CHE)" },
    { "value": "CHW", "text": "WIR Franc (CHW)" },
    { "value": "KRW", "text": "Won (KRW)" },
    { "value": "YER", "text": "Yemeni Rial (YER)" },
    { "value": "JPY", "text": "Yen (JPY)" },
    { "value": "CNY", "text": "Yuan Renminbi (CNY)" },
    { "value": "ZWD", "text": "Zimbabwe Dollar (ZWD)" },
    { "value": "PLN", "text": "Zloty (PLN)" }
      ]
}) }}


{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{{ govukCheckboxes({
  name: "capitalContributionBreakdown",
  fieldset: {
    legend: {
      text: "What is this total value made up of?",
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Select all that apply"
  },
  items: [
    {
      value: "carcasses",
      text: "Money"
    },
    {
      value: "Land or property",
      text: "Land or property"
    },
    {
      value: "Shares",
      text: "Shares"
    },
    {
      value: "Services or goods",
      text: "Services or goods"
    }
  ]
}) }}


{% endcall %}


{% endif %}


 {{ govukInsetText({
          html: "<h2 class='govuk-heading-m'>What information we'll show on the public register</h2>
                <p>We’ll only show the month and year of their birth date. </p>
                <p>We’ll show all the other information you provide on this screen on the public register.</p>"
        }) }}


{{ govukButton({
  text: "Save and continue"
}) }}

       
{% if data['registrationOrTransition'] == "transition" %}
<!-- don't show thse UR shortcuts-->
{% else %}
  <div class="ur-shortcuts">
  <!-- Not part of ACTUAL screen: only for UR purposes -->
  <p class="govuk-body-s govuk-!-margin-bottom-1">UR shortcut:</p>
  <ul class="govuk-list govuk-body-s govuk-!-margin-top-1">
    <li><a class="govuk-link" href="capital-contribution-ideas">Alternate capital contribution designs</a></li>
  </ul>
</div>
{% endif %}

</form>
    </div>
  </div>

   <!-- <script src="/public/javascripts/accessible-autocomplete.js"></script>
  <script src="/public/javascripts/titles-appoint.js"></script>-->
{% endblock %}
