{% extends "layouts/main.html" %}

{% block pageTitle %}
  Service offline - File a confirmation statement
{% endblock %}
{% block signOut %}{% endblock %}
{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Sorry, the service is unavailable
      </h1>
      <p class="govuk-body-m">You will be able to use the service at a later date.</p>

      {% set fileByPostHTML %}
      <p>You can file a confirmation statement online using our <a href="">WebFiling service</a>.</p>
      <p>You can also file a confirmation statement by post using the <a href="https://www.gov.uk/government/publications/confirmation-statement-cs01">CS01 paper form</a>. It costs £40 and will take longer than if you file online.</p>
      <p>There are separate paper forms for:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="">limited liability partnerships - LLCS01</a></li>
        <li><a href="">Scottish limited partnerships - SLPCS01</a></li>
        <li><a href="">Scottish qualifying partnerships - SQPCS01</a></li>
        </ul>
      {% endset %}

      {{ govukDetails({
        summaryText: "Other ways to file",
        html: fileByPostHTML
      }) }}

    </div>
  </div>
{% endblock %}
