{% extends "layouts/main.html" %}

{% set pageName="V1" %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!--{% include "govuk-prototype-kit/includes/homepage-top.njk" %}-->

 



    <span class="govuk-caption-xl">Version 1</span>
    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    {{ govukWarningText({
      text: "This prototype is being actively worked on - things might break or change very quickly",
      iconFallbackText: "Warning"
    }) }}



   <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1718782436541/6dbf1fa0420a91e225730ded076774a63afe9be6?wid=0-1718783276548">Link to Mural</a></li>
      </ul>

    <h2 class="govuk-heading-m">Initial screens</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="test-scenario">Test scenario (PDF or Web)</a></li>
        <li><a class="govuk-link" href="start">Start</a></li>
        <li><a class="govuk-link" href="sign-in">Sign in</a></li>
        <li><a class="govuk-link" href="company-number">Choose...</a></li>
        <li><a class="govuk-link" href="auth-code">Auth code</a></li>
        <li><a class="govuk-link" href="correct-company">Confirm...</a></li>
      </ul>
      
      <h2 class="govuk-heading-m">PDF screens</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="#">To be added</a></li>
        <li><a class="govuk-link" href="#">To be added</a></li>
        <li><a class="govuk-link" href="#">To be added</a></li>
      </ul>

      <h2 class="govuk-heading-m">Web screens</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="#">To be added</a></li>
        <li><a class="govuk-link" href="#">To be added</a></li>
        <li><a class="govuk-link" href="#">To be added</a></li>
      </ul>

    <h2 class="govuk-heading-m">Emails</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="#">To be added</a></li>
        <li><a class="govuk-link" href="#">To be added</a></li>
        <li><a class="govuk-link" href="#">To be added</a></li>
      </ul>

   <!--{% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}-->
  </div>
</div>

{% endblock %}
