{% extends "layouts/main.html" %}

{% set pageName="Where is the general partner's principal office address?" %}


{% block header %}
   {% include "/includes/dynamic-service-name.html" %}
{% endblock %}

{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
 {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link-language-toggle.html" %}
{% endblock %}





{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<form class="form" action="/gp-legal-entity-poa-where" method="post">
   

  <span class="govuk-caption-l uppercase"> {{ data['gp1EntityName'] or "CITRUS PARTNERS LIMITED" }} </span>

{{ govukRadios({
  name: "gpLegalEntityPOAWhere",
  fieldset: {
    legend: {
      text: "Where is the general partner's principal office address?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  hint: {
    text: "This is the address for the entity's main office."
  },
  items: [
    {
      value: "gpLegalEntityPOAUK",
      text: "In the UK"
    },
    {
      value: "gpLegalEntityPOAOverseas",
      text: "Overseas"
    }
  ]
}) }}

{{ govukInsetText({
  html: "<h2 class='govuk-heading-m'>What information we'll show on the public register</h2>
        <p>We'll show general partner's principal office address on the public register.</p>"
}) }}

     
{{ govukButton({
  text: "Save and continue"
}) }}


</form>
    </div>
  </div>

  
{% endblock %}
