{% extends "layouts/main.html" %}

{% set pageName="Where is the general partner's usual residential address?" %}


{% block header %}
   {% include "/includes/dynamic-service-name.html" %}
{% endblock %}

{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
 {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link-language-toggle.html" %}
{% endblock %}





{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<form class="form" action="/gp-person-ura-where" method="post">
   

  <span class="govuk-caption-l"> {{ data['gp1FirstName'] or "Georgina" }} {{ data['gp1LastName'] or "Smith" }}</span>

{{ govukRadios({
  name: "gpPersonURAWhere",
  fieldset: {
    legend: {
      text: "Where is the general partner's usual residential address?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  items: [
    {
      value: "gpPersonURAUK",
      text: "In the United Kingdom"
    },
    {
      value: "gpPersonURAOverseas",
      text: "Overseas"
    }
  ]
}) }}

{{ govukInsetText({
  html: "<h2 class='govuk-heading-m'>What information we'll show on the public register</h2>
        <p>We will not show this address on the public register, unless it's also used as the general partner’s correspondence address.</p>"
}) }}

     
{{ govukButton({
  text: "Save and continue"
}) }}


</form>
    </div>
  </div>

  
{% endblock %}
