{% extends "layouts/main.html" %}

{% block pageTitle %}
  Design history -  {{ serviceName }} - GOV.UK
{% endblock %}


{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
  {% include "/includes/back-link" %}
{% endblock %}



{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{ serviceName }} </span>
      <h1 class="govuk-heading-xl">Design history</h1>
     


 
    {{ govukNotificationBanner({
    html: '<a href="/v9/test-scenario">Read the testing instructions</a> before clicking any links.'
    }) }}


           <h2 class="govuk-heading-m">Week ending Fri 6 June 2025 {{ govukTag({
  text: "V10"
}) }}</h2>


<ul class="govuk-list govuk-list--bullet">
    <li>No updates to the prototype this week</li>
</ul>



           <h2 class="govuk-heading-m">Week ending Fri 30 May 2025 {{ govukTag({
  text: "V10"
}) }}</h2>


<ul class="govuk-list govuk-list--bullet">
    <li>Added a version of the <a href="v10/confirmation-statement/confirmation-statement-date-early" class="govuk-link govuk-link--no-visited-state">Confirmation statement date screen where the user is filing before their statutory date</a></li>
</ul>

               <h2 class="govuk-heading-m">Week ending Fri 23 May 2025 {{ govukTag({
  text: "V10"
}) }}</h2>


<ul class="govuk-list govuk-list--bullet">
    <li>Added a variation on how me might <a href="/v10/pscs/psc-person-alt-1" class="govuk-link govuk-link--no-visited-state">collect PSC nature of control information</a></li>
    <li>Added a print button to <a href="/v10/check-your-answers" class="govuk-link govuk-link--no-visited-state">Check your answers</a></li>
</ul>

            <h2 class="govuk-heading-m">Week ending Fri 16 May 2025 {{ govukTag({
  text: "V10"
}) }}</h2>


<ul class="govuk-list govuk-list--bullet">
    <li><a href="/" class="govuk-link govuk-link--no-visited-state">V10 of the prototype</a> created</li>
    <li>Updated the GOV branding on more pages (GOV Pay and Gov One Login pages)</li>
    <li>Updated <a href="/v10/check-your-answers" class="govuk-link govuk-link--no-visited-state">Check your answers</a> for Registration/Transition, trailling all functionality for partners/PSCs (add/remove/change) back on the 'What you have added' pages rather then the Check your answer page</li>
    <li>Added <a href="/v10/secure-register-filter" class="govuk-link govuk-link--no-visited-state">'secure register filter'</a> at the start of the journey(s) - waiting on requirements to further update these screens</li>
    <li>A few design revisions to the <a href="/v10/manage/limited-partnership-overview-tabs-wf" class="govuk-link govuk-link--no-visited-state">Manage LP tabbed screen</a> - repositioned Close link, and redesignate link</li>
</ul>


              <h2 class="govuk-heading-m">Week ending Fri 9 May 2025 {{ govukTag({
  text: "V9"
}) }}</h2>


<ul class="govuk-list govuk-list--bullet">
    <li>Updated the GOV branding</li>
    <li>Revised the journey to add a partner in the post-transition service - now users need to add them one at a time, rather than in bulk. Also introduced 'date they became a partner' based on new requirements</li>
    <li>Working on an <a href="/v9/confirmation-statement/sic-check" class="govuk-link govuk-link--no-visited-state">alternative SIC code page</a>, using X GOV autocomplete</li>
</ul>

            <h2 class="govuk-heading-m">Week ending Fri 25 April 2025 {{ govukTag({
  text: "V9"
}) }}</h2>


<ul class="govuk-list govuk-list--bullet">
    <li>Attempted to update the GOV branding but encountered errors (the updated version of the front-end is not yet supported by <a href="https://x-govuk.github.io/govuk-prototype-components/" class="govuk-link govuk-link--no-visited-state">x-govuk/govuk-prototype-components</a>, which I am using to design a version of the SIC code page)</li>
    <li>Revised <a href="/public/html/LP123456-limited-partnership-report.html" class="govuk-link govuk-link--no-visited-state">'company' snapshot style page</a> to ensure test data matches the screens</li>
    <li>Added in an 'add a limited partner' journey as part of the 'manage'/File a confirmation statement service</li>
</ul>

        <h2 class="govuk-heading-m">Week ending Fri 18 April 2025 {{ govukTag({
  text: "V9"
}) }}</h2>


<ul class="govuk-list govuk-list--bullet">
    <li>Added in a <a href="/v9/confirmation-statement/check-your-answers-change-cs-date.html">check your answer page</a> after users opt to change the date of the Confirmation Statement</li>
    <li>Revised Confirmation statement journey after discussions with the business, removing the 'check your answers' style page where users could see all data and instead adding in a <a href="/public/html/LP123456-limited-partnership-report.html" class="govuk-link govuk-link--no-visited-state">'company' snapshot style page</a>
    <li>Added in screens so users can tell us about <a href="/v9/manage/date-of-change.html" class="govuk-link govuk-link--no-visited-state">the date details were changed</a>, for example a partner's details</li>
</ul>



        <h2 class="govuk-heading-m">Week ending Fri 11 April 2025 {{ govukTag({
  text: "V9"
}) }}</h2>


<ul class="govuk-list govuk-list--bullet">
    <li>Further updates to the capital contribution pattern (to improve data quality)</li>
    <li>Updates to <a href="/v9/index#pscs" class="govuk-link govuk-link--no-visited-state">PSC screens</a>, including an option for users to deselect any mistakenly checked radio buttons in the nature of control section</li>
    <li>Started a major redesign of the <a href="/v9/index#post-transition" class="govuk-link govuk-link--no-visited-state">'manage'/File a confirmation statement service</a>, based on user research sessions this week</li>
</ul>

        <h2 class="govuk-heading-m">Week ending Fri 4 April 2025 {{ govukTag({
  text: "V9"
}) }}</h2>


<ul class="govuk-list govuk-list--bullet">
    <li>Minor updates to the capital contribution pattern (to lessen Dev effort)</li>
    <li>Added <a href="/v9/index#pscs" class="govuk-link govuk-link--no-visited-state">PSC screens</a></li>
    <li>Added remove a limited partner journey to the Manage a limited partnership service </li>
</ul>

    <h2 class="govuk-heading-m">Week ending Fri 28 March 2025 {{ govukTag({
  text: "V9"
}) }}</h2>


<ul class="govuk-list govuk-list--bullet">
    <li>Further updates to the address journeys of the general and legal partner pages (both person and legal entity) - content needed to be dynamic on the 'manual' entry page, depending on either a UK or an overseas address being chosen</a></li>
    <li>V9 of the prototype created</li>
    <li>Added several <a href="/v9/index#post-transition" class="govuk-link govuk-link--no-visited-state">Confirmation Statement screens</a></li>
</ul>


    <h2 class="govuk-heading-m">Week ending Fri 21 March 2025 {{ govukTag({
  text: "V8"
}) }}</h2>


<ul class="govuk-list govuk-list--bullet">
    <li>Finished updating the address journeys of the general and legal partner pages (both person and legal entity) - removing the address component from the pages and instead allowing users to make use of the postcode look-up functionality (for UK address)</a></li>
    <li>Additional updates to the most recent version of the <a href="/v8/limited-partnership-sic" class="govuk-link govuk-link--no-visited-state">What is the Standard Industrial Classification (SIC) code?</a> page</li>
    <li>Further work on the 'Update your LP' service, aiming to ensure users understand they <a href="/v8/manage/file-confirmation-statement" class="govuk-link govuk-link--no-visited-state">can't make changes to their data in the Confirmation Statement service</a>, aside from <a href="/v8/manage/change-sic" class="govuk-link govuk-link--no-visited-state">updating their SIC code(s)</a></li>
</ul>



    <h2 class="govuk-heading-m">Week ending Fri 14 March 2025 {{ govukTag({
  text: "V8"
}) }}</h2>


<ul class="govuk-list govuk-list--bullet">
    <li>Continued work on the <a href="/v8/registration-or-transition" class="govuk-link govuk-link--no-visited-state">post-transition service</a>, adding in more journeys ready for user-testing</li>
    <li>Started updating the address journeys of the general and legal partner pages (both person and legal entity) - intent is to remove the address component from the pages and instead allow users to make use of the postcode look-up functionality</a></li>
    <li> Designed alternatives for the post transition/registration 'overview' screen, taking into account <a href="https://design-system.service.gov.uk/components/pagination/" class="govuk-link govuk-link--no-visited-state">pagination</a> may be needed on partner pages</li>
</ul>

<h2 class="govuk-heading-m">Week ending Fri 7 March 2025 {{ govukTag({
  text: "V8"
}) }}</h2>


<ul class="govuk-list govuk-list--bullet">
    <li>Work on the <a href="/v8/registration-or-transition" class="govuk-link govuk-link--no-visited-state">post-transition service</a>, adding in several journeys ready for user-testing (change name, remove a partner etc)</li>
    <li>Made a start on design for CHS, how the data will look <a href="v8/index#chs" class="govuk-link govuk-link--no-visited-state">on the public record</a></li>
    <li>Repositioned the <a href="/v8/starting-new" class="govuk-link govuk-link--no-visited-state">Do you want to continue with a saved filing?</a> screen to after sign in, based on advice from the Dev team</li>
    <li>In Mural, started mapped out <a href="https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1738231050580/464d0572ba034bcb1ab09889b7865df2df8845c3?wid=0-1740750314839" class="govuk-link govuk-link--no-visited-state">how the partner screens may look when the address pattern(s) on each of them is on it's own page</a>, with an optional postcode lookup when the address is in the UK</li>

</ul>

<h2 class="govuk-heading-m">Week ending Fri 28 Feb 2025 {{ govukTag({
  text: "V8"
}) }}</h2>


<ul class="govuk-list govuk-list--bullet">
    <li>Further ideation of the <a href="/v8/capital-contribution-ideas" class="govuk-link govuk-link--no-visited-state">capital contribution</a> pattern</li>
  <li>Further work on addresses of general and legal partners - removing some, adding in some, mapping out how the screens will look (in Mural) when postcode look-up is implemented</li>
    <li>Work on the post-transition service, starting to flesh out the journeys ready for user testing</li>
</ul>



<h2 class="govuk-heading-m">Week ending Fri 21 Feb 2025 {{ govukTag({
  text: "V8"
}) }}</h2>


<ul class="govuk-list govuk-list--bullet">
    <li>V8 of the prototype created</li>
  <li>Added in <a href="/v8/transition-already-filed" class="govuk-link govuk-link--no-visited-state">a 'stop' screen</a> for the scenario of a user trying to submit a 'transitional' filing for partnerships which has already filed one</li>
    <li>Added in a dynamic hint text to the <a href="/v8//limited-partnership-rea" class="govuk-link govuk-link--no-visited-state">registered email address</a> screen - will only be shown at <a href="/v8/registration-or-transition" class="govuk-link govuk-link--no-visited-state">transition</a> (needed based in most recent user research)</li>
</ul>

<h2 class="govuk-heading-m">Week ending Fri 14 Feb 2025 {{ govukTag({
  text: "V7"
}) }}</h2>


<ul class="govuk-list govuk-list--bullet">
  <li>Made content on <a href="/v8/confirmation-page" class="govuk-link govuk-link--no-visited-state">the final 'confirmation' screen</a> dynamic, dependent on <a href="/v8/registration-or-transition" class="govuk-link govuk-link--no-visited-state">the scenario</a></li>
</ul>

<h2 class="govuk-heading-m">Week ending Fri 7 Feb 2025 {{ govukTag({
  text: "V7"
}) }}</h2>


<ul class="govuk-list govuk-list--bullet">
  <li>No siginificant updates this week - a few minor corrections to ensure the prototype is ready for user-testing next week (Transition journey, and the recently updated jurisdiction screens in Registration) </li>
</ul>


<h2 class="govuk-heading-m">Week ending Fri 31 Jan 2025 {{ govukTag({
  text: "V7"
}) }}</h2>


<ul class="govuk-list govuk-list--bullet">
  <li>Minor updates to (potential) <a href="/v7/capital-contribution-ideas" class="govuk-link govuk-link--no-visited-state">capital contribution pattern A</a> - making a radio button terminology clearer (from 'Other' to 'Other currency')</li>
  <li>Minor updates to <a href="/v7/limited-partnership-terms" class="govuk-link govuk-link--no-visited-state">What is the term of the partnership?</a> - business has confirmed 'A set term (in years)' was not needed, and the business has now decided the final 3 terms
  <li>Again, from updated business requirements, added extra questions to the <a href="/v7/gp-legal-entity" class="govuk-link govuk-link--no-visited-state">Add a general partner (legal entity)</a> and <a href="/v7/lp-legal-entity" class="govuk-link govuk-link--no-visited-state">Add a limited partner (legal entity)</a> pages, to capture more information around governing law and registration on other registers.</li>
  <li>Added an <a href="https://github.com/alphagov/govuk-design-system-backlog/issues/27" class="govuk-link govuk-link--no-visited-state">'interruption card'</a> which we'll test - this is to <a href="/v7/registration/important-information-about-pscs" class="govuk-link govuk-link--no-visited-state">'warn' users that they'll need to provide Scottish PSC information</a> later, on a different service.</li>
  <li>Explored addition of <a href="https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1738231050580/464d0572ba034bcb1ab09889b7865df2df8845c3" class="govuk-link govuk-link--no-visited-state">the postcode look-up pattern on other address fields in the service (Mural link)</a>.</li>
</ul>

<h2 class="govuk-heading-m">Week ending Fri 24 Jan 2025 {{ govukTag({
  text: "V6"
}) }}</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Added a heading to the text we have on the Start pages around users being able to adjust their devices, on the advice of our Senior Accessibility Specialist. (Example - <a href="/v6/registration/registration-start-page" class="govuk-link govuk-link--no-visited-state">Registration start page</a>). Intent is this text/heading will be on all CH Start pages (user research has consistently proven two things: people who make minor adjustments such as increased text size do not seem themselves as users with accessibility needs, and many people do not realise these adjustments can be made).</li>
  <li>Main focus this week was addresses. Have improved the functionality of the postcode look-up pattern so it's closer to what live will be - users can now opt to enter a manual address and opt to 'adjust' the address the postcode look-up suggests (for example, to add a “C/O” note). On advice of the business we've also re-introduced the <a href="/v6/limited-partnership-jurisdiction" class="govuk-link govuk-link--no-visited-state">Jurisdiction page</a>, because of complexities around rules of where the Registered Office Address and Principal Place Of Business Address must be in relation to the type of company. This Jurisdiction page is dynamic based on <a href="/v6/registration/which-type" class="govuk-link govuk-link--no-visited-state">the type of partnership being registered</a> (Scottish or Eng/Wales/NI)</li>
</ul>


<h2 class="govuk-heading-m">Week ending Fri 17 Jan 2025 {{ govukTag({
  text: "V6"
}) }}</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Main focus was revisiting <a href="/v6/registration-or-transition" class="govuk-link govuk-link--no-visited-state">the 'Transition' journey</a> in the prototype. Checking it still works correctly (it shares pages with the Registration journey). Had to 'remove' some pages (including IDV, Terms of Partnership, SIC codes, Principal Place of Business) and make a few other minor adjustments based on the latest requirements. The aim is to make as much of the design and content across both Transition and Registration as generic as possible so CH does not need to design, build and maintain two versions of each screen.</li>
  <li>Some users are still not understanding the name endings pattern on Registration, trying to click <a href="https://design-system.service.gov.uk/components/text-input/#text-inputs-with-a-suffix" class="govuk-link govuk-link--no-visited-state">the grey suffix box</a>. And we know from conversations with teams on the <a href="https://www.gov.uk/limited-company-formation/register-your-company" class="govuk-link govuk-link--no-visited-state">Register your company</a> service name ending screen, a small minority are still typing in a name ending. So, I designed 3 alternatives: a suffix box which does not look like a button, a select (drop-down) for users to choose a name ending, and swapping the order; name ending first, name second. We will get user feedback on these and monitor the live service when it goes in to see if a change is needed.</li>
  <li>Held a design crit of the Registration service prototype with the interaction design team - got some great feedback, but it was mostly suggestions that are currently not in scope because of project deadlines.</li>
  <li>Alongside the other UCD people working on the project, we showcased the UCD work we have been doing at a User-Centred Design Show and Tell session.</li>
</ul>


<h2 class="govuk-heading-m">Week ending Fri 10 Jan 2025 {{ govukTag({
  text: "V6"
}) }}</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Added a proposed <a href="/v6/registration/check-your-name" class="govuk-link govuk-link--no-visited-state">Confirm your chosen partnership name</a> screen. We know from the Register your company service that a small number of users are still entering a name ending even though we add this for them, MY COMPANY LIMITED LIMITED. We had a very useful session with the internal support team this week and they confirmed this - users who make the mistake need to file a change of name form. This proposed screen will not go in for the first release - we hope that playing back the chosen name (and ending) at the top of screens throughout the rest of the registration journey will be enough for users to realise when a mistake has been made (name is also featured on <a href="/v6/check-your-answers" class="govuk-link govuk-link--no-visited-state">Check your answers</a> of course).</li>
  <li>Alongside the other UCD people working on the project, we showcased the Registration prototype to the internal support team - got some good, useful feedback.</li>
</ul>

<h2 class="govuk-heading-m">Week ending Fri 3 Jan 2025 {{ govukTag({
  text: "V6"
}) }}</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>To ensure more realistic user testing, the sample addresses shown throughout the prototype are now dynamic - either Cardiff or Edinburgh based on <a href="/v6/registration/which-type" class="govuk-link govuk-link--no-visited-state">the type of limited partnership chosen at registration</a>.</li>
  <li>To ensure more realistic user testing, the <a href="/v6/gp-add-another" class="govuk-link govuk-link--no-visited-state">general partners you have added</a> and <a href="/v6/lp-add-another" class="govuk-link govuk-link--no-visited-state">limited partners you have added</a> pages are now slightly dynamic, names entered on the previous screens are shown, and legal entities for both are only shown if one is added</li>
  <li>To ensure more realistic user testing <a href="/v6/check-your-answers" class="govuk-link govuk-link--no-visited-state">Check your answers</a> is slightly more dynamic - showing more of the users actual entered data (for examples, some names and addresses)</li>
  <li>To ensure more realistic user testing, ensured service headers on other services - <a href="/v6/payment-review" class="govuk-link govuk-link--no-visited-state">GOV Pay</a>, <a href="/v6/upload-a-doc/upload-start-page" class="govuk-link govuk-link--no-visited-state">Upload a document</a> etc - are the same as (or close to) the actual services.</li>
  <li>To ensure more realistic user testing, made the content of <a href="/v6/index#emails" class="govuk-link govuk-link--no-visited-state">emails</a> more dynamic, the chosen limited partnership name is shown.</li>
  <li>Allowed users to re-use the limited partnership's registered office address as the general partner's principal office address on the <a href="/v6/gp-legal-entity" class="govuk-link govuk-link--no-visited-state">Add a general partner (legal entity)</a> page - based on info from the business.</li>
</ul>

<h2 class="govuk-heading-m">Week ending Fri 27 Dec 2024 {{ govukTag({
  text: "V6"
}) }}</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Designed <a href="/v6/capital-contribution-ideas" class="govuk-link govuk-link--no-visited-state">two alternative patterns to gather 'capital contribution' data</a> - the first pattern we built based on requirements only catered for a GBP value, but user research showed that users may want to enter a different currency or a non-monetary value.</li>
  <li>Removed identity verification screens (for example, <a href="/v6/idv-filter" class="govuk-link govuk-link--no-visited-state">Identity verification for general partners</a>) from the Registration journey, as updated requirements meant these were no longer in scope.</li>
  <li>A general improvement of the realism of the prototype, while we had time - much more of the users entered data is shown later on in the prototype.</li>
  <li>Prototyped the <a href="/v6/index#upload" class="govuk-link govuk-link--no-visited-state">'Upload a document to Companies House' service</a> where users would supply PSC info for Scottish LPs/PFLPs. Completing this action as part of the main LP service is currently not in scope.</li>
  <li><a href="/v6/limited-partnership-ppob" class="govuk-link govuk-link--no-visited-state">What is the principal place of business?</a> - adjusted the 'different' address pattern. Originally the proposal was for a postcode look-up, but because post-Registration this can be an overseas address, it is more efficient to use a 'standard' address pattern and simply make the County field dynamic (hidden at Registration because addresses need to be in the UK, shown post-Registration because the address can be overseas)</li>
  <li>Added in the Welsh language toggle - unlikely to be functional in the prototype.</li>
  <li>Updated service banner on payment screens, for example <a href="v6/payment-review" class="govuk-link govuk-link--no-visited-state">Payment review</a>. These screens are separate to the main service and so cannot yet use <a href="https://design-system.service.gov.uk/components/service-navigation/#showing-your-service-name-only" class="govuk-link govuk-link--no-visited-state">the new service name pattern</a>. Note, these screens should include <a href="https://design-system.service.gov.uk/components/header/#govuk-header-with-service-name" class="govuk-link govuk-link--no-visited-state">the service name in the black GOV header</a>, but don't at the time of writing.</li>
  <li>Added in the option to submit a second nationality on the <a href="/v6/gp-person" class="govuk-link govuk-link--no-visited-state">Add a general partner (person)</a> and <a href="/v6/lp-person" class="govuk-link govuk-link--no-visited-state">Add a limited partner (person)</a> screens, based on new requirements.</li>
  </ul>

        </div>
      </div>
    {% endblock %}
