{% extends "layouts/main.html" %}

{% set pageName="Apply to become a private fund limited partnership (PFLP)" %}







{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
 {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link-language-toggle.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="confirmation-change-type" method="post" class="form">
          <span class="govuk-caption-l">ACME LIMITED PARTNERSHIP ({{ data['lpNumber'] or "SL012345" }})</span>

        <h1 class="govuk-heading-xl">
          Apply for designation as a private fund limited partnership (PFLP)  <!-- if changing this, update pageName above-->
        </h1>

        <p class="govuk-body">A limited partnership can be designated as a PFLP if it is constituted by an agreement in writing and is a collective investment scheme.
          <p>Becoming a PFLP means that:
          </p>
<ul class="govuk-list govuk-list--bullet">
  <li>Limited partners will no longer be required to contribute capital</li>
  <li>Limited partners can appoint a person to wind up the partnership if there is no general partner available to do so</li>
  <li>Partners can make an agreement about winding up the partnership</li>
  <li>Limited partners may take more actions without risking losing their limited liability status</li>
  <li>Some administrative requirements will be removed</li>
  <li>The partnership will no longer qualify as a ‘partnership scheme’, and therefore cannot be an authorised contractual scheme under section 235A(6)(aa) of the Financial Services and Markets Act 2000</li>
</ul>
<p class="govuk-body ">Find more information in the <a href="https://www.legislation.gov.uk/uksi/2017/514/article/2/made" class="govuk-link">Legislative Reform (Private Fund Limited Partnerships) Order 2017</a>.</p>
          <p>It costs £30 to apply.</p>
   

            

              {{ govukCheckboxes({
                name: "confirmChange",
                fieldset: {
                  legend: {
                    text: "Confirm you want to change the type of partnership",
                    isPageHeading: true,
                    classes: "govuk-visually-hidden"
                  }
                },
                items: [
                  {
                    value: "confirmChangeType",
                    text: "I/We apply for this firm to be designated as a private fund limited partnership. For that purpose, I confirm that the partnership is constituted by an agreement in writing and is a collective investment scheme within the meaning of
                    section 8D(4) of the Limited Partnerships Act 1907"
                  }
                ]
              }) }}

              {{ govukCheckboxes({
                name: "confirmChange",
                fieldset: {
                  legend: {
                    text: "Confirm you want to change the type of partnership",
                    isPageHeading: true,
                    classes: "govuk-visually-hidden"
                  }
                },
                items: [
                  {
                    value: "confirmChangeType",
                    text: "I confirm that all general partners have agreed for this application to be made"
                  }
                ]
              }) }}
       

  
   {{ govukButton({
          text: "Continue to payment"
        }) }}      

    


      </form>

    </div>
    <!--govuk-grid-row-->

    <!--govuk-grid-column-two-thirds-->
  </div>
  <!--govuk-grid-column-two-thirds-->

</main>
</div>
<!---govuk-width-container-->

{% endblock %}