{% extends "layouts/main.html" %}

{% set pageName="Is the limited partner a person or legal entity?" %}

{% block header %}
   {% include "/includes/dynamic-service-name.html" %}
{% endblock %}

{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
 {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link.html" %}
{% endblock %}





{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/limited-partner-choice" method="post">



{% if (data['registrationOrTransition'] == "registration") %}
  <span class="govuk-caption-l uppercase"> {{ data['lpChooseName'] }} {{ data['nameEnding'] }}</span>
{% else %}  
  <span class="govuk-caption-l">ACME LIMITED PARTNERSHIP ({{ data['lpNumber'] }})   </span>
{% endif %}

{% if data['registrationOrTransition'] == "post" %}

{{ govukRadios({
  name: "limitedPartner",
  value: data['limitedPartner'],
  fieldset: {
    legend: {
      text: "Is the limited partner a person or a legal entity?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  items: [
    {
      value: "person",
      text: "A person"
    },
    {
      value: "entity",
      text: "A legal entity"
    }
  ]
}) }}
{% else %}
{{ govukRadios({
  name: "limitedPartner",
  value: data['limitedPartner'],
  fieldset: {
    legend: {
      text: "Is the limited partner a person or a legal entity?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  hint: {
    text: "You can add more later."
  },
  items: [
    {
      value: "person",
      text: "A person"
    },
    {
      value: "entity",
      text: "A legal entity"
    }
  ]
}) }}

{% endif %}
      
{% if data['registrationOrTransition'] == "post" %}
  {% set buttonText = "Continue" %}
{% else %}
  {% set buttonText = "Save and continue" %}
{% endif %}

{{ govukButton({
  text: buttonText
}) }}

</form>
    </div>
  </div>
{% endblock %}
