{% extends "layouts/main.html" %}

{% set pageName="Title to be added" %}


{% block beforeContent %}
  {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link.html" %}
{% endblock %}





{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="lp-statement" method="post">


{{ govukCheckboxes({
  name: "waste",
  fieldset: {
    legend: {
      text: "Title to be added", 
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  items: [
    {
      value: "lp-statement",
      text: "Some legal wording"
    }
  ]
}) }}

    {{ govukButton({
  text: "Save and continue"
}) }}  



</form>
    </div>
  </div>
{% endblock %}
