{% extends "layouts/main.html" %}

{% set pageName="Which type of partnership do you want to register" %}


{% block beforeContent %}
  {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link.html" %}
{% endblock %}





{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="lp-name" method="post">



{% if (data['registeredScotland'] == "yes") %}

{{ govukRadios({
  classes: "govuk-radios",
  name: "registerType",
  fieldset: {
    legend: {
      text: "Which type of partnership do you want to register?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  hint: {
    text: "A hint, if needed."
  },
  items: [
    {
      value: "registerSlp",
      text: "Scottish limited partnership"
    },
    {
      value: "registerPflp",
      text: "Private fund limited partnership"
    },
    {
      value: "registerSqp",
      text: "Scottish qualifying partnership"
    }
  ]
}) }}

{% else %}



{{ govukRadios({
  classes: "govuk-radios",
  name: "registerType",
  fieldset: {
    legend: {
      text: "Which type of partnership do you want to register?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  hint: {
    text: "A hint, if needed."
  },
  items: [
    {
      value: "registerLp",
      text: "Limited Partnership"
    },
    {
      value: "RegisterPflp",
      text: "Private fund limited partnership"
    }
  ]
}) }}

{% endif %}



    {{ govukButton({
  text: "Save and continue"
}) }}  



</form>
    </div>
  </div>
{% endblock %}
